# <center>  Summary Statistics

Competition Link: https://www.kaggle.com/c/recruit-restaurant-visitor-forecasting

In [2]:
# import modules
import pandas as pd


# import data
air_reserve = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/3xnxz51tzcoem0z/air_reserve.csv?dl=1'))
air_store_info = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/xqo6jrg3iz9360q/air_store_info.csv?dl=1'))
air_visit_data = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/26lrsrz8un1inpp/air_visit_data.csv?dl=1'))
data_info = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/ocju3w0aul6ysfq/date_info.csv?dl=1'))
hpg_reserve = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/vcp119hyyt97ltn/hpg_reserve.csv?dl=1'))
hpg_store_info = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/wjdb5cvfcahgfbo/hpg_store_info.csv?dl=1'))
store_id = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/evkqz8cksj6hrb3/store_id_relation.csv?dl=1'))

sample_submission = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/w1h9817etxxff4w/sample_submission.csv?dl=1'))

# set pandas options

pd.set_option('max_columns',1000)
pd.set_option('max_rows',1000)

In [81]:
sample_submission.shape

(32019, 2)

In [52]:
sample_submission.sample(10)

                                    id  visitors
4849   air_2b9bc9f5f5168ea1_2017-05-06         0
105    air_0241aa3964b7f861_2017-05-20         0
16288  air_86f7b2109e4abd65_2017-05-18         0
3575   air_232dcee6f7c51d37_2017-05-19         0
7205   air_3e93f3c81008696d_2017-05-22         0
5961   air_349278fa964bb12f_2017-05-26         0
21192  air_a563896da3777078_2017-05-08         0
30734  air_f4936b91c9addbf0_2017-04-25         0
19630  air_9b6af3db40da4ae2_2017-05-06         0
28438  air_e270aff84ac7e4c8_2017-04-30         0

In [4]:
air_reserve.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [5]:
air_store_info.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [6]:
air_visit_data.head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

In [7]:
data_info.head()

  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

In [8]:
hpg_reserve.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

In [9]:
hpg_store_info.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

In [10]:
store_id.head()

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7

### <center> AirREGI Summary Statistics
##### Air_Reserve

In [22]:
air_reserve.shape

(92378, 4)

In [27]:
air_reserve.describe().T

                    count      mean       std  min  25%  50%  75%    max
reserve_visitors  92378.0  4.481749  4.919669  1.0  2.0  3.0  5.0  100.0

In [24]:
air_reserve.visit_datetime.max()

'2017-05-31 21:00:00'

In [25]:
air_reserve.visit_datetime.min()

'2016-01-01 19:00:00'

In [29]:
air_reserve.reserve_datetime.max()

'2017-04-22 23:00:00'

In [67]:
air_reserve.reserve_datetime.min()

'2016-01-01 01:00:00'

In [68]:
air_reserve.isnull().sum()

air_store_id        0
visit_datetime      0
reserve_datetime    0
reserve_visitors    0
dtype: int64

##### air_store_info

In [32]:
air_store_info[['latitude','longitude']].describe()

         latitude   longitude
count  829.000000  829.000000
mean    35.647042  137.415311
std      2.084659    3.650971
min     33.211967  130.195555
25%     34.695124  135.341564
50%     35.658068  139.685474
75%     35.694003  139.751599
max     44.020632  144.273398

In [40]:
air_store_info.air_genre_name.value_counts().head(30)

Izakaya                         197
Cafe/Sweets                     181
Dining bar                      108
Italian/French                  102
Bar/Cocktail                     79
Japanese food                    63
Other                            27
Yakiniku/Korean food             23
Western food                     16
Okonomiyaki/Monja/Teppanyaki     14
Creative cuisine                 13
International cuisine             2
Asian                             2
Karaoke/Party                     2
Name: air_genre_name, dtype: int64

In [37]:
air_store_info.air_area_name.value_counts().head(30)

Fukuoka-ken Fukuoka-shi Daimyō                   64
Tōkyō-to Shibuya-ku Shibuya                      58
Tōkyō-to Minato-ku Shibakōen                     51
Tōkyō-to Shinjuku-ku Kabukichō                   39
Tōkyō-to Setagaya-ku Setagaya                    30
Tōkyō-to Chūō-ku Tsukiji                         29
Ōsaka-fu Ōsaka-shi Ōgimachi                      25
Hiroshima-ken Hiroshima-shi Kokutaijimachi       23
Tōkyō-to Meguro-ku Kamimeguro                    22
Hokkaidō Sapporo-shi Minami 3 Jōnishi            21
Tōkyō-to Suginami-ku Asagayaminami               21
Tōkyō-to Chiyoda-ku Kudanminami                  20
Ōsaka-fu Ōsaka-shi Kyūtarōmachi                  19
Hyōgo-ken Kōbe-shi Kumoidōri                     17
Miyagi-ken Sendai-shi Kamisugi                   17
Tōkyō-to Taitō-ku Higashiueno                    16
Fukuoka-ken Fukuoka-shi Hakata Ekimae            16
Tōkyō-to Chūō-ku Ginza                           14
Shizuoka-ken Hamamatsu-shi Motoshirochō          13
Hokkaidō Asahikawa-shi 6 Jōdōri                  13
Tōkyō-to Toshima-ku Minamiikebukuro              12
Hyōgo-ken Kakogawa-shi Kakogawachō Kitazaike     10
Ōsaka-fu Ōsaka-shi Shinmachi                     10
Tōkyō-to Kōtō-ku Tōyō                             9
Hyōgo-ken Himeji-shi Yasuda                       9
Tōkyō-to Minato-ku Akasaka                        8
Fukuoka-ken Itoshima-shi Maebarunishi             7
Hiroshima-ken Fukuyama-shi Higashisakuramachi     7
Niigata-ken Niigata-shi Gakkōchōdōri 1 Banchō     7
Fukuoka-ken Fukuoka-shi Shiobaru                  7
Name: air_area_name, dtype: int64

In [70]:
air_store_info.isnull().sum()

air_store_id      0
air_genre_name    0
air_area_name     0
latitude          0
longitude         0
dtype: int64

##### air_visit_data

In [42]:
air_visit_data.visit_date.max()

'2017-04-22'

In [43]:
air_visit_data.visit_date.min()

'2016-01-01'

In [49]:
air_visit_data.describe()

            visitors
count  252108.000000
mean       20.973761
std        16.757007
min         1.000000
25%         9.000000
50%        17.000000
75%        29.000000
max       877.000000

In [72]:
air_visit_data.isnull().sum()

air_store_id    0
visit_date      0
visitors        0
dtype: int64

# <center> Hot Pepper Gourmet Review Summary Statistics
### hpg reserve

In [53]:
hpg_reserve.shape

(2000320, 4)

In [54]:
hpg_reserve.describe().T

                      count      mean       std  min  25%  50%  75%    max
reserve_visitors  2000320.0  5.073785  5.416172  1.0  2.0  3.0  6.0  100.0

In [55]:
hpg_reserve.visit_datetime.max()

'2017-05-31 23:00:00'

In [57]:
hpg_reserve.visit_datetime.min()

'2016-01-01 11:00:00'

In [58]:
hpg_reserve.reserve_datetime.max()

'2017-04-22 23:00:00'

In [59]:
hpg_reserve.reserve_datetime.min()

'2016-01-01 00:00:00'

In [73]:
hpg_reserve.isnull().sum()

hpg_store_id        0
visit_datetime      0
reserve_datetime    0
reserve_visitors    0
dtype: int64

##### hpg_store_info

In [60]:
hpg_store_info[['latitude','longitude']].describe()

          latitude    longitude
count  4690.000000  4690.000000
mean     35.810261   137.675816
std       2.138755     3.197233
min      33.311645   130.339313
25%      34.692109   135.498859
50%      35.659214   139.495733
75%      35.703381   139.737998
max      43.774846   143.714585

In [62]:
hpg_store_info.hpg_genre_name.value_counts().head(30)

Japanese style                  1750
International cuisine            700
Creation                         410
Seafood                          339
Grilled meat                     325
Italian                          249
Spain Bar/Italian Bar            229
Chinese general                   91
Japanese food in general          85
Japanese cuisine/Kaiseki          64
Karaoke                           60
Creative Japanese food            60
Shabu-shabu/Sukiyaki              59
Okonomiyaki/Monja/Teppanyaki      44
Party                             40
Korean cuisine                    38
French                            27
Steak/Hamburger/Curry             24
Bistro                            22
Cafe                              16
Sushi                             11
Pasta/Pizza                       10
Bar/Cocktail                       7
Amusement bar                      5
Thai/Vietnamese food               5
Western food                       5
Cantonese food                     4
Sichuan food                       3
Dim Sum/Dumplings                  2
Sweets                             2
Name: hpg_genre_name, dtype: int64

In [63]:
hpg_store_info.hpg_area_name.value_counts().head(30)

Tōkyō-to Shinjuku-ku None                  257
Tōkyō-to Chūō-ku Ginza                     198
Hyōgo-ken Kōbe-shi None                    163
Ōsaka-fu Ōsaka-shi Shinsaibashisuji        150
Osaka Prefecture Osaka None                145
Hiroshima-ken Hiroshima-shi Hondōri        135
Tōkyō-to Shibuya-ku None                   127
Tōkyō-to Minato-ku Takanawa                122
Tōkyō-to Toshima-ku None                   119
None None None                             117
Tōkyō-to Hachiōji-shi Ishikawamachi        114
Hokkaidō Sapporo-shi Minami 4 Jōnishi      110
Tōkyō-to Taitō-ku None                     100
Shizuoka-ken Hamamatsu-shi Sukenobuchō      90
Fukuoka-ken Fukuoka-shi None                90
Tōkyō-to Chiyoda-ku None                    89
Tōkyō-to Sumida-ku Tachibana                86
Tōkyō-to Chūō-ku None                       86
Hokkaidō Sapporo-shi None                   84
Shizuoka-ken Shizuoka-shi Hinodechō         79
Tōkyō-to Minato-ku Roppongi                 78
Tōkyō-to Machida-shi Nakamachi              74
Miyagi-ken Sendai-shi Ichibanchō            73
Fukuoka-ken Fukuoka-shi Hakata Ekimae       66
Ōsaka-fu Ōsaka-shi Awajimachi               66
Fukuoka-ken Kitakyūshū-shi Sunatsu          65
Hyōgo-ken Himeji-shi Tsuchiyama             63
Kanagawa-ken Yokohama-shi Nagatsutachō      61
Hiroshima-ken Hiroshima-shi Yokogawachō     60
Tōkyō-to Hino-shi Nishihirayama             58
Name: hpg_area_name, dtype: int64

In [74]:
hpg_store_info.isnull().sum()

hpg_store_id      0
hpg_genre_name    0
hpg_area_name     0
latitude          0
longitude         0
dtype: int64

### Store ID's

In [66]:
store_id

             air_store_id          hpg_store_id
0    air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1    air_a24bf50c3e90d583  hpg_c34b496d0305a809
2    air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3    air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4    air_965b2e0cf4119003  hpg_653238a84804d8e7
5    air_a38f25e3399d1b25  hpg_50378da9ffb9b6cd
6    air_3c938075889fc059  hpg_349b1b92f98b175e
7    air_68301bcb11e2f389  hpg_2c09f3abb2220659
8    air_5f6fa1b897fe80d5  hpg_40aff6385800ebb1
9    air_00a91d42b08b08d9  hpg_fbe603376b5980fc
10   air_ef789667e2e6fe96  hpg_f76ad2d2d0134bdd
11   air_e89735e80d614a7e  hpg_b0cbb707b862dde7
12   air_8f3b563416efc6ad  hpg_d12fb3b2b4129cd6
13   air_0a74a5408a0b8642  hpg_2ded824e690c414a
14   air_97958e7fce98b6a3  hpg_69bfc004fd50cd31
15   air_48f4da6223571da4  hpg_832ba309e6699258
16   air_ee3ba9af184c6c82  hpg_fc892fe8d342a787
17   air_b2d97bd2337c5ba7  hpg_67c2b78265118491
18   air_32b02ba5dc2027f4  hpg_168a90866d6e606d
19   air_646b93e336f0dded  hpg_b3de3ba6437e5a11
20   air_4cca5666eaf5c709  hpg_f83413cde79ac5e7
21   air_55c3627912b9c849  hpg_9d140ea335b9efd4
22   air_25c583983246b7b0  hpg_66733016f2ac9ee8
23   air_08ef81d5b7a0d13f  hpg_ba2ce254969629b8
24   air_f2c5a1f24279c531  hpg_9668001cf2b8dc74
25   air_fcfbdcf7b1f82c6e  hpg_0b53e00789c2eafe
26   air_fcd4492c83f1c6b9  hpg_218a1ea95def8ea3
27   air_b45b8e456f53942a  hpg_a85b37424291216b
28   air_90f0efbb702d77b7  hpg_1f7bc96cada52483
29   air_2fc478dc9f0a6b31  hpg_2d0a73d3f1cb646d
30   air_b9e27558fb8bd5c4  hpg_43a5666d1b6fa70b
31   air_c225148c0fcc5c72  hpg_ee424bb170e133f1
32   air_2aab19554f91ff82  hpg_cac091abfcee2a85
33   air_6b2268863b14a2af  hpg_7664eec3cd802c91
34   air_9ca2767761efff4d  hpg_862f52f31619479d
35   air_04cae7c1bc9b2a0b  hpg_1803b7bed3a5927e
36   air_1033310359ceeac1  hpg_8072ff2fb418e273
37   air_db1233ad855b34d5  hpg_3ebbe4996edd55d5
38   air_7cc17a324ae5c7dc  hpg_9b38b9e13da6da27
39   air_52a08ef3efdb4bb0  hpg_ac422bf2686e23b5
40   air_bcce1ea4350b7b72  hpg_3347c0399df81142
41   air_de88770300008624  hpg_a786d63904735f58
42   air_e657ca554b0c008c  hpg_5c05683a8f326588
43   air_c3585b0fba3998d0  hpg_0db6a8b36006942a
44   air_0867f7bebad6a649  hpg_caf1082b9f445c7b
45   air_89e7328af22efe74  hpg_2cad4924680c2a1e
46   air_900d755ebd2f7bbd  hpg_2864fa16b03e3813
47   air_7420042ff75f9aca  hpg_7459535472b27200
48   air_e00fe7853c0100d6  hpg_d59fec517d99991f
49   air_84f6876ff7e83ae7  hpg_0f78ef8d1e4b23d8
50   air_db4b38ebe7a7ceff  hpg_bcecaa70222d94e5
51   air_af63df35857b16e6  hpg_71765891f7a4ac62
52   air_290e7a57b390f78e  hpg_c5ec63f52e4a7e9e
53   air_c759b6abeb552160  hpg_e6d06810b701ab12
54   air_cc1a0e985ce63711  hpg_e29b78a4955b72f5
55   air_bebd55ed63ab2422  hpg_5014838c16a831ad
56   air_6b15edd1b4fbb96a  hpg_babe2c3d962d7bb6
57   air_638c35eb25e53eea  hpg_f07ec7b288165b27
58   air_37189c92b6c761ec  hpg_2e10e1956528199a
59   air_b4f32bcc399da2b9  hpg_95875f687b36070f
60   air_c1ff20617c54fee7  hpg_4be4a5cb851e45af
61   air_cf2229e64408d9fe  hpg_e41e0f2c318dd8e4
62   air_ba495cccc8f0f237  hpg_eaa312b3100ae94b
63   air_3e6cea17a9d2c0f1  hpg_47c5b2b16a840e89
64   air_8093d0b565e9dbdf  hpg_874415e6e7ccfe13
65   air_28064154614b2e6c  hpg_2ecfd31844d0ba36
66   air_fe22ef5a9cbef123  hpg_ee8cad9cd96718da
67   air_cb7467aed805e7fe  hpg_aa7dfdc68a0a879c
68   air_938ef91ecdde6878  hpg_623477d346cf1822
69   air_152c1f08d7d20e07  hpg_da3fb5d63e69a5fa
70   air_90213bcae4afa274  hpg_33df7b58b0f9d93f
71   air_54d6c25d33f5260e  hpg_62b71ee3f3c120c4
72   air_4c727b55acdee495  hpg_26d20b9f926ff5e9
73   air_8cc350fd70ee0757  hpg_503ea5f7ab4a8c2c
74   air_42d41eb58cad170e  hpg_70f700e5a6148b7e
75   air_f0fb0975bdc2cdf9  hpg_0cd7a0f13e73b043
76   air_97159fc4e90053fe  hpg_dc52241f21eb95f6
77   air_5a9a6cbeeb434c08  hpg_cad1acd4374ceaa1
78   air_4570f52104fe0982  hpg_806d24a6468f6709
79   air_15ae33469e9ea2dd  hpg_fa4eeada9ad7b59f
80   air_db80363d35f10926  hpg_878cc70b1abc76f7
81   air_627cabe2fe53f33f  hpg_77706f491ca5a090
82   air_683371d9baabf410  hpg_7dae95f9d3db1734
83   air_800c02226e2e0288  hpg_786d526a899b4933
84   air_96005f79124e12bf  hpg_51fab1683266cd55
85   air_ade6e836ffd1da64  hpg_cd98b0cad88f7123
86   air_e270aff84ac7e4c8  hpg_8d472b917afb2cd9
87   air_6e3fd96320d24324  hpg_3f89e343b3e1d336
88   air_f180301886c21375  hpg_381bc6f038ec3ea8
89   air_5d7c744c3a2ef624  hpg_0ec6bec1ee303329
90   air_754ae581ad80cc9f  hpg_625efd16f722d4f4
91   air_8e492076a1179383  hpg_aee92538e1b51d5f
92   air_7ef9a5ea5c8fe39f  hpg_8afe014b4a994a79
93   air_cfcc94797d2b5d3d  hpg_dad8da3ff443ba1a
94   air_c73d319ffabf287a  hpg_e8f879fcbf993278
95   air_640cf4835f0d9ba3  hpg_e63863c8987bd064
96   air_324f7c39a8410e7c  hpg_03946d6b6b1e0332
97   air_2cee51fa6fdf6c0d  hpg_113fd6e4fa77800f
98   air_258ad2619d7bff9a  hpg_e87d00be48cd91c6
99   air_42c9aa6d617c5057  hpg_053676b196ae1e1e
100  air_2b8b29ddfd35018e  hpg_2d4200d0ebdb4946
101  air_bedd35489e666605  hpg_8f5331198ed1781d
102  air_eec5e572b9eb9c23  hpg_e6594f29f40fe2aa
103  air_0b1e72d2d4422b20  hpg_9fe427339d77b421
104  air_b2a639cc7e02edf1  hpg_359983294ef1467d
105  air_1c0b150f9e696a5f  hpg_68e6c301c14211ee
106  air_4433ab8e9999915f  hpg_a214a6b219c6649c
107  air_3980af67be35afdb  hpg_7819244b4f2e0def
108  air_066f0221b8a4d533  hpg_2777ed87df2eef7a
109  air_fc477473134e9ae5  hpg_3c41f028563beac3
110  air_375a5241615b5e22  hpg_a284bcfadc49db95
111  air_fea5dc9594450608  hpg_6507818140022452
112  air_5e70fe82f9e4fab6  hpg_0a8cb1f2f6e27889
113  air_c47aa7493b15f297  hpg_03795a62e1c5f1c3
114  air_3e93f3c81008696d  hpg_c2a8494d55fafbd6
115  air_990a642a3deb2903  hpg_719d08c3b7225154
116  air_5c7489c9ec755e2d  hpg_0a587f3924c8093c
117  air_bb09595bab7d5cfb  hpg_aea428a1075052bf
118  air_a546cbf478a8b6e4  hpg_7f25667859876495
119  air_54ed43163b7596c4  hpg_583dddac1a035048
120  air_9241121af22ff1d6  hpg_49dbe1fd79450e55
121  air_5acc13d655a6e8b2  hpg_1f9643b5673938d9
122  air_831658500aa7c846  hpg_f39996d4f0ebcb64
123  air_622375b4815cf5cb  hpg_ab64d4038f396dc3
124  air_968d72c12eed09f0  hpg_4dabe28f13a5b993
125  air_fdc02ec4a3d21ea4  hpg_528734c946fae58b
126  air_789466e488705c93  hpg_4ca41b70c41bc844
127  air_2a485b92210c98b5  hpg_dd709beb78198f38
128  air_6b942d5ebbc759c2  hpg_3253426a007cf3eb
129  air_1d1e8860ae04f8e9  hpg_2fcae64da5287bf5
130  air_707d4b6328f2c2df  hpg_7acec6bb6ec9d98e
131  air_32c61b620a766138  hpg_d5ca709664abea20
132  air_082908692355165e  hpg_b8715d0ac52b1763
133  air_7514d90009613cd6  hpg_08def9f764fcca4c
134  air_cbe867adcf44e14f  hpg_0183ec352e38903c
135  air_1f1390a8be2272b3  hpg_306ff4d17f7a1efd
136  air_f690c42545146e0a  hpg_0dc016db530f5c33
137  air_96743eee94114261  hpg_a9d42bc9b56916f4
138  air_6c91a28278a16f64  hpg_945c2807cef88022
139  air_d00161e19f08290b  hpg_05fada27f04e4383
140  air_f96765e800907c77  hpg_265bd3fe806f8b6e
141  air_08cb3c4ee6cd6a22  hpg_dc639640420bde5f
142  air_32460819c7600037  hpg_ac318be70910278f
143  air_c6a164dd4060e960  hpg_8ce73856596a7794
144  air_09661c0f3259cc04  hpg_ef517ab154f66a8e
145  air_b8925441167c3152  hpg_0cc0abae3a8b52de
146  air_f8233ad00755c35c  hpg_098e4dd30e54fee6
147  air_6607fe3671242ce3  hpg_1004356dc8ab69ec
148  air_ccd19a5bc5573ae5  hpg_df22bf146d2c7e19
149  air_465bddfed3353b23  hpg_23c5945dc1a72454

Author: Kavi