# <center>  Wrangling the Data
Competition Link: https://www.kaggle.com/c/recruit-restaurant-visitor-forecasting

In [50]:
# import modules
import pandas as pd
from tqdm import * 

# import data
air_reserve = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/xbaofzzdtyky2r2/air_reserve.csv?dl=1'))
air_store_info = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/zevll8p6dwhcv0u/air_store_info.csv?dl=1'))
air_visit_data = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/sln3ut6unrawq7z/air_visit_data.csv?dl=1'))
data_info = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/jg845ld2javd4lj/date_info.csv?dl=1'))
hpg_reserve = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/zpembfgmhds433h/hpg_reserve.csv?dl=1'))
hpg_store_info = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/g6bbc3uya6qg3wt/hpg_store_info.csv?dl=1'))
store_id = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/5xowsufv256y1au/store_id_relation.csv?dl=1'))

sample_submission = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/uk2qn4rz4ktawxj/sample_submission.csv?dl=1'))

# set pandas options

pd.set_option('max_columns',1000)
pd.set_option('max_rows',1000)

In [51]:
sample_submission.shape

(32019, 2)

In [52]:
sample_submission.tail(10)

                                    id  visitors
32009  air_fff68b929994bfbd_2017-05-22         0
32010  air_fff68b929994bfbd_2017-05-23         0
32011  air_fff68b929994bfbd_2017-05-24         0
32012  air_fff68b929994bfbd_2017-05-25         0
32013  air_fff68b929994bfbd_2017-05-26         0
32014  air_fff68b929994bfbd_2017-05-27         0
32015  air_fff68b929994bfbd_2017-05-28         0
32016  air_fff68b929994bfbd_2017-05-29         0
32017  air_fff68b929994bfbd_2017-05-30         0
32018  air_fff68b929994bfbd_2017-05-31         0

In [53]:
air_reserve.head()

           air_store_id    visit_datetime  reserve_datetime  reserve_visitors
0  air_877f79706adbfb06  2016-01-01 19:00  2016-01-01 16:00                 1
1  air_db4b38ebe7a7ceff  2016-01-01 19:00  2016-01-01 19:00                 3
2  air_db4b38ebe7a7ceff  2016-01-01 19:00  2016-01-01 19:00                 6
3  air_877f79706adbfb06  2016-01-01 20:00  2016-01-01 16:00                 2
4  air_db80363d35f10926  2016-01-01 20:00   2016-01-01 1:00                 5

In [54]:
air_store_info.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [55]:
air_visit_data.head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

In [56]:
data_info.head()

  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

In [57]:
hpg_reserve.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

In [58]:
hpg_store_info.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

In [59]:
store_id.head()

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7

### Wrangling AIR Point of Sale Data

In [60]:
reserve = store_id
reserve = reserve.merge(hpg_store_info)
reserve = reserve.merge(hpg_reserve)
reserve = pd.DataFrame(reserve)
reserve.head()

,air_store_id,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude,visit_datetime,reserve_datetime,reserve_visitors
0,air_a24bf50c3e90d583,hpg_c34b496d0305a809,Italian,Shizuoka-ken Hamamatsu-shi Sukenobuchō,34.721644,137.738944,2016-01-06 19:00:00,2016-01-06 13:00:00,2
1,air_a24bf50c3e90d583,hpg_c34b496d0305a809,Italian,Shizuoka-ken Hamamatsu-shi Sukenobuchō,34.721644,137.738944,2016-01-07 21:00:00,2016-01-03 19:00:00,6
2,air_a24bf50c3e90d583,hpg_c34b496d0305a809,Italian,Shizuoka-ken Hamamatsu-shi Sukenobuchō,34.721644,137.738944,2016-01-08 19:00:00,2016-01-07 14:00:00,2
3,air_a24bf50c3e90d583,hpg_c34b496d0305a809,Italian,Shizuoka-ken Hamamatsu-shi Sukenobuchō,34.721644,137.738944,2016-01-09 19:00:00,2016-01-02 21:00:00,2
4,air_a24bf50c3e90d583,hpg_c34b496d0305a809,Italian,Shizuoka-ken Hamamatsu-shi Sukenobuchō,34.721644,137.738944,2016-01-09 19:00:00,2016-01-07 09:00:00,2

In [61]:
visits_reserve = store_id
visits_reserve = visits_reserve.merge(air_store_info)
visits_reserve = visits_reserve.merge(air_visit_data)
visits_reserve = visits_reserve.merge(air_reserve)
visits_reserve = visits_reserve.merge(data_info, left_on='visit_date',
                      right_on='calendar_date')
visits_reserve = pd.DataFrame(visits_reserve )
visits_reserve.head(4)

,air_store_id,hpg_store_id,air_genre_name,air_area_name,latitude,longitude,visit_date,visitors,visit_datetime,reserve_datetime,reserve_visitors,calendar_date,day_of_week,holiday_flg
0,air_63b13c56b7201bd9,hpg_4bc649e72e2a239a,Cafe/Sweets,Fukuoka-ken Fukuoka-shi Daimyō,33.586994,130.394894,2016-01-02,12,2017-02-10 13:00,2017-02-09 14:00,5,2016-01-02,Saturday,1
1,air_63b13c56b7201bd9,hpg_4bc649e72e2a239a,Cafe/Sweets,Fukuoka-ken Fukuoka-shi Daimyō,33.586994,130.394894,2016-01-02,12,2017-02-10 13:00,2017-02-09 14:00,5,2016-01-02,Saturday,1
2,air_63b13c56b7201bd9,hpg_4bc649e72e2a239a,Cafe/Sweets,Fukuoka-ken Fukuoka-shi Daimyō,33.586994,130.394894,2016-01-02,12,2017-02-11 12:00,2017-02-09 15:00,3,2016-01-02,Saturday,1
3,air_63b13c56b7201bd9,hpg_4bc649e72e2a239a,Cafe/Sweets,Fukuoka-ken Fukuoka-shi Daimyō,33.586994,130.394894,2016-01-02,12,2017-02-11 12:00,2017-02-09 15:00,2,2016-01-02,Saturday,1

### Null Value Check

In [62]:
reserve.isnull().sum()

air_store_id        0
hpg_store_id        0
hpg_genre_name      0
hpg_area_name       0
latitude            0
longitude           0
visit_datetime      0
reserve_datetime    0
reserve_visitors    0
dtype: int64

In [63]:
visits_reserve.isnull().sum()

air_store_id        0
hpg_store_id        0
air_genre_name      0
air_area_name       0
latitude            0
longitude           0
visit_date          0
visitors            0
visit_datetime      0
reserve_datetime    0
reserve_visitors    0
calendar_date       0
day_of_week         0
holiday_flg         0
dtype: int64

### Exploring Joint Systems

In [64]:
len(reserve)

13528

In [65]:
len(visits_reserve)

11603602

### Step Wise Merge
Not enough memory on my local machine to perform the entire merge at once

In [66]:
reserve.head(1)

,air_store_id,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude,visit_datetime,reserve_datetime,reserve_visitors
0,air_a24bf50c3e90d583,hpg_c34b496d0305a809,Italian,Shizuoka-ken Hamamatsu-shi Sukenobuchō,34.721644,137.738944,2016-01-06 19:00:00,2016-01-06 13:00:00,2

In [67]:
visits_reserve.head(1)

,air_store_id,hpg_store_id,air_genre_name,air_area_name,latitude,longitude,visit_date,visitors,visit_datetime,reserve_datetime,reserve_visitors,calendar_date,day_of_week,holiday_flg
0,air_63b13c56b7201bd9,hpg_4bc649e72e2a239a,Cafe/Sweets,Fukuoka-ken Fukuoka-shi Daimyō,33.586994,130.394894,2016-01-02,12,2017-02-10 13:00,2017-02-09 14:00,5,2016-01-02,Saturday,1

In [68]:
reserve.iloc[0:0+1]

,air_store_id,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude,visit_datetime,reserve_datetime,reserve_visitors
0,air_a24bf50c3e90d583,hpg_c34b496d0305a809,Italian,Shizuoka-ken Hamamatsu-shi Sukenobuchō,34.721644,137.738944,2016-01-06 19:00:00,2016-01-06 13:00:00,2

In [69]:
len(reserve)

13528

In [ ]:
df = pd.DataFrame()
for i in tqdm(range(0,len(reserve))):
  marginal_merge = reserve.iloc[i:i+1].merge(reserve,  left_on='hpg_store_id', 
                                             right_on='hpg_store_id',how='left')
  df = pd.concat([df,marginal_merge], axis=0 )

 93%|█████████▎| 12617/13528 [3:21:43<28:30,  1.88s/it]

In [ ]:
df.shape

In [ ]:
df.head(5)

### Exporting the Data

In [96]:
print('Starting Export')
visits_reserve.to_csv('Data/visits_reserve.csv', index=False)
reserve.to_csv('Data/reserve.csv', index=False)
df.to_csv('Data/air_hpg_reserveations.csv', index=False)
print('Done Export')

Starting Export
Done Export

Author: Kavi