# <center>  Wrangling the Data
Competition Link: https://www.kaggle.com/c/recruit-restaurant-visitor-forecasting

In [2]:
# import modules
import pandas as pd


# import data
air_reserve = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/3xnxz51tzcoem0z/air_reserve.csv?dl=1'))
air_store_info = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/xqo6jrg3iz9360q/air_store_info.csv?dl=1'))
air_visit_data = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/26lrsrz8un1inpp/air_visit_data.csv?dl=1'))
data_info = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/ocju3w0aul6ysfq/date_info.csv?dl=1'))
hpg_reserve = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/vcp119hyyt97ltn/hpg_reserve.csv?dl=1'))
hpg_store_info = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/wjdb5cvfcahgfbo/hpg_store_info.csv?dl=1'))
store_id = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/evkqz8cksj6hrb3/store_id_relation.csv?dl=1'))

sample_submission = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/w1h9817etxxff4w/sample_submission.csv?dl=1'))

# set pandas options

pd.set_option('max_columns',1000)
pd.set_option('max_rows',1000)

In [81]:
sample_submission.shape

(32019, 2)

In [52]:
sample_submission.sample(10)

                                    id  visitors
4849   air_2b9bc9f5f5168ea1_2017-05-06         0
105    air_0241aa3964b7f861_2017-05-20         0
16288  air_86f7b2109e4abd65_2017-05-18         0
3575   air_232dcee6f7c51d37_2017-05-19         0
7205   air_3e93f3c81008696d_2017-05-22         0
5961   air_349278fa964bb12f_2017-05-26         0
21192  air_a563896da3777078_2017-05-08         0
30734  air_f4936b91c9addbf0_2017-04-25         0
19630  air_9b6af3db40da4ae2_2017-05-06         0
28438  air_e270aff84ac7e4c8_2017-04-30         0

In [4]:
air_reserve.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [5]:
air_store_info.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [6]:
air_visit_data.head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

In [7]:
data_info.head()

  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

In [8]:
hpg_reserve.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

In [9]:
hpg_store_info.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

In [10]:
store_id.head()

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7

### Wrangling AIR Point of Sale Data

Author: Kavi