# One-Hot Encode Nominal Categorical Features

One=hot encoding allow us to turn nominal categorical data into features with numeric values, while not mathematically implying any ordinal relationship between classes.


### Preliminaries

In [2]:
# Load Libraries
from sklearn.preprocessing import LabelBinarizer
import numpy as np
import pandas as pd

### Creae Data with One Class Label

In [7]:
# Create NumPy array
X = np.array([['Texas'], 
              ['California'], 
              ['Texas'], 
              ['Delaware'], 
              ['Texas']])

### One-hot Encode Data (Method 1)

In [8]:
# Create LabelBinzarizer object
one_hot = LabelBinarizer()

# One-hot encode data
one_hot.fit_transform(X)

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1]])

### View Column Headers

In [9]:
# View classes
one_hot.classes_

array(['California', 'Delaware', 'Texas'],
      dtype='<U10')

### One-hot Encode Data (Method 2)

In [10]:
# Dummy feature
pd.get_dummies(x[:,0])

   California  Delaware  Texas
0           0         0      1
1           1         0      0
2           0         0      1
3           0         1      0
4           0         0      1

Source: https://chrisalbon.com/machine-learning/one-hot_encode_nominal_categorical_features.html