# Select Date and Time Ranges
### Preliminaries

In [1]:
# Load library
import pandas as pd

### Create pandas Series Time Data

In [2]:
# Create data frame
df = pd.DataFrame()

# Create  datetimes
df['date'] = pd.date_range('1/1/2002', periods=100000, freq='H')

###  Select Time Range (Method 1)

In [7]:
# select observations between two datetimes
df[(df['date'] > '2002-1-1 01:00:00') & 
   (df['date'] <= '2002-1-1 04:00:00')]

                 date
2 2002-01-01 02:00:00
3 2002-01-01 03:00:00
4 2002-01-01 04:00:00

### Select Time Range (Method 2)

In [8]:
# Set index
df = df.set_index(df['date'])

# Select observations between two datetime
df.loc['2002-1-1 01:00:00':'2002-1-1 04:00:00']

                                   date
date
2002-01-01 01:00:00 2002-01-01 01:00:00
2002-01-01 02:00:00 2002-01-01 02:00:00
2002-01-01 03:00:00 2002-01-01 03:00:00
2002-01-01 04:00:00 2002-01-01 04:00:00

Source: https://chrisalbon.com/machine-learning/select_date_and_time_ranges.html