# Dates And Times

In [1]:
# Ignore
%load_ext sql
%sql sqlite://
%config SqlMagic.feedback = False

/Users/Kavi/anaconda/lib/python3.6/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/Kavi/anaconda/lib/python3.6/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

### Get Current Date

In [2]:
%%sql

SELECT date('now');

[('2017-10-03',)]

### Get Current Date And Time

In [4]:
%%sql 

SELECT datetime('now','unixepoch')

[('1970-01-29 10:47:10',)]

### Compute A UNIX timestamp into a date and time

In [5]:
%%sql

SELECT datetime(1169229733, 'unixepoch')

[('2007-01-19 18:02:13',)]

### Compute A UNIX timestamp into a date and time and convert to the local timezone.

In [7]:
%%sql

SELECT datetime(1171904533, 'unixepoch','localtime')

[('2007-02-19 09:02:13',)]

### Compute The Day Of The Week

In [8]:
%%sql

SELECT strftime('%w','now')

[('2',)]

Source: https://chrisalbon.com/sql/dates_and_times.html