In [21]:
# Ignore
%load_ext sql
%sql sqlite://
%config SqlMagic.feedback = False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Create Data With 'pid' As An Auto-Generated Primary Key

In [22]:
%%sql

CREATE TABLE criminals (pid INTEGER PRIMARY KEY AUTOINCREMENT,
                        name, 
                        age, 
                        sex, 
                        city, 
                        minor);

INSERT INTO criminals VALUES (NULL, 'James Smith', 15, 'M', 'Santa Rosa', 1);

(sqlite3.OperationalError) table criminals already exists [SQL: 'CREATE TABLE criminals (pid INTEGER PRIMARY KEY AUTOINCREMENT,\n                        name, \n                        age, \n                        sex, \n                        city, \n                        minor);']

### View Table

In [23]:
%sql SELECT * FROM criminals

[(1, 'James Smith', 15, 'M', 'Santa Rosa', 1),
 (2, 'Bill James', 22, 'M', 'Santa Rosa', 0),
 (3, 'Stacy Miller', 23, 'F', 'Santa Rosa', 0),
 (4, 'Betty Bob', None, 'F', 'Petaluma', 1),
 (5, 'Jaden Ado', 49, 'M', None, 0),
 (6, 'Gordon Ado', 32, 'F', 'Santa Rosa', 0),
 (7, 'Bill Byson', 21, 'M', 'Santa Rosa', 0),
 (8, 'Bob Iton', None, 'M', 'San Francisco', 0),
 (9, 'James Smith', 15, 'M', 'Santa Rosa', 1),
 (10, 'Bill James', 22, 'M', 'Santa Rosa', 0),
 (11, 'Stacy Miller', 23, 'F', 'Santa Rosa', 0),
 (12, 'Betty Bob', None, 'F', 'Petaluma', 1),
 (13, 'Jaden Ado', 49, 'M', None, 0),
 (14, 'Gordon Ado', 32, 'F', 'Santa Rosa', 0),
 (15, 'Bill Byson', 21, 'M', 'Santa Rosa', 0),
 (16, 'Bob Iton', None, 'M', 'San Francisco', 0)]

### Added More Rows With NULL Values For pid

In [24]:
%%sql

INSERT INTO criminals VALUES (NULL, 'Bill James', 22, 'M', 'Santa Rosa', 0);
INSERT INTO criminals VALUES (NULL, 'Stacy Miller', 23, 'F', 'Santa Rosa', 0);
INSERT INTO criminals VALUES (NULL, 'Betty Bob', NULL, 'F', 'Petaluma', 1);
INSERT INTO criminals VALUES (NULL, 'Jaden Ado', 49, 'M', NULL, 0);
INSERT INTO criminals VALUES (NULL, 'Gordon Ado', 32, 'F', 'Santa Rosa', 0);
INSERT INTO criminals VALUES (NULL, 'Bill Byson', 21, 'M', 'Santa Rosa', 0);
INSERT INTO criminals VALUES (NULL, 'Bob Iton', NULL, 'M', 'San Francisco', 0);

[]

### View Table

In [25]:
%sql SELECT * FROM criminals

[(1, 'James Smith', 15, 'M', 'Santa Rosa', 1),
 (2, 'Bill James', 22, 'M', 'Santa Rosa', 0),
 (3, 'Stacy Miller', 23, 'F', 'Santa Rosa', 0),
 (4, 'Betty Bob', None, 'F', 'Petaluma', 1),
 (5, 'Jaden Ado', 49, 'M', None, 0),
 (6, 'Gordon Ado', 32, 'F', 'Santa Rosa', 0),
 (7, 'Bill Byson', 21, 'M', 'Santa Rosa', 0),
 (8, 'Bob Iton', None, 'M', 'San Francisco', 0),
 (9, 'James Smith', 15, 'M', 'Santa Rosa', 1),
 (10, 'Bill James', 22, 'M', 'Santa Rosa', 0),
 (11, 'Stacy Miller', 23, 'F', 'Santa Rosa', 0),
 (12, 'Betty Bob', None, 'F', 'Petaluma', 1),
 (13, 'Jaden Ado', 49, 'M', None, 0),
 (14, 'Gordon Ado', 32, 'F', 'Santa Rosa', 0),
 (15, 'Bill Byson', 21, 'M', 'Santa Rosa', 0),
 (16, 'Bob Iton', None, 'M', 'San Francisco', 0),
 (17, 'Bill James', 22, 'M', 'Santa Rosa', 0),
 (18, 'Stacy Miller', 23, 'F', 'Santa Rosa', 0),
 (19, 'Betty Bob', None, 'F', 'Petaluma', 1),
 (20, 'Jaden Ado', 49, 'M', None, 0),
 (21, 'Gordon Ado', 32, 'F', 'Santa Rosa', 0),
 (22, 'Bill Byson', 21, 'M', 'Santa Rosa', 0),
 (23, 'Bob Iton', None, 'M', 'San Francisco', 0)]

Source: https://chrisalbon.com/sql/automatically_add_keys_to_rows.html