# <center>  World Happiness Report

In [140]:
import pandas as p

r15 = pd.read_csv('https://www.dropbox.com/s/we7ee8bkdmykw97/2015.csv?dl=1')
r16 = pd.read_csv('https://www.dropbox.com/s/3tbo0h3zu77bl7e/2016.csv?dl=1')
r17 = pd.read_csv('https://www.dropbox.com/s/tjwljwmksoes95o/2017.csv?dl=1')

r15['Year'] =  '2015'
r16['Year'] =  '2016'
r17['Year'] =  '2017'

reports = [r15, r16, r17]
years = ['2015','2016','2017']

### Understanding Data Structure

In [141]:
for r in reports:
    print(r.shape)

(158, 13)
(157, 14)
(155, 13)

Seems like their is an extra feature in one report
### Report Features

In [142]:
r15.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'Year'],
      dtype='object')

In [143]:
r16.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual', 'Year'],
      dtype='object')

In [144]:
r17.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual', 'Year'],
      dtype='object')

The governing body changed there reporting methodology in 2016 and 2017, changing the names of some features  reporting new one.
### View the Two Different Repost

In [145]:
r15.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [146]:
r16.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016

In [147]:
r17.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017

### Feature Engineering Upper and Lower Confindence Intreval for 2015 Report

In [148]:
r16.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual', 'Year'],
      dtype='object')

In [149]:
# creating and upper and lower confidence interval scores
r15['Lower Confidence Interval'] = r15['Happiness Score'] - r15['Standard Error']
r15['Upper Confidence Interval'] = r15['Happiness Score'] + r15['Standard Error']

# sorting the report correctly
r15  = r15[r16.columns]
r15.sample(2)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
86,Serbia,Central and Eastern Europe,87,5.123,5.07436,5.17164,0.92053,1.00964,0.74836,0.20107,0.02617,0.19231,2.02500,2015
48,Bahrain,Middle East and Northern Africa,49,5.960,5.90588,6.01412,1.32376,1.21624,0.74716,0.45492,0.30600,0.17362,1.73797,2015


### Fixing 2017 Report Region Feature and Naming Schema

In [175]:
# view all the 2017 countries that are not in the 2016 or 2015 report
r17[r17['Country'] in r16['Country'].values]

ValueError: Lengths must match to compare

In [174]:
r16['Country'].values

array(['Denmark', 'Switzerland', 'Iceland', 'Norway', 'Finland', 'Canada',
       'Netherlands', 'New Zealand', 'Australia', 'Sweden', 'Israel',
       'Austria', 'United States', 'Costa Rica', 'Puerto Rico', 'Germany',
       'Brazil', 'Belgium', 'Ireland', 'Luxembourg', 'Mexico', 'Singapore',
       'United Kingdom', 'Chile', 'Panama', 'Argentina', 'Czech Republic',
       'United Arab Emirates', 'Uruguay', 'Malta', 'Colombia', 'France',
       'Thailand', 'Saudi Arabia', 'Taiwan', 'Qatar', 'Spain', 'Algeria',
       'Guatemala', 'Suriname', 'Kuwait', 'Bahrain', 'Trinidad and Tobago',
       'Venezuela', 'Slovakia', 'El Salvador', 'Malaysia', 'Nicaragua',
       'Uzbekistan', 'Italy', 'Ecuador', 'Belize', 'Japan', 'Kazakhstan',
       'Moldova', 'Russia', 'Poland', 'South Korea', 'Bolivia',
       'Lithuania', 'Belarus', 'North Cyprus', 'Slovenia', 'Peru',
       'Turkmenistan', 'Mauritius', 'Libya', 'Latvia', 'Cyprus',
       'Paraguay', 'Romania', 'Estonia', 'Jamaica', 'Croatia', 'Hong Kong',
       'Somalia', 'Kosovo', 'Turkey', 'Indonesia', 'Jordan', 'Azerbaijan',
       'Philippines', 'China', 'Bhutan', 'Kyrgyzstan', 'Serbia',
       'Bosnia and Herzegovina', 'Montenegro', 'Dominican Republic',
       'Morocco', 'Hungary', 'Pakistan', 'Lebanon', 'Portugal',
       'Macedonia', 'Vietnam', 'Somaliland Region', 'Tunisia', 'Greece',
       'Tajikistan', 'Mongolia', 'Laos', 'Nigeria', 'Honduras', 'Iran',
       'Zambia', 'Nepal', 'Palestinian Territories', 'Albania',
       'Bangladesh', 'Sierra Leone', 'Iraq', 'Namibia', 'Cameroon',
       'Ethiopia', 'South Africa', 'Sri Lanka', 'India', 'Myanmar',
       'Egypt', 'Armenia', 'Kenya', 'Ukraine', 'Ghana', 'Congo (Kinshasa)',
       'Georgia', 'Congo (Brazzaville)', 'Senegal', 'Bulgaria',
       'Mauritania', 'Zimbabwe', 'Malawi', 'Sudan', 'Gabon', 'Mali',
       'Haiti', 'Botswana', 'Comoros', 'Ivory Coast', 'Cambodia', 'Angola',
       'Niger', 'South Sudan', 'Chad', 'Burkina Faso', 'Uganda', 'Yemen',
       'Madagascar', 'Tanzania', 'Liberia', 'Guinea', 'Rwanda', 'Benin',
       'Afghanistan', 'Togo', 'Syria', 'Burundi'], dtype=object)

### Number of  Regions

In [ ]:
regions = pd.DataFrame()
for r in reports:
    regions = pd.concat([regions, pd.DataFrame(r15['Region'].value_counts())], axis=1)
regions

It look the like the countries have been binned into the same amount of regions for each year.
### Countries Included

In [ ]:
for r, y in zip(reports, years):
    print('Unique Countries in ', y,':' ,r15['Country'].nunique())

Seems like all the same countries where measured.

### Averages Over Time

In [ ]:
r15.columns

In [ ]:
# creating a list of the quantitive features in the dataset
qntf = r15.columns[3:]

In [ ]:
for r in reports:
    r[qntf]