# Connecting to a Local Database

<span>This notebook goes over how to connects to a local database and runs an SQL query to wrangle the data into our notebook. We want to connect to our database using the notebook to make reproducibility easier by removing any manual data wrangling process external to the notebook. The parameters for this notebook are easy to adjust so that you can change the values and connect to your production or slave database.</span>

### Import Preliminaries

In [16]:
# Import modules
import pandas as pd
from sqlalchemy import create_engine

### Connect to Database

In [20]:
# Set your local database parameters 
db_username = 'root'
db_password = 'mypassword'
host = '127.0.0.1'
port = '3306'
db_name = 'kickstarter'

# Create a MySQLEngine
engine = create_engine('mysql+mysqldb://'+db_username+':'+db_password+'@\
'+host+':'+port+'/'+db_name)

# Connect to database
engine.connect();

### Query Database

In [21]:
# Run a query on your database
df = pd.read_sql("""SELECT * FROM campaign""", engine)

# View dataframe 
df.head()

,id,name,sub_category_id,country_id,currency_id,launched,deadline,goal,pledged,backers,outcome
0,1,Ragdolls,23,2,2,2013-04-25,2013-05-25,15000.00,20.00,3,failed
1,2,One To Ten,47,1,1,2015-11-16,2015-12-16,223.68,413.81,23,successful
2,3,Future Gun - A short film about kids and advan...,24,2,2,2013-08-28,2013-09-27,5000.00,1497.00,28,failed
3,4,Fourth Wave ApparelVintage Fashion for the Mo...,52,2,2,2014-07-22,2014-08-21,6000.00,8795.00,218,successful
4,5,The Rich Lifestyle,9,2,2,2016-08-24,2016-09-28,2000000.00,2.00,2,failed

Author: Kavi Sekhon