# Iris Dataset

<span>Below like a take a look at the iris dataset. Many data science programs online and in person use this dataset for clustering and classification promblems. Below I plot the data out using a variety of plots to get a better understanding of the dataset every is so keen to teaching about.</span>

### Import Preliminaries

In [143]:
%matplotlib inline
%pylab inline
 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 
import scipy
import seaborn as sns
import sklearn
import warnings
 
pd.set_option('max_columns',1000)
pd.set_option('max_rows',30)
 
#pd.set_option('display.float_format', lambda x: '%.3f' % x)
pylab.rcParams['figure.figsize'] = (5.0, 5.0)
warnings.filterwarnings('ignore');

Populating the interactive namespace from numpy and matplotlib

In [144]:
from sklearn.datasets import load_iris
iris = load_iris()
features, target = iris.data, iris.target

df = pd.concat([pd.DataFrame(features), pd.Series(target)], axis=1)
df.columns = iris['feature_names'] + ['target']
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.100,3.500,1.400,0.200,0
1,4.900,3.000,1.400,0.200,0
2,4.700,3.200,1.300,0.200,0
3,4.600,3.100,1.500,0.200,0
4,5.000,3.600,1.400,0.200,0