# any(), all(), max(), min(), sum()
### Create Data

In [1]:
data = [34, 54, 50, 20, 20]

### any()

In [8]:
# Return true if any element is True
any(data)

True

### all()

In [9]:
# Return if all elements are True
all(data)

True

### max()

In [10]:
# Return max value
max(data)

54

### min

In [12]:
# Return the in value
min(data)

20

### sum()

In [13]:
### Return the total value
sum(data)

178

Source: https://chrisalbon.com/python/any_all_max_min_sum.html