# <center> Feature Engineering I

In [46]:
import pandas as pd 
import numpy as np

hpg = pd.read_csv('https://www.dropbox.com/s/86sl12ma06pmhi8/reserve.csv?dl=1')
air = pd.read_csv('https://www.dropbox.com/s/t1r5fn5rolbvpqd/visits_reserve.csv?dl=1')
df = pd.read_csv('https://www.dropbox.com/s/7ya32mqx3m7eyg0/air_hpg_reserveations.csv?dl=1')
sample_submission = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/uk2qn4rz4ktawxj/sample_submission.csv?dl=1'))

pd.set_option('max_columns',1000)
pd.set_option('max_rows',1000)

### End Goal

In [47]:
sample_submission.head(10)

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23         0
1  air_00a91d42b08b08d9_2017-04-24         0
2  air_00a91d42b08b08d9_2017-04-25         0
3  air_00a91d42b08b08d9_2017-04-26         0
4  air_00a91d42b08b08d9_2017-04-27         0
5  air_00a91d42b08b08d9_2017-04-28         0
6  air_00a91d42b08b08d9_2017-04-29         0
7  air_00a91d42b08b08d9_2017-04-30         0
8  air_00a91d42b08b08d9_2017-05-01         0
9  air_00a91d42b08b08d9_2017-05-02         0

In [48]:
air.head(1)

,Unnamed: 0,air_store_id,hpg_store_id,air_genre_name,air_area_name,latitude,longitude,visit_date,visitors,visit_datetime,reserve_datetime,reserve_visitors,calendar_date,day_of_week,holiday_flg
0,3949252,air_0a74a5408a0b8642,hpg_2ded824e690c414a,Western food,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.05546,141.340956,2016-08-23,64,2016-07-15 20:00,2016-07-14 22:00,3,2016-08-23,Tuesday,0

In [49]:
hpg.head(1)

,Unnamed: 0,air_store_id,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude,visit_datetime,reserve_datetime,reserve_visitors
0,5522,air_638c35eb25e53eea,hpg_f07ec7b288165b27,Spain Bar/Italian Bar,Fukuoka-ken Fukuoka-shi Daimyō,33.586969,130.392801,2017-04-01 19:00:00,2017-03-29 22:00:00,3

In [50]:
df.head(3)

,air_store_id_x,hpg_store_id,air_genre_name,air_area_name,latitude_x,longitude_x,visit_date,visitors,visit_datetime_x,reserve_datetime_x,reserve_visitors_x,calendar_date,day_of_week,holiday_flg,air_store_id_y,hpg_genre_name,hpg_area_name,latitude_y,longitude_y,visit_datetime_y,reserve_datetime_y,reserve_visitors_y
0,air_0a74a5408a0b8642,hpg_2ded824e690c414a,Western food,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.05546,141.340956,2016-08-23,64,2016-07-15 20:00,2016-07-14 22:00,3,2016-08-23,Tuesday,0,air_0a74a5408a0b8642,Steak/Hamburger/Curry,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236,2016-05-14 18:00:00,2016-05-08 21:00:00,3.0
1,air_0a74a5408a0b8642,hpg_2ded824e690c414a,Western food,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.05546,141.340956,2016-08-23,64,2016-07-15 20:00,2016-07-14 22:00,3,2016-08-23,Tuesday,0,air_0a74a5408a0b8642,Steak/Hamburger/Curry,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236,2016-12-03 19:00:00,2016-11-29 08:00:00,2.0
2,air_0a74a5408a0b8642,hpg_2ded824e690c414a,Western food,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.05546,141.340956,2016-08-23,64,2016-07-15 20:00,2016-07-14 22:00,3,2016-08-23,Tuesday,0,air_0a74a5408a0b8642,Steak/Hamburger/Curry,Hokkaidō Sapporo-shi Minami 4 Jōnishi,43.055047,141.353236,2016-05-03 19:00:00,2016-05-01 20:00:00,2.0

### Condensing Data

In [ ]:
### Creating Index Valus
df['ID'] = df['air_store_id_x'] + "_" + df.calendar_date

In [ ]:
# Encoding store id, genre,

### Viewing Features