# Chapter 2

Source: https://github.com/dipanjanS/text-analytics-with-python/tree/master/Chapter-2

### Classes

In [2]:
# Class definition
class Animal(object):
    species = 'Animal'
    
    def _init_(self, name):
        self.name = name
        self.attribute = []
    
    def add_attributes(self, attributes):
        self.attributes.extend(attributes) \
            if type(attributes) == list \
            else self.attributes.append(attributes)

    def __str__(self):
        return self.name+" is of type "+self.species+" and has attributes:"+str(self.attributes)

In [4]:
# Instantiating the class
a1 = Animal('Rover')
# Invoking the instance method
a1.add_attributes(['run','eats','dog'])
# User defined string representation
str(a1)

TypeError: object() takes no parameters

In [5]:
# deriving class Dog from base class Animal
class Dog(Animal):
    species = 'Dog'
    
    def _init_(self, *args):
        super(Dog, self)._init_(*args)

In [6]:
# deriving class For from base class Animal
class Fox(Animal):
    species = 'Fox'
    
    def _init_(self, *args):
        super(Fox, self)._init_(*args)

In [7]:
# creating instance of class Dog
d1 = Dog('Rover')
d1.add_attributes(['lazy','beige','sleeps','eats'])
str(d1)

TypeError: object() takes no parameters

In [8]:
# creating instance of class Fox
f1 = Fox('Silver')
f1.add_attributes(['quick','brown','jumps','runs'])
str(f1)

TypeError: object() takes no parameters

### Code Flow Control

In [3]:
var = 'spam'
if var == 'spam':
    print('Spam')

Spam

In [5]:
var = 'ham'
if var == 'spam':
    print('Spam')
elif var =='ham':
    print('Ham')

Ham

In [8]:
var = 'foo'
if var == 'spam':
    print('Spam')
elif var =='ham':
    print('Ham')
else: 
    print('Neither Spam or Ham')

Neither Spam or Ham

### Looping Constructs

In [9]:
# illustrating for loops
numbers = range(0,5)
for number in numbers:
    print(number)
    
sum = 0
for number in numbers:
    sum += number
print(sum)

0
1
2
3
4
10

In [11]:
# role of trailing else and breake and constructs
for number in numbers:
    print(number)
else:
    print('loop exicted normally')

0
1
2
3
4
loop exicted normally

In [12]:
for number in numbers:
    if number < 3:
        print(number)
    else:
        break
else:
    print('loop excited normally')

0
1
2

In [13]:
# illustrating while loops
number = 5
while number > 8:
    print(number)
    number -= 1 # import else loop will keep running

In [16]:
# role of continue construct
number = 10
while number > 0:
    if number % 2 != 0:
        pass
    else:
        print('number')
    number -= 1

number
number
number
number
number

In [3]:
# exceptions
shopping_list = ['eggs','ham','bacon']
# trying to access a non-existent item in the list
try:
    print(shopping_list[3])
except IndexError as e:
    print('Exception: ' + str(e)+ ' has occured')
else: 
    print('No exceptions occured')
finally:
    print('I will always execute no matter what!')

Exception: list index out of range has occured
I will always execute no matter what!

In [4]:
# smooth code execution without any errors
try:
    print (shopping_list[2])
except IndexError as e:
    print ('Exception: '+str(e)+' has occured')
else:
    print('No exceptions occured')
finally:
    print('I will always execute no matter what!')

bacon
No exceptions occured
I will always execute no matter what!

### Data Types Structures

In [6]:
# zen of python
import this

new_string =  'This is a string' # storing a stirng
id(new_string) # Show the object identifier (address

4359459944

In [8]:
type(new_string) # show the object type

str

In [9]:
new_string # show the object value

'This is a string'

In [10]:
# representing integers and operations on them
num  = 123
type(num)

int

In [11]:
num + 1000 # addition

1123

In [12]:
num * 2 # multiplication

246

In [13]:
num / 2 # integer division

61.5

In [14]:
# decimal
1 + 1

2

In [15]:
# binary
bin(2)

'0b10'

In [16]:
0b1 + 0b1

2

In [17]:
bin(0b1 + 0b1)

'0b10'

In [18]:
# octal
oct(8)

'0o10'

In [21]:
0o10

8

In [22]:
# hexadecimal
hex(16)

'0x10'

In [23]:
0x10

16

In [24]:
hex(0x16 + 0x5)

'0x1b'

In [25]:
# floating points
1.5 + 2.6

4.1

In [26]:
1e2 + 1.5e3 + 0.5

1600.5

In [27]:
2.5e4

25000.0

In [28]:
2.5e-2

0.025

In [32]:
# complex
cnum = 5 +7j

In [33]:
type(cnum)

complex

In [34]:
cuma.real

5.0

In [35]:
cnum.imag

7.0

In [36]:
cnum + (1 - 0.5j)

(6+6.5j)

In [39]:
# string

s1 = 'this is a string'
s2 = 'this is "another" string'
s3 = 'this is the \'third\'string'
s4 = """this is a
multline
string"""

print(s1, s2, s3, s4)

this is a string this is "another" string this is the 'third'string this is a
multline
string

In [40]:
print(s3 + '\n' + s4)

this is the 'third'string
this is a
multline
string

In [41]:
' '.join([s1, s2])

'this is a string this is "another" string'

In [42]:
s1[::-1]

'gnirts a si siht'

In [44]:
# lists
l1 = ['eggs','flour','butter']
l2 = list([1, 'drinks', 10, 'sandwiches', 0.45e-2])
l3 = [1,2,3, ['a','b','c'], ['Hello','Python']]

print (l1, l2, l3)

['eggs', 'flour', 'butter'] [1, 'drinks', 10, 'sandwiches', 0.0045] [1, 2, 3, ['a', 'b', 'c'], ['Hello', 'Python']]

In [45]:
# indexing list

In [46]:
l1

['eggs', 'flour', 'butter']

In [47]:
l1[0]

'eggs'

In [48]:
l1[1]

'flour'

In [50]:
l1[1] + ' ' + l1[1]

'flour flour'

In [51]:
# slicing lists
l2[1:3]

['drinks', 10]

In [54]:
numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
numbers[2:5]

[2, 3, 4]

In [57]:
numbers[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
numbers[::2]

[0, 2, 4, 6, 8]

In [61]:
# concatenating and mutating list
numbers * 2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
numbers + l2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 'drinks', 10, 'sandwiches', 0.0045]

In [64]:
# handling nested list
l3

[1, 2, 3, ['a', 'b', 'c'], ['Hello', 'Python']]

In [65]:
l3[3]

['a', 'b', 'c']

In [66]:
l3[4]

['Hello', 'Python']

In [68]:
l3.append(' '.join(l3[4]))
l3

[1, 2, 3, ['a', 'b', 'c'], ['Hello', 'Python'], 'Hello Python', 'Hello Python']

In [70]:
l3.pop(3) # pop operation
l3

[1, 2, 3, 'Hello Python', 'Hello Python']

In [72]:
# sets
l1 = [1,1,2,3,5,5,7,9,1]

In [73]:
set(l1)

{1, 2, 3, 5, 7, 9}

In [80]:
# membership testing
'1' in s1

False

In [81]:
'100' in s1

False

In [82]:
# initialize a second set
s2 = {5,7,11}

In [89]:
# # Testing various set operations
# s1 - s2 # set differences
# s1 | s2 # set union
# s1 & s2 # set intersection
# s1 ^ s2

# Update: This is no longer true in Python 3

##### Dictionaries

In [90]:
d1 = {'eggs': 2, 'milk': 3, 'spam': 10, 'ham': 15}
d1

{'eggs': 2, 'ham': 15, 'milk': 3, 'spam': 10}

In [91]:
# retrieving items based on key
d1.get('eggs')
d1['eggs']

2

In [92]:
# # get is better than direct indexing since it does not throw errors
# d1.get('orange') 
# d1['orange']

# Update: This is no longer true in Python 3

In [93]:
# setting items with a specific key
d1['orange'] = 25
d1

{'eggs': 2, 'ham': 15, 'milk': 3, 'orange': 25, 'spam': 10}

In [94]:
# viewing keys and values
d1.keys()

dict_keys(['eggs', 'milk', 'spam', 'ham', 'orange'])

In [95]:
d1.values()

dict_values([2, 3, 10, 15, 25])

In [96]:
# creating a new dictionary using dict function
d2 = dict({'orange': 5, 'melon': 17, 'milk': 10})
d2

{'melon': 17, 'milk': 10, 'orange': 5}

In [97]:
# update dictionary d1 based on new key-values in d2
d1.update(d2)
d1

{'eggs': 2, 'ham': 15, 'melon': 17, 'milk': 10, 'orange': 5, 'spam': 10}

In [98]:
# complex and nested dictionary
d3 = {'k1': 5, 'k2': [1,2,3,4,5], 'k3': {'a': 1, 'b': 2, 'c': [1,2,3]}}
d3

{'k1': 5, 'k2': [1, 2, 3, 4, 5], 'k3': {'a': 1, 'b': 2, 'c': [1, 2, 3]}}

In [99]:
d3.get('k3')

{'a': 1, 'b': 2, 'c': [1, 2, 3]}

In [100]:
d3.get('k3').get('c')

[1, 2, 3]

#### Tuples

In [101]:
# creating a tuple iwth a single element
single_tuple = (1,)
single_tuple

(1,)

In [102]:
# original address of the tuple
id(single_tuple)

4359667104

In [104]:
# modifying contents of the tuple but its location changes (new tuple is created)
single_tuple = single_tuple + (2, 3, 4, 5)
single_tuple

(1, 2, 3, 4, 5)

In [105]:
id(single_tuple)

4357553320

In [106]:
# tuples are immutable hence assignment is not supported like lists
single_tuple[3]

4

In [107]:
# accessing and unpacking tuples
tup = (['this', 'is', 'list', '1'], ['this', 'is', 'list', '2'])
tup[0]

['this', 'is', 'list', '1']

In [108]:
l1, l2 = tup
print(l1, l2)

['this', 'is', 'list', '1'] ['this', 'is', 'list', '2']

##### Files

In [109]:

f = open('text_file.txt', 'w') # open write mode
f.write('This is some text\n') # write some text
f.write('Hellow world!')
f.close() # closes the file

In [110]:
# lists files in current directory
import os
os.listdir(os.getcwd())

['Chapter 2.ipynb', 'text_file.txt', '.ipynb_checkpoints', 'Chapter 1.ipynb']

In [111]:
f = open('text_file.txt', 'r') # opens file in read mode
data = f.readlines() # read in all lines from file
print(data)

['This is some text\n', 'Hellow world!']

### Functional Programming

In [112]:
# functions with a single argument
def square(number):
    return number*number

In [113]:
square(5)

25

In [114]:
# built-in function from the numpy library
import numpy as np
np.square(5)

25

In [116]:
# a more complex function with variable number of arguments
def squares(*args):
    squared_args = []
    for item in args:
        squared_args.append(item*item)
    return squared_args

In [119]:
squares(1,2,3,4,5)

[1, 4, 9, 16, 25]

In [120]:
# assign specfic keyword based arguments dynamically
def person_details(**kwargs):
    for key, value in kwargs.items():
        print (key, '->', value)

In [121]:
person_details(name='James Bond', alias='007', job='Secret Service Agent')

name -> James Bond
alias -> 007
job -> Secret Service Agent

In [123]:
# using recursions to square numbers
def recursive_squares(numbers):
    if not numbers:
        return[]
    else:
        return [numbers[0]*numbers[0]] + recursive_squares(numbers[1:])

In [124]:
recursive_squares([1, 2, 3, 4, 5])

[1, 4, 9, 16, 25]

In [128]:
# simple lambda functions to square a number
lambda_square = lambda n:n*n
lambda_square(5)

25

In [129]:
# map functions to square numbers using lambda
map(lambda_square, [1,2,3,4,5])

In [130]:
# lambda functions to find event number useg for filtering
lambda_evens = lambda n: n%2 == 0
filter(lambda_evens, [1,2,3,4,5,6,7,8,9,10])

In [136]:
# # lambda function to add numbers used for adding numbers in reduce function
# lambda_sum = lambda x, y: x + y
# reduce(lambda_sum, [1,2,3,4,5])

# # Update: lambda, map() and filter() are still part of core Python. Only reduce() had to go; it moved into the module functools.

In [137]:
# # lambda function to make a sentence from word tokens with reduce function
# lambda_sentence_maker = lambda word1, word2: ' '.join([word1, word2])
# reduce(lambda_sentence_maker, ['I', 'am', 'making', 'a', 'sentence', 'from', 'words!'])

# # Update: lambda, map() and filter() are still part of core Python. Only reduce() had to go; it moved into the module functools.

##### Iterators

In [138]:
# typical for loop
numbers = list(range(6))
for number in numbers:
    print(number)

0
1
2
3
4
5

In [148]:
# # Fix

# # illustrating how iterators work behind the scenes
# iterator_obj = iter(numbers)
# while True:
#     try:
#         print(iterator_obj.next())
#     except StopIteration:
#             print('Reached end of sequence')
#             break

In [150]:
# # Fix

# calling next now would throw the StopIteration exception as expected
# iterator_obj.next()

In [152]:
# comprehensions
numbers = list(range(6))
numbers

[0, 1, 2, 3, 4, 5]

In [154]:
# simple list cmoprehension to compute squares
[num*num for num in numbers]

[0, 1, 4, 9, 16, 25]

In [155]:
# list comprehension to check if numbers is divisible by 2
[num%2 for num in numbers]

[0, 1, 0, 1, 0, 1]

In [156]:
# set comprehension returns distinct values of the above operation
set(num%2 for num in numbers)

{0, 1}

In [157]:
# dictionary comprehension where key:value of the abover operation
{num: num*num for num in numbers}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [158]:
# a more complex comprehension showcasing above operations in a single comprehension
[{'number': num, 
  'square': num*num, 
  'type': 'even' if num%2 == 0 else 'odd'} for num in numbers]

[{'number': 0, 'square': 0, 'type': 'even'},
 {'number': 1, 'square': 1, 'type': 'odd'},
 {'number': 2, 'square': 4, 'type': 'even'},
 {'number': 3, 'square': 9, 'type': 'odd'},
 {'number': 4, 'square': 16, 'type': 'even'},
 {'number': 5, 'square': 25, 'type': 'odd'}]

In [160]:
# nested list comprehension - flattening a list of lists
list_of_lists = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
list_of_lists
[item for each_list in list_of_lists for item in each_list]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

##### Generators

In [162]:
numbers = [1,2,3,4,5]

def generate_squares(numbers):
    for number in numbers:
        yield number*number

gen_obj = generate_squares(numbers)
gen_obj
for item in gen_obj:
    print(item)

1
4
9
16
25

In [ ]:
csv_string = 'The, fox, jums, over, the , dog'

In [164]:
# making a sentence using list comprehension
list_cmp_obj = [item for item in csv_string.split(',')]
list_cmp_obj
' '.join(list_cmp_obj)

'The  fox  jums  over  the   dog'

In [167]:
# making a sentence using generator expression
gen_obj = (item for item in csv_string.split(','))
gen_obj
' '.join(gen_obj)

'The  fox  jums  over  the   dog'

### Working with Text
##### String Types

In [169]:
simple_string = 'hello' + "I'm a simple string"
print(simple_string)

helloI'm a simple string