# <center> Cleaning Data I
### Import Preliminaries

In [15]:
# Import modules
import pandas as pd

# Import data
train_df = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/4ql1hg0xs9vxpii/train.csv?dl=1'))
test_df = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/a3i65o49at9mogv/test.csv?dl=1'))

# Set pandas options
pd.set_option('precision',1)
pd.set_option('max_columns',100)
pd.set_option('max_rows',100)

dfs = [train_df, test_df]

In [16]:
# Compare Sizes of the Train and Test Data
print('Train Data:', len(train_df))
print('Test Data:', len(test_df))

Train Data: 891
Test Data: 418

#### Null Values

In [17]:
# Train data null values
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [18]:
# Test data null values
test_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

### Training Data
#### Replace Null Age Values with the Mean

In [19]:
train_df.Age.fillna(value=train_df.Age.mean(), inplace=True)

#### Mark Missing Information for Cabins

In [20]:
# Total Amount of Records with Cabin information
train_df.Cabin.value_counts().sum()

204

In [21]:
# Mark Missing Cabin Information with 'Unknown Value'
train_df.Cabin.fillna(value='Unknown', inplace=True)

#### Drop Missing Embarked Records

In [22]:
train_df = train_df[train_df['Embarked'].notnull()]

### Cleaning Test Data
#### Replace Null Fare Prices with the Mean

In [23]:
test_df.Fare.fillna(value=test_df.Fare.mean(), inplace=True)

In [24]:
# Creating function for cleaning the same features
def clean_data(df):
  df.Age.fillna(value=df.Age.mean(), inplace=True)
  df.Cabin.fillna(value='Unknown', inplace=True)
  df = df[df['Embarked'].notnull()]
  return df
  print('DataFrame Lenght:',len(test_df))

In [25]:
test_df = clean_data(test_df)

### Checking Null Values Again

In [26]:
train_df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [27]:
test_df.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

### Exporting the Data

In [28]:
train_df.to_csv('Data/cleaned_train_df.csv',index=False)
test_df.to_csv('Data/cleaned_test_df.csv',index=False)