# Quickly Change A Column Of Strings In Pandas
### Import Modules

In [2]:
# Import pandas
import pandas as pd

# Create a lit of first names
first_names = pd.Series(['Steve Murrey', 'Jane Fonda', 'Sara McGully', 'Mary Jane'])

In [4]:
# print the column
first_names

0    Steve Murrey
1      Jane Fonda
2    Sara McGully
3       Mary Jane
dtype: object

In [5]:
# print the column
first_names

0    Steve Murrey
1      Jane Fonda
2    Sara McGully
3       Mary Jane
dtype: object

In [7]:
# print the column with lower case
first_names.str.lower()

0    steve murrey
1      jane fonda
2    sara mcgully
3       mary jane
dtype: object

In [9]:
# print the column with upper case
first_names.str.upper()

0    STEVE MURREY
1      JANE FONDA
2    SARA MCGULLY
3       MARY JANE
dtype: object

In [10]:
# print the column with title case
first_names.str.title()

0    Steve Murrey
1      Jane Fonda
2    Sara Mcgully
3       Mary Jane
dtype: object

In [12]:
# print the column split across spaces
first_names.str.split(' ')

0    [Steve, Murrey]
1      [Jane, Fonda]
2    [Sara, McGully]
3       [Mary, Jane]
dtype: object

In [13]:
# print the column with capitalized case
first_names.str.capitalize()

0    Steve murrey
1      Jane fonda
2    Sara mcgully
3       Mary jane
dtype: object

Source:  https://chrisalbon.com/python/pandas_change_column_of_strings.html