# Select Rows With A Certain Value
### Import Modules

In [2]:
import pandas as pd

In [4]:
# Create an example dataframe
data = {'name': ['Jason', 'Molly'], 
        'country': [['Syria', 'Lebanon'],['Spain', 'Morocco']]}
df = pd.DataFrame(data)
df

            country   name
0  [Syria, Lebanon]  Jason
1  [Spain, Morocco]  Molly

In [6]:
df[df['country'].map(lambda country: 'Syria' in country)]

            country   name
0  [Syria, Lebanon]  Jason

Source: https://chrisalbon.com/python/pandas_select_rows_containing_values.html