#  Group Pandas Data By Hour Of the Day
### Preliminaries

In [1]:
#Import Libraries
import pandas as pd
import numpy as np

### Create Data

In [5]:
# Create a time series of 2000 elements, one very five minutes starting on 1/1/2000
time = pd.date_range('1/1/2000', periods=2000, freq='5min')

# Create a pandas serieswith a random values between 0 and 100, using 'time' as the index
series = pd.Series(np.random.randint(100, size=2000), index=time)

### View Data

In [6]:
# View the first few rows of the data
series[0:10]

2000-01-01 00:00:00    18
2000-01-01 00:05:00    93
2000-01-01 00:10:00    88
2000-01-01 00:15:00    10
2000-01-01 00:20:00    58
2000-01-01 00:25:00    31
2000-01-01 00:30:00    51
2000-01-01 00:35:00    75
2000-01-01 00:40:00     0
2000-01-01 00:45:00    96
Freq: 5T, dtype: int64

### Group Data by Time of The Day

In [7]:
# Group the data by the index's hour value, then aggregate by the average
series.groupby(series.index.hour).mean()

0     49.630952
1     49.202381
2     42.654762
3     51.500000
4     45.261905
5     45.630952
6     48.392857
7     42.273810
8     49.607143
9     51.142857
10    52.345238
11    45.714286
12    45.702381
13    51.142857
14    50.630952
15    53.214286
16    48.202381
17    47.047619
18    45.488095
19    48.535714
20    48.583333
21    50.690476
22    54.475000
23    44.236111
dtype: float64

Source: https://chrisalbon.com/python/group_pandas_data_by_hour_of_the_day.html