# Connecting to a Local Database

Use Case: Connecitng to a local database

### Import Preliminaries

In [4]:
# Connecting to the database so run a query at the database level
import pandas as pd
from sqlalchemy import create_engine

### Connect to Database

In [7]:
# Set your local datbase parameters 
db_username = 'root'
db_password = 'root'
host = '127.0.0.1'
port = '8889'
db_name = 'world'

# Create a MySQLEngine
engine = create_engine('mysql+mysqldb://'+db_username+':'+db_password+'@\
'+host+':'+port+'/'+db_name)

# Connect to database
engine.connect();

ModuleNotFoundError: No module named 'MySQLdb'

### Query Database

In [3]:
# Run a query on a local MAMP dataframe
df = pd.read_sql(""" SELECT * FROM city""", engine)

# View dataframe 
df.head()

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200

Author: Kavi Sekhon