# Import Data by Pandas
    
<span> If you starting from scratch and are unfamiliar with import data to notebooks. The pandas *pd.read_csv()* is the most powerful command that you will come across this one function work really well and contains over 40+ parameter to adjust how you import the incoming data. A cool feature of this function is that you can place dropbox links (or any public link to a CSV file) inside the function and you can download the data right from the internet.</span>
    
### Import Prelimnaries

In [2]:
# Import Modules
import pandas as pd

pd.set_option('max_columns', 1000)
pd.set_option('max_rows', 1000)

### Import CSV

In [3]:
# Read CSV Data
df = pd.read_csv('https://www.dropbox.com/s/5ui1and0j2dbdjh/pokemon.csv?dl=1')

# View the data
df.head(5)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,against_grass,against_ground,against_ice,against_normal,against_poison,against_psychic,against_rock,against_steel,against_water,attack,base_egg_steps,base_happiness,base_total,capture_rate,classfication,defense,experience_growth,height_m,hp,japanese_name,name,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,0.25,1.0,2.0,1.0,1.0,2.0,1.0,1.0,0.5,49,5120,70,318,45,Seed Pokémon,49,1059860,0.7,45,Fushigidaneフシギダネ,Bulbasaur,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,0.25,1.0,2.0,1.0,1.0,2.0,1.0,1.0,0.5,62,5120,70,405,45,Seed Pokémon,63,1059860,1.0,60,Fushigisouフシギソウ,Ivysaur,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,0.25,1.0,2.0,1.0,1.0,2.0,1.0,1.0,0.5,100,5120,70,625,45,Seed Pokémon,123,1059860,2.0,80,Fushigibanaフシギバナ,Venusaur,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,0.50,2.0,0.5,1.0,1.0,1.0,2.0,0.5,2.0,52,5120,70,309,45,Lizard Pokémon,43,1059860,0.6,39,Hitokageヒトカゲ,Charmander,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,0.50,2.0,0.5,1.0,1.0,1.0,2.0,0.5,2.0,64,5120,70,405,45,Flame Pokémon,58,1059860,1.1,58,Lizardoリザード,Charmeleon,88.1,5,80,65,80,fire,NaN,19.0,1,0

### Import Excel Document

In [6]:
pd.read_excel('https://www.dropbox.com/s/v704fefrr3r0neo/weather.xls?dl=1', Sheeet='weather')

     Outlook  Temp  Humidity Windy     Class
0      sunny    75        70   yes      Play
1      sunny    80        90   yes  DontPlay
2      sunny    85        85    no  DontPlay
3      sunny    72        95    no  DontPlay
4      sunny    69        70    no      Play
5   overcast    72        90   yes      Play
6   overcast    83        78    no      Play
7   overcast    64        65   yes      Play
8   overcast    81        75    no      Play
9       rain    71        80   yes  DontPlay
10      rain    65        70   yes  DontPlay
11      rain    75        80    no      Play
12      rain    68        80    no      Play
13      rain    70        96    no      Play

### Import Text Data

In [13]:
pd.read_csv('https://www.dropbox.com/s/q0ppmfbzlv0k9p4/ted_main.txt?dl=1', sep=" ")

ParserError: Error tokenizing data. C error: Expected 243 fields in line 3, saw 276

### Import JSON Data

In [16]:
pd.read_json('https://www.dropbox.com/s/16twozc11mwgwtk/sampledata.json?dl=1', orient='speakers')

                                            speakers
0  {'firstname': 'Ray', 'lastname': 'Villalobos',...

### Import XML Data

In [17]:
pd.read_xml('https://www.w3schools.com/xml/note.xml')

AttributeError: module 'pandas' has no attribute 'read_xml'