### Connect to Database

In [23]:
# Connecting to the database so run a query at the database level
import pandas as pd
from sqlalchemy import create_engine

# Set your local datbase parameters 
db_username = 'root'
db_password = 'root'
host = '127.0.0.1'
port = '8889'
db_name = 'Kickstarter'

# Create a MySQLEngine
engine = create_engine('mysql+mysqldb://'+db_username+':'+db_password+'@\
'+host+':'+port+'/'+db_name)

# Connect to database
engine.connect()

Engine(mysql+mysqldb://root:***@127.0.0.1:8889/Kickstarter)

### Query Database

In [26]:
# Run a query on a local MAMP dataframe
df = pd.read_sql(""" SELECT * FROM country""", engine)

# View dataframe 
df

    id  name
0    1    GB
1    2    US
2    3    CA
3    4    AU
4    5    NO
5    6    IT
6    7    DE
7    8    IE
8    9    MX
9   10    ES
10  11  N,0"
11  12    SE
12  13    FR
13  14    NL
14  15    NZ
15  16    CH
16  17    AT
17  18    DK
18  19    BE
19  20    HK
20  21    LU
21  22    SG
22  23    JP

Author: Kavi Sekhon