# <center>  Juypter SQL Database

Creating a database with a series of tables for some example queries. We will only be able to createa database smaller than 20mb to get around githubs filesize limit.

Database Source: https://www.w3resource.com/sql/sql-table.php

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
%sql sqlite://

'Connected: None@None'

In [52]:
%%sql
DROP TABLE IF EXISTS writer;
CREATE TABLE writer (first_name, last_name, year_of_death);
INSERT INTO writer VALUES ('Wiliam','Shakespeare', 1616);
INSERT INTO writer VALUES ('Bertold', 'Brecht', 1956);

Done.
Done.
1 rows affected.
1 rows affected.

[]

In [53]:
%sql SELECT * FROM writer

Done.

[('Wiliam', 'Shakespeare', 1616), ('Bertold', 'Brecht', 1956)]

##### Assinging Values to Pandas

In [56]:
# assigning query to a variable
result = %sql SELECT * FROM writer

Done.

In [58]:
# view the result of the query via a variable
result

[('Wiliam', 'Shakespeare', 1616), ('Bertold', 'Brecht', 1956)]