# Convert pandas Column's Time Zone

### Preliminaries

In [1]:
import pandas as pd
from pytz import all_timezones

In [2]:
#Show ten time zones
all_timezones[0:10]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau']

### Create pandas Series of Dates

In [9]:
#Create ten dates
dates = pd.Series(pd.date_range('2/2/2002', periods=10, freq='M'))
dates

0   2002-02-28
1   2002-03-31
2   2002-04-30
3   2002-05-31
4   2002-06-30
5   2002-07-31
6   2002-08-31
7   2002-09-30
8   2002-10-31
9   2002-11-30
dtype: datetime64[ns]

### Adding Time Zone of Pandas Series

In [8]:
#Adding Time Zones of pandas Series
dates_with_abidjan_time_zones = dates.dt.tz_localize('Africa/Abidjan')
dates_with_abidjan_time_zones

0   2002-02-28 00:00:00+00:00
1   2002-03-31 00:00:00+00:00
2   2002-04-30 00:00:00+00:00
3   2002-05-31 00:00:00+00:00
4   2002-06-30 00:00:00+00:00
5   2002-07-31 00:00:00+00:00
6   2002-08-31 00:00:00+00:00
7   2002-09-30 00:00:00+00:00
8   2002-10-31 00:00:00+00:00
9   2002-11-30 00:00:00+00:00
dtype: datetime64[ns, Africa/Abidjan]

### Convert TimeZone of pandas Series

In [12]:
# Convert time zone
dates_with_london_time_zone = dates_with_abidjan_time_zones.dt.tz_convert('Europe/London')
dates_with_london_time_zone

0   2002-02-28 00:00:00+00:00
1   2002-03-31 00:00:00+00:00
2   2002-04-30 01:00:00+01:00
3   2002-05-31 01:00:00+01:00
4   2002-06-30 01:00:00+01:00
5   2002-07-31 01:00:00+01:00
6   2002-08-31 01:00:00+01:00
7   2002-09-30 01:00:00+01:00
8   2002-10-31 00:00:00+00:00
9   2002-11-30 00:00:00+00:00
dtype: datetime64[ns, Europe/London]

Source: https://chrisalbon.com/machine-learning/convert_pandas_column_timezone.html