# Modeling San Francisco Crime Data
### Prelminaries

In [35]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

# Pandas Configuration
pd.set_option('display.max_columns', 999)

In [36]:
# Submission Example
sample = pd.DataFrame(pd.read_csv('Data/sampleSubmission.csv'))
sample.set_index('Id', inplace=True)
sample.head()

,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,EMBEZZLEMENT,EXTORTION,FAMILY OFFENSES,FORGERY/COUNTERFEITING,FRAUD,GAMBLING,KIDNAPPING,LARCENY/THEFT,LIQUOR LAWS,LOITERING,MISSING PERSON,NON-CRIMINAL,OTHER OFFENSES,PORNOGRAPHY/OBSCENE MAT,PROSTITUTION,RECOVERED VEHICLE,ROBBERY,RUNAWAY,SECONDARY CODES,SEX OFFENSES FORCIBLE,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
Id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

### Import Data

In [37]:
train = pd.DataFrame(pd.read_csv('Data/cleaned_train.csv'))
test = pd.DataFrame(pd.read_csv('Data/cleaned_test.csv'))
test.set_index('Id', inplace=True)

data = [train, test]

In [38]:
train.head(1)

,Datetime,PdDistrict,Address,Latitude,Longitude,Year,Season,Month,Day,Day of the Year,Day of the week,Weekend,Hour,Minute,Category
0,2015-05-13 23:53:00,4,19762,-122.425892,37.774599,2015,2,5,13,133,2,2,23,53,37

In [39]:
test.head(1)

,Datetime,PdDistrict,Address,Latitude,Longitude,Year,Season,Month,Day,Day of the Year,Day of the week,Weekend,Hour,Minute
Id,,,,,,,,,,,,,,
0,2015-05-10 23:59:00,0,6407,-122.399588,37.735051,2015,2,5,10,130,6,6,23,59

### Convert Data into Numpy Arrays

In [44]:
X_columns = train.columns[1:-1]
X_columns

Index(['PdDistrict', 'Address', 'Latitude', 'Longitude', 'Year', 'Season',
       'Month', 'Day', 'Day of the Year', 'Day of the week', 'Weekend', 'Hour',
       'Minute'],
      dtype='object')

In [45]:
train_X = train[X_columns].values
train_y = train['Category'].values

test_X = test[X_columns].values

### Train and Run Model

In [49]:
%%timeit 

clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(train_X, train_y)

1 loop, best of 3: 3.36 s per loop

In [48]:
clf.predict(test_X)

array([16, 16, 16, ..., 16, 16, 16])

### Evaluating Model

In [52]:
clf.score(train_X, train_y)

0.22635771576182656

### Train Test Split Evaluations

In [54]:
#from sklearn.cross_validation import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

### Viewing the First Output

In [58]:
clf.classes_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38])