# Ignoring Null or Missing Values

In [2]:
# Ignore
%load_ext sql
%sql sqlite://
%config SqlMagic.feedback = False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Creaet Data

In [3]:
%%sql

-- Create a table of criminals
CREATE TABLE criminals (pid, name, age, sex, city, minor);
INSERT INTO criminals VALUES (412, 'James Smith', 15, 'M', 'Santa Rosa', 1);
INSERT INTO criminals VALUES (234, NULL, 22, 'M', 'Santa Rosa', 0);
INSERT INTO criminals VALUES (632, NULL, 23, 'F', 'San Francisco', 0);
INSERT INTO criminals VALUES (901, 'Gordon Ado', 32, 'F', 'San Francisco', 0);
INSERT INTO criminals VALUES (512, 'Bill Byson', 21, 'M', 'Petaluma', 0);

[]

### Select Name and Ages Only When The Name is Known

In [4]:
%%sql

--  Select name and average age, from the table 'criminals', if age is not a null value 


SELECT name, age
FROM criminals
WHERE names IS NOT NULL

(sqlite3.OperationalError) no such column: names [SQL: "--  Select name and average age, from the table 'criminals', if age is not a null value \n\n\nSELECT name, age\nFROM criminals\nWHERE names IS NOT NULL"]

Source: https://chrisalbon.com/sql/ignoring_null_values.html