# Selecting Unique Rows

In [1]:
# Ignore
%load_ext sql
%sql sqlite://
%config SqlMagic.feedback = False

/Users/Kavi/anaconda/lib/python3.6/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/Kavi/anaconda/lib/python3.6/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

### Create Data

In [2]:
%%sql

-- Create a table of criminals
CREATE TABLE criminals (pid, name, age, sex, city, minor);
INSERT INTO criminals VALUES (412, 'James Smith', 15, 'M', 'Santa Rosa', 1);
INSERT INTO criminals VALUES (412, 'James Smith', 15, 'M', 'Santa Rosa', 1);
INSERT INTO criminals VALUES (412, 'James Smith', 15, 'M', 'Santa Rosa', 1);
INSERT INTO criminals VALUES (901, 'Gordon Ado', 32, 'F', 'San Francisco', 0);
INSERT INTO criminals VALUES (512, 'Bill Byson', 21, 'M', 'Petaluma', 0);

[]

### View All Rows

In [4]:
%%sql

SELECT *
FROM criminals

[(412, 'James Smith', 15, 'M', 'Santa Rosa', 1),
 (412, 'James Smith', 15, 'M', 'Santa Rosa', 1),
 (412, 'James Smith', 15, 'M', 'Santa Rosa', 1),
 (901, 'Gordon Ado', 32, 'F', 'San Francisco', 0),
 (512, 'Bill Byson', 21, 'M', 'Petaluma', 0)]

### View Unique Rows

In [5]:
%%sql

SELECT distinct *
FROM criminals

[(412, 'James Smith', 15, 'M', 'Santa Rosa', 1),
 (901, 'Gordon Ado', 32, 'F', 'San Francisco', 0),
 (512, 'Bill Byson', 21, 'M', 'Petaluma', 0)]

Source: https://chrisalbon.com/sql/selecting_unique_rows.html