# <center> Cleaning Data I

### Import Modules

In [1]:
# Import Modules
import pandas as pd

# Import Data
sample = pd.read_csv('https://www.dropbox.com/s/15jplg1yt05zl28/sample_submission.csv?dl=1', index_col='Id')
test_df = pd.read_csv('https://www.dropbox.com/s/v2m4seozmqxyh3x/test.csv?dl=1', index_col='Id')
train_df = pd.read_csv('https://www.dropbox.com/s/n95phfnwft9no0h/train.csv?dl=1', index_col='Id')


dfs = [train_df, test_df]
# View Sample Submission
sample.head(5)

          SalePrice
Id
1461  169277.052498
1462  187758.393989
1463  183583.683570
1464  179317.477511
1465  150730.079977

In [2]:
# Training and Testing Data Shape
print('Training Shape:', train_df.shape)
print('Test Shape:', test_df.shape)

Training Shape: (1460, 80)
Test Shape: (1459, 79)

In [3]:
# View training data
train_df.sample(5)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
627,20,RL,NaN,12342,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,GdWo,Shed,600,8,2007,WD,Normal,139900
1169,70,RL,120.0,13728,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,7,2008,WD,Normal,235000
758,60,RL,NaN,11616,Pave,NaN,IR1,Lvl,AllPub,CulDSac,...,0,NaN,GdPrv,NaN,0,4,2010,WD,Abnorml,158900
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
187,80,RL,NaN,9947,Pave,NaN,IR1,Lvl,AllPub,CulDSac,...,0,NaN,GdPrv,NaN,0,6,2009,WD,Normal,173000

In [4]:
# View Training Data
test_df.sample(5)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
2797,50,RM,90.0,33120,Pave,NaN,IR3,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,10,2006,WD,Normal
2509,20,RL,75.0,11750,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2007,WD,Normal
1656,160,RL,24.0,2349,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,5,2009,WD,Normal
1838,190,RM,60.0,10320,Pave,Grvl,Reg,Bnk,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,2,2009,WD,Normal
2586,20,RL,44.0,12864,Pave,NaN,IR1,Lvl,AllPub,CulDSac,...,145,0,NaN,NaN,NaN,0,7,2007,WD,Normal

### Checking Null Values

In [5]:
train_df.LotFrontage.dtype

dtype('float64')

In [6]:
# Training Data Null Values
train_null = pd.DataFrame(train_df.isnull().sum(), columns=['Train_df'])
train_null = train_null[train_null['Train_df'] > 0]

# Training Data Null Values
test_null = pd.DataFrame(test_df.isnull().sum(), columns=['Test_df'])
test_null = test_null[test_null['Test_df'] > 0]

pd.concat([train_null, test_null], axis=1).fillna(0)

              Train_df  Test_df
Alley           1369.0   1352.0
BsmtCond          37.0     45.0
BsmtExposure      38.0     44.0
BsmtFinSF1         0.0      1.0
BsmtFinSF2         0.0      1.0
BsmtFinType1      37.0     42.0
BsmtFinType2      38.0     42.0
BsmtFullBath       0.0      2.0
BsmtHalfBath       0.0      2.0
BsmtQual          37.0     44.0
BsmtUnfSF          0.0      1.0
Electrical         1.0      0.0
Exterior1st        0.0      1.0
Exterior2nd        0.0      1.0
Fence           1179.0   1169.0
FireplaceQu      690.0    730.0
Functional         0.0      2.0
GarageArea         0.0      1.0
GarageCars         0.0      1.0
GarageCond        81.0     78.0
GarageFinish      81.0     78.0
GarageQual        81.0     78.0
GarageType        81.0     76.0
GarageYrBlt       81.0     78.0
KitchenQual        0.0      1.0
LotFrontage      259.0    227.0
MSZoning           0.0      4.0
MasVnrArea         8.0     15.0
MasVnrType         8.0     16.0
MiscFeature     1406.0   1408.0
PoolQC          1453.0   1456.0
SaleType           0.0      1.0
TotalBsmtSF        0.0      1.0
Utilities          0.0      2.0


### Replace Null Values with their Mean

In [7]:
object_columns = test_df.select_dtypes('object').columns.values
numeric_columns = test_df.select_dtypes(['float64','int64']).columns.values

In [8]:
for feature in object_columns:
  train_df[feature]  = train_df[feature].fillna(value='Unknown')
  test_df[feature]  = train_df[feature].fillna(value='Unknown')
  
for feature in numeric_columns:
  train_df[feature]  = train_df[feature].fillna(value = test_df[feature].mean())
  test_df[feature]  = train_df[feature].fillna(value = test_df[feature].mean())


### Export Cleaned Data

In [9]:
train_df.to_csv('Data/cleaned_train_df.csv', index=True)
test_df.to_csv('Data/cleaned_test_df.csv', index=True)