### Preliminaries

In [8]:
import pandas as pd
pd.set_option('max_columns', 1000)

### Import Data

In [11]:
# read csv data
print('Data Import Started')
poll = pd.read_csv('https://www.dropbox.com/s/xqd8es3ytv0fkjm/pollution_us_2000_2016.csv?dl=1')
print('Data Import Complete')

Data Import Started
Data Import Complete

In [15]:
poll.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,0.022500,0.040,10,34,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,0.022500,0.040,10,34,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,0.022500,0.040,10,34,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,0.022500,0.040,10,34,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,22.958333,36.0,19,34,Parts per million,0.013375,0.032,10,27,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

### Wrangling Data

In [18]:
# Carbon Monoxide Mean by City
aggregate = pd.DataFrame(poll.groupby('City')['CO Mean'].mean())
aggregate

                                                CO Mean
City
Albuquerque                                    0.210986
Alexandria                                     0.254611
Altoona                                        0.153368
Annandale                                      0.428611
Arden-Arcade                                   0.404283
Ashland                                        0.131606
Athens                                         0.303041
Austin                                         0.105097
Bakersfield                                    0.825968
Baton Rouge                                    0.405679
Beaver Falls                                   0.218367
Beltsville                                     0.233528
Benicia                                        0.281730
Berkeley                                       0.308476
Bethel Island                                  0.307788
Birmingham                                     0.212607
Blaine                                         0.244840
Boston                                         0.318438
Boulder City                                   0.036694
Breckenridge Hills                             0.592681
Bristol                                        0.172700
Burbank                                        0.746172
Calexico                                       0.731028
Calumet City (PU RR name Calumet Park (sta.))  0.577601
Camden                                         0.392845
Capitan                                        0.203182
Charleroi                                      0.208234
Charlotte                                      0.357483
Cherry Tree                                    0.167629
Chicago                                        0.632211
...                                                 ...
San Diego                                      0.826184
San Francisco                                  0.530838
San Jose                                       0.365761
San Pablo                                      0.399645
Scottsdale                                     0.581747
Scranton                                       0.206279
Seattle                                        0.204777
Seven Corners                                  0.789482
Sioux Falls                                    0.189643
St. Ann                                        0.551000
St. Louis                                      0.411221
Sunset Hills                                   0.543152
Tijuana                                        0.948163
Tucson                                         0.307414
Tulsa                                          0.249960
Vallejo                                        0.444705
Valrico                                        0.189839
Vandenberg Air Force Base                      0.120688
Victorville                                    0.323437
Vinton                                         0.255250
Waco                                           0.124675
Washington                                     0.790170
Welby                                          0.467833
West Los Angeles                               0.577244
Westport                                       0.219023
Wilkes-Barre                                   0.207660
Wilmington                                     0.261600
Winston-Salem                                  0.459195
Winter Park                                    0.451190
York                                           0.214743

[144 rows x 1 columns]

### Exporting Data to CSV

In [19]:
print('Exporting File: Started')
aggregate.to_csv('Data/co_city.csv')
print('Exporting File: Finished')