# Make Simulated Data For Classification
### Preliminaries

In [4]:
from sklearn.datasets import make_classification
import pandas as pd

### Create Simulated Data

In [5]:
# Create a simulated feature matrix and output vector with 100 samples,
features, output = make_classification(n_samples = 100,
                                       # ten features
                                       n_features = 10,
                                       # five features that actually predict the output's classes
                                       n_informative = 5,
                                       # five features that are random and unrelated to the output's classes
                                       n_redundant = 5,
                                       # three output classes
                                       n_classes = 3,
                                       # with 20% of observations in the first class, 30% in the second class,
                                       # and 50% in the third class. ('None' makes balanced classes)
                                       weights = [.2, .3, .8])

### View Data

In [7]:
# View the first five observations and their 10 features
pd.DataFrame(features).head()

,0,1,2,3,4,5,6,7,8,9
0,-0.531421,0.292687,0.021294,0.699503,0.257736,-0.920975,-0.175229,-0.552162,0.217505,0.028890
1,0.332544,-0.150224,-0.887029,0.028002,-1.618457,0.289294,-1.327108,-0.605981,1.275701,-0.153902
2,0.140272,0.197666,-2.343007,3.037248,-2.361482,-2.238674,-2.569707,-2.756900,2.335352,1.398682
3,-1.900423,1.842618,0.016628,-1.428892,1.470929,1.592632,4.156227,-2.072501,-1.143915,1.240310
4,2.691306,-0.002769,-2.744062,-1.801102,-4.443536,0.466610,-5.427102,3.314092,2.088673,-3.360227

Source: https://chrisalbon.com/machine-learning/make_simulated_data_for_classification.html