# Make Simulated Data For Regression
### Preliminaries

In [1]:
import pandas as pd
from sklearn.datasets import make_regression

### Create Simulated Data

In [2]:
# Generate features, outputs, and true coefficients of 100 samples
features, output, coef = make_regression(n_samples=100, 
                                        n_features=3, 
                                        n_informative=2, 
                                        n_targets=1, 
                                        noise=0.0, 
                                        coef =True)

### View Simulated Data

In [3]:
# View the features of the first five rows
pd.DataFrame(features, columns=['Store 1', 'Store 2','Store 3']).head()

    Store 1   Store 2   Store 3
0 -0.983804 -0.068651  0.397841
1  0.158887  0.327223 -1.548993
2  0.129917  1.159890  1.008183
3 -0.144906  0.394860  0.105554
4  1.769737  0.300734  0.331375

In [5]:
# View the output of the first five rows
pd.DataFrame(output, columns=['Sales']).head()

        Sales
0    8.947698
1 -122.987109
2   85.649826
3    5.161716
4   69.615811

In [6]:
# View the actual, true coefficients used to generate the data. 
pd.DataFrame(coef, columns=['True Coefficients Values'])

   True Coefficients Values
0                 24.008741
1                  0.000000
2                 81.860793

Source: https://chrisalbon.com/machine-learning/make_simulated_data_for_regression.html