# <center> Resampling Data
### Import Preliminaries

In [2]:
# Import modules
import pandas as pd

# Set pandas float display format
pd.options.display.float_format = '{:.1f}'.format

# Import data
df = pd.read_csv('https://www.dropbox.com/s/sx98q8x14nhd3xa/ww2_summary%20of%20weather.csv?dl=1',
                low_memory=False, usecols=['Date','MaxTemp','MinTemp','MeanTemp'],
                parse_dates=['Date'], index_col=['Date'])

# view the dataframe
df.sort_index(ascending=True).head()

            MaxTemp  MinTemp  MeanTemp
Date
1940-01-01     26.7     17.2      22.2
1940-01-01     23.3     17.2      20.0
1940-01-01     28.3     22.2      25.6
1940-01-02     23.3     16.1      19.4
1940-01-02     28.9     23.3      26.1

In [3]:
# Resample dataframe by Month
df.resample('M').mean().head(5)

            MaxTemp  MinTemp  MeanTemp
Date
1940-01-31     27.2     18.3      22.7
1940-02-29     27.2     17.9      22.6
1940-03-31     27.8     17.8      22.8
1940-04-30     28.4     19.7      24.1
1940-05-31     28.7     20.8      24.8

Author: Kavi