# Group By Aggregations
### Import Preliminaries

In [13]:
# Import modules
import pandas as pd

# Set pandas float display format
pd.options.display.float_format = '{:.1f}'.format

# Import data
df = pd.read_csv('https://www.dropbox.com/s/2uos48wjnkx4vcj/Pokemon.csv?dl=1',
                index_col=['#'])

# View the data
df.head(5)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Pandas Describe Function

In [14]:
df.describe()

       Total    HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
count  800.0 800.0   800.0    800.0    800.0    800.0  800.0       800.0
mean   435.1  69.3    79.0     73.8     72.8     71.9   68.3         3.3
std    120.0  25.5    32.5     31.2     32.7     27.8   29.1         1.7
min    180.0   1.0     5.0      5.0     10.0     20.0    5.0         1.0
25%    330.0  50.0    55.0     50.0     49.8     50.0   45.0         2.0
50%    450.0  65.0    75.0     70.0     65.0     70.0   65.0         3.0
75%    515.0  80.0   100.0     90.0     95.0     90.0   90.0         5.0
max    780.0 255.0   190.0    230.0    194.0    230.0  180.0         6.0

### Series Groupby

In [5]:
### Series group by pokemon generation via Total, show mean
gen = df.groupby('Generation').Total.mean()
gen = pd.DataFrame(gen); gen

                 Total
Generation
1           426.813253
2           418.283019
3           436.225000
4           459.016529
5           434.987879
6           436.378049

### DataFrame Groupby

In [19]:
# Dataframe group by on generation via Total, show mean
gen = df.groupby('Generation').mean()
gen = pd.DataFrame(gen); gen

            Total   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Legendary
Generation
1           426.8 65.8    76.6     70.9     71.8     69.1   72.6        0.0
2           418.3 71.2    72.0     73.4     65.9     73.9   61.8        0.0
3           436.2 66.5    81.6     74.1     75.8     71.2   66.9        0.1
4           459.0 73.1    82.9     78.1     76.4     77.2   71.3        0.1
5           435.0 71.8    82.1     72.3     72.0     68.7   68.1        0.1
6           436.4 68.3    75.8     76.7     74.3     74.9   66.4        0.1

### Multiple Group By Clause

In [26]:
# series groupby on multiple categories (generation, legendary status) 
# via Attack, show max 

legendary = df.groupby(['Generation','Legendary']).Attack.mean()
legendary = pd.DataFrame(legendary); legendary

                      Attack
Generation Legendary
1          False        75.0
           True        120.8
2          False        70.7
           True         99.0
3          False        77.0
           True        118.3
4          False        79.6
           True        109.8
5          False        78.2
           True        120.3
6          False        70.5
           True        125.2

### Pivot Groupby Statement

In [30]:
# Datafarme Groupby Statement on only Type 1 and Type 2 pokemon.
# Plus the use  Unstack function on the groupby
# View mean defense by Pokemon Type

ptype = df.groupby(['Type 1','Type 2']).Defense.mean().unstack()
ptype = ptype.fillna(value='-')
ptype = pd.DataFrame(ptype); ptype

Type 2,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Type 1,,,,,,,,,,,,,,,,,,
Bug,-,-,-,55.0,-,95.0,60.0,61.6,45.0,76.7,97.5,-,-,58.1,-,146.7,112.4,32.0
Dark,-,-,70.0,-,-,92.5,56.7,73.8,100.0,-,-,60.0,-,-,70.5,-,85.0,-
Dragon,-,-,-,120.0,110.0,-,100.0,97.5,-,-,88.2,93.3,-,-,97.5,-,-,-
Electric,-,-,105.0,-,57.0,-,107.0,78.4,77.0,107.0,-,107.0,42.5,-,-,-,93.3,107.0
Fairy,-,-,-,-,-,-,-,90.0,-,-,-,-,-,-,-,-,-,-
Fighting,-,78.0,-,-,-,-,-,75.0,-,-,-,-,-,-,71.7,-,79.0,-
Fire,-,-,111.0,-,-,64.7,-,77.0,-,-,70.0,-,65.0,-,88.5,120.0,106.0,120.0
Flying,-,-,57.5,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
Ghost,-,108.0,110.0,-,-,-,68.3,39.0,-,89.2,-,-,-,53.8,-,-,-,-
Grass,-,53.3,75.0,-,72.5,91.3,-,63.6,-,-,105.0,76.7,-,62.5,82.5,-,111.0,-
Ground,-,53.3,65.0,84.0,-,-,160.0,102.5,65.0,-,-,-,-,-,80.0,115.0,60.0,-
Ice,-,-,-,-,-,-,-,72.5,70.0,-,66.7,-,-,-,25.0,-,-,70.0
Normal,-,-,-,-,49.2,92.0,-,54.2,-,60.0,77.0,-,-,-,71.0,-,-,60.0
Poison,90.0,74.7,90.0,-,-,52.5,-,61.7,-,-,82.0,-,-,-,-,-,-,60.0
Psychic,-,60.0,-,-,50.0,86.7,100.0,70.5,60.0,100.0,-,-,-,-,-,-,-,-
Rock,75.0,130.0,98.0,-,136.7,90.0,-,65.0,-,87.0,104.2,61.0,-,-,75.0,-,143.7,100.3
Steel,-,-,120.0,-,100.3,129.0,-,140.0,112.5,-,215.0,-,-,-,108.9,140.0,-,-
Water,-,65.2,97.5,48.0,65.0,91.7,-,63.1,60.0,50.0,71.4,113.3,-,58.3,104.0,112.8,88.0,-

### CrossTab Function

In [34]:
# A count of only 2 type pokemon across their Types
two_type_pokemon_count = pd.crosstab(df['Type 1'], df['Type 2'])
two_type_pokemon_count

Type 2,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Type 1,,,,,,,,,,,,,,,,,,
Bug,0,0,0,2,0,2,2,14,1,6,2,0,0,12,0,3,7,1
Dark,0,0,3,0,0,2,3,5,2,0,0,2,0,0,2,0,2,0
Dragon,0,0,0,1,1,0,1,6,0,0,5,3,0,0,4,0,0,0
Electric,0,0,1,0,1,0,1,5,1,1,0,1,2,0,0,0,3,1
Fairy,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0
Fighting,0,1,0,0,0,0,0,1,0,0,0,0,0,0,3,0,2,0
Fire,0,0,1,0,0,7,0,6,0,0,3,0,2,0,2,1,1,1
Flying,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Ghost,0,1,2,0,0,0,3,2,0,10,0,0,0,4,0,0,0,0
Grass,0,3,1,0,2,3,0,5,0,0,1,3,0,15,2,0,2,0
Ground,0,3,2,1,0,0,1,4,2,0,0,0,0,0,2,3,1,0
Ice,0,0,0,0,0,0,0,2,1,0,3,0,0,0,2,0,0,3
Normal,0,0,0,0,5,2,0,24,0,2,1,0,0,0,2,0,0,1
Poison,1,3,1,0,0,2,0,3,0,0,2,0,0,0,0,0,0,1
Psychic,0,1,0,0,6,3,1,6,1,1,0,0,0,0,0,0,0,0
Rock,2,2,2,0,3,1,0,4,0,2,6,2,0,0,2,0,3,6
Steel,0,0,1,0,3,1,0,1,4,0,2,0,0,0,7,3,0,0
Water,0,6,2,2,2,3,0,7,2,3,10,3,0,3,5,4,1,0

Author: Kavi Sekhon