### Label Encoding

In [22]:
import pandas as pd
df = pd.DataFrame([['Alan','Bob','Catherine'],[34, 26, 43]]).T
df.columns = ['name','age']

In [23]:
df

        name age
0       Alan  34
1        Bob  26
2  Catherine  43

In [34]:
df.name = df.name.astype('category')
df.name = df.name.cat.codes
df

   name age
0     0  34
1     1  26
2     2  43