# SQL To Dataframe

In [2]:
import pandas as pd
import sqlite3

In [3]:
conn = sqlite3.connect('flight.db')
df = pd.read_sql_query('Select * from airlines limit 5:', conn)
df

DatabaseError: Execution failed on sql 'Select * from airlines limit 5:': unrecognized token: ":"