# Label Encoding

<span>Encoding a categorical feature into numeric values before processing the data through your machine learning model is now easier than ever, given that two methods now exist for a data scientist. You can use Pandas category datatype to quickly encode your data, or use the Skearn LabelEncoding class to encode your data. I generally prefer going the Pandas route as Pandas is involved in my main workflow.</span>

### Import Preliminaries

In [21]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df = pd.DataFrame(data = [['Matt','24','99'],
                         ['Owen','22', '98'],
                         ['Link', '16','100']], 
                  columns = ['name','age','score'])

df

   name age score
0  Matt  24    99
1  Owen  22    98
2  Link  16   100

### Label Encoding with Pandas

In [22]:
pdf = df.copy()
pdf.name = pdf.name.astype('category')
pdf.name = pdf.name.cat.codes
pdf

   name age score
0     1  24    99
1     2  22    98
2     0  16   100

### Label Encoding with SkLearn

In [23]:
skdf = df.copy()
le = LabelEncoder()
skdf.name = le.fit_transform(df.name)
skdf

   name age score
0     1  24    99
1     2  22    98
2     0  16   100

Author: Kavi Sekhon