# Styling a DataFrame

<span>Stylng a data frame is pleasant a surprising amount of times. You can define a coloring function for your data frame then apply the styling whenever you call the data frame at the end of the cell. Note that you cannot save styling to a data frame but only apply it when rending the data frame.</span>

### Import Preliminaries

In [1]:
import pandas as pd
import numpy as np

df =pd.DataFrame( data={'feature_1': np.random.randn(5),
                      'feature_2': np.random.random(5)})

def color_dataframe(val):
    """
    Color dataframe based the scalar
    """
    if val < 0:
      color = 'red' 
    elif val > 0:
      color = 'green' 
    else:
      color =  'black'
    return 'color: %s' % color

df.style.applymap(color_dataframe)

In [2]:
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

df.style.apply(highlight_max)

### Highlighting a Subset

In [3]:
# Highlighting certain colors
df.style.apply(highlight_max, subset=['feature_1'])

In [4]:
# Highlighting certain colors
df.style.apply(highlight_max, subset=pd.IndexSlice[0:2, ['feature_1','feature_2']])

### Formating Numeric Values

In [5]:
df.style.format("{:.2%}")

In [6]:
# Column Specfic Formatting
df.style.format({'feature_1': "{:0<4.0f}", 'feature_2': '{:+.2f}'})

In [7]:
# Using a lambda function to apply formatting
df.style.format({"feature_1": lambda x: "±{:.2f}".format(abs(x))})

### Built in Styles

In [8]:
df.loc[1,'feature_1'] = np.nan
df.loc[3,'feature_2'] = np.nan

df.style.highlight_null(null_color='red')

### Seaborn Color Styles

In [9]:
import seaborn as sns

cm = sns.light_palette("green", as_cmap=True)

s = df.style.background_gradient(cmap=cm)
s

/Users/Kavi/anaconda/envs/tensorflow/lib/python3.6/site-packages/matplotlib/colors.py:504: RuntimeWarning: invalid value encountered in less
  xa[xa < 0] = -1

### Min Max Highlights

In [10]:
df.style.highlight_max(axis=0)

In [11]:
df.style.highlight_min(axis=0)

### Style Set Properties

In [12]:
df.style.set_properties(**{'background-color': 'black',
                           'color': 'lawngreen',
                           'border-color': 'white'})

### Bar Charts

In [13]:
df.style.bar(subset=['feature_1'], color='#d65f5f')

In [14]:
df.style.bar(subset=['feature_1','feature_2'], color='#d65f5f')

In [15]:
df.style.bar(subset=['feature_1', 'feature_2'], align='mid', color=['#d65f5f', '#5fba7d'])

### Exporting and Sharing Style

In [16]:
df2 = -df
style1 = df.style.applymap(color_dataframe)
style1

In [17]:
style2 = df2.style
style2.use(style1.export())
style2