### Introduction to Pandas

Source: http://nbviewer.jupyter.org/urls/gist.github.com/fonnesbeck/5850375/raw/c18cfcd9580d382cb6d14e4708aab33a0916ff3e/1.+Introduction+to+Pandas.ipynb

In [1]:
from IPython.core.display import HTML
HTML("<iframe src=http://pandas.pydata.org width=800 height=350></iframe>")

In [2]:
import pandas as pd

# Set some pandas options
# pd.set_option('html', False)
pd.set_option('max_columns', 30)
pd.set_option('max_rows', 20)

### Pandat Data Sctructures
#### Series

In [3]:
counts = pd.Series([632, 1638, 569, 115])
counts

0     632
1    1638
2     569
3     115
dtype: int64

In [4]:
counts.values

array([ 632, 1638,  569,  115])

In [5]:
counts.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
bacteria = pd.Series([632, 1638, 569, 115], 
    index=['Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes'])
bacteria

Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacteroidetes      115
dtype: int64

In [7]:
bacteria['Actinobacteria']

569

In [8]:
bacteria[[name.endswith('bacteria') for name in bacteria.index]]

Proteobacteria    1638
Actinobacteria     569
dtype: int64

In [9]:
bacteria[0]

632

In [10]:
bacteria.name = 'counts'
bacteria.index.name = 'phylum'
bacteria

phylum
Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacteroidetes      115
Name: counts, dtype: int64

In [11]:
import numpy as np
np.log(bacteria)

phylum
Firmicutes        6.448889
Proteobacteria    7.401231
Actinobacteria    6.343880
Bacteroidetes     4.744932
Name: counts, dtype: float64

In [12]:
bacteria[bacteria>10000]

Series([], Name: counts, dtype: int64)

In [13]:
bacteria_dict = {'Firmicutes': 632,
           'Proteobacteria':1638,
           'Actinobacteria': 569,
            'Bacteroidetes': 115}
pd.Series(bacteria_dict)

Actinobacteria     569
Bacteroidetes      115
Firmicutes         632
Proteobacteria    1638
dtype: int64

In [14]:
bacteria2 = pd.Series(bacteria_dict, index=['Cyanobacteria','Firmicutes','Proteobacteria','Actinobacteria'])
bacteria2

Cyanobacteria        NaN
Firmicutes         632.0
Proteobacteria    1638.0
Actinobacteria     569.0
dtype: float64

In [15]:
bacteria2.isnull()

Cyanobacteria      True
Firmicutes        False
Proteobacteria    False
Actinobacteria    False
dtype: bool

In [16]:
bacteria + bacteria2

Actinobacteria    1138.0
Bacteroidetes        NaN
Cyanobacteria        NaN
Firmicutes        1264.0
Proteobacteria    3276.0
dtype: float64

#### DataFrame

In [17]:
data = pd.DataFrame({'value':[632, 1638, 569, 115, 433, 1130, 754, 555],
                     'patient':[1, 1, 1, 1, 2, 2, 2, 2],
                     'phylum':['Firmicutes', 'Proteobacteria', 'Actinobacteria', 
    'Bacteroidetes', 'Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes']})
data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

In [18]:
data[['phylum','value','patient']]

           phylum  value  patient
0      Firmicutes    632        1
1  Proteobacteria   1638        1
2  Actinobacteria    569        1
3   Bacteroidetes    115        1
4      Firmicutes    433        2
5  Proteobacteria   1130        2
6  Actinobacteria    754        2
7   Bacteroidetes    555        2

In [19]:
data.columns

Index(['patient', 'phylum', 'value'], dtype='object')

In [20]:
data['value']

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: int64

In [21]:
type(data.value)

pandas.core.series.Series

In [22]:
type(data[['value']])

pandas.core.frame.DataFrame

In [23]:
data.ix[3]

/Users/Kavi/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

patient                1
phylum     Bacteroidetes
value                115
Name: 3, dtype: object

In [24]:
data = pd.DataFrame({0: {'patient': 1, 'phylum': 'Firmicutes', 'value': 632},
                    1: {'patient': 1, 'phylum': 'Proteobacteria', 'value': 1638},
                    2: {'patient': 1, 'phylum': 'Actinobacteria', 'value': 569},
                    3: {'patient': 1, 'phylum': 'Bacteroidetes', 'value': 115},
                    4: {'patient': 2, 'phylum': 'Firmicutes', 'value': 433},
                    5: {'patient': 2, 'phylum': 'Proteobacteria', 'value': 1130},
                    6: {'patient': 2, 'phylum': 'Actinobacteria', 'value': 754},
                    7: {'patient': 2, 'phylum': 'Bacteroidetes', 'value': 555}})

In [25]:
data

,0,1,2,3,4,5,6,7
patient,1,1,1,1,2,2,2,2
phylum,Firmicutes,Proteobacteria,Actinobacteria,Bacteroidetes,Firmicutes,Proteobacteria,Actinobacteria,Bacteroidetes
value,632,1638,569,115,433,1130,754,555

In [26]:
data = data.T
data

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes   115
4       2      Firmicutes   433
5       2  Proteobacteria  1130
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

In [27]:
vals = data.value
vals

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: object

In [28]:
vals[5] = 0
vals

0     632
1    1638
2     569
3     115
4     433
5       0
6     754
7     555
Name: value, dtype: object

In [29]:
data

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes   115
4       2      Firmicutes   433
5       2  Proteobacteria     0
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

In [30]:
vals = data.copy()
vals[5] = 1000
data

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes   115
4       2      Firmicutes   433
5       2  Proteobacteria     0
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

In [31]:
data['year'] = 2013
data

  patient          phylum value  year
0       1      Firmicutes   632  2013
1       1  Proteobacteria  1638  2013
2       1  Actinobacteria   569  2013
3       1   Bacteroidetes   115  2013
4       2      Firmicutes   433  2013
5       2  Proteobacteria     0  2013
6       2  Actinobacteria   754  2013
7       2   Bacteroidetes   555  2013

In [32]:
# But note, we cannot use the attribute indexing method to add a new column:
data.treatment = 1
data

  patient          phylum value  year
0       1      Firmicutes   632  2013
1       1  Proteobacteria  1638  2013
2       1  Actinobacteria   569  2013
3       1   Bacteroidetes   115  2013
4       2      Firmicutes   433  2013
5       2  Proteobacteria     0  2013
6       2  Actinobacteria   754  2013
7       2   Bacteroidetes   555  2013

In [33]:
data.treatment = 1

In [34]:
treatment = pd.Series([0]*4 + [1]*2)
treatment

0    0
1    0
2    0
3    0
4    1
5    1
dtype: int64

In [35]:
data['treatment'] = treatment
data

  patient          phylum value  year  treatment
0       1      Firmicutes   632  2013        0.0
1       1  Proteobacteria  1638  2013        0.0
2       1  Actinobacteria   569  2013        0.0
3       1   Bacteroidetes   115  2013        0.0
4       2      Firmicutes   433  2013        1.0
5       2  Proteobacteria     0  2013        1.0
6       2  Actinobacteria   754  2013        NaN
7       2   Bacteroidetes   555  2013        NaN

In [36]:
# Other Python data structures (ones without an index) need to be the same length as the 
# The following code does not work
#month = ['Jan', 'Feb', 'Mar', 'Apr']
#data['month'] = month

In [37]:
data['month'] = ['Jan']*len(data)
data

  patient          phylum value  year  treatment month
0       1      Firmicutes   632  2013        0.0   Jan
1       1  Proteobacteria  1638  2013        0.0   Jan
2       1  Actinobacteria   569  2013        0.0   Jan
3       1   Bacteroidetes   115  2013        0.0   Jan
4       2      Firmicutes   433  2013        1.0   Jan
5       2  Proteobacteria     0  2013        1.0   Jan
6       2  Actinobacteria   754  2013        NaN   Jan
7       2   Bacteroidetes   555  2013        NaN   Jan

In [38]:
del data['month']
data

  patient          phylum value  year  treatment
0       1      Firmicutes   632  2013        0.0
1       1  Proteobacteria  1638  2013        0.0
2       1  Actinobacteria   569  2013        0.0
3       1   Bacteroidetes   115  2013        0.0
4       2      Firmicutes   433  2013        1.0
5       2  Proteobacteria     0  2013        1.0
6       2  Actinobacteria   754  2013        NaN
7       2   Bacteroidetes   555  2013        NaN

In [39]:
data.values

array([[1, 'Firmicutes', 632, 2013, 0.0],
       [1, 'Proteobacteria', 1638, 2013, 0.0],
       [1, 'Actinobacteria', 569, 2013, 0.0],
       [1, 'Bacteroidetes', 115, 2013, 0.0],
       [2, 'Firmicutes', 433, 2013, 1.0],
       [2, 'Proteobacteria', 0, 2013, 1.0],
       [2, 'Actinobacteria', 754, 2013, nan],
       [2, 'Bacteroidetes', 555, 2013, nan]], dtype=object)

In [40]:
df = pd.DataFrame({'foo': [1,2,3], 'bar':[0.4, -1.0, 4.5]})
df

   bar  foo
0  0.4    1
1 -1.0    2
2  4.5    3

In [41]:
df.values

array([[ 0.4,  1. ],
       [-1. ,  2. ],
       [ 4.5,  3. ]])

In [42]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [43]:
# Index objects are immutable (cannot be changed)
# Following code will not work
# data.index[0] = 15

In [44]:
bacteria2.index = bacteria.index

In [45]:
bacteria2

phylum
Firmicutes           NaN
Proteobacteria     632.0
Actinobacteria    1638.0
Bacteroidetes      569.0
dtype: float64

### Importing Data

In [46]:
# Below is bach command to view a csv file in terminal
!cat data/microbiome.csv

Taxon,Patient,Tissue,Stool
Firmicutes,1,632,305
Firmicutes,2,136,4182
Firmicutes,3,1174,703
Firmicutes,4,408,3946
Firmicutes,5,831,8605
Firmicutes,6,693,50
Firmicutes,7,718,717
Firmicutes,8,173,33
Firmicutes,9,228,80
Firmicutes,10,162,3196
Firmicutes,11,372,32
Firmicutes,12,4255,4361
Firmicutes,13,107,1667
Firmicutes,14,96,223
Firmicutes,15,281,2377
Proteobacteria,1,1638,3886
Proteobacteria,2,2469,1821
Proteobacteria,3,839,661
Proteobacteria,4,4414,18
Proteobacteria,5,12044,83
Proteobacteria,6,2310,12
Proteobacteria,7,3053,547
Proteobacteria,8,395,2174
Proteobacteria,9,2651,767
Proteobacteria,10,1195,76
Proteobacteria,11,6857,795
Proteobacteria,12,483,666
Proteobacteria,13,2950,3994
Proteobacteria,14,1541,816
Proteobacteria,15,1307,53
Actinobacteria,1,569,648
Actinobacteria,2,1590,4
Actinobacteria,3,25,2
Actinobacteria,4,259,300
Actinobacteria,5,568,7
Actinobacteria,6,1102,9
Actinobacteria,7,678,377
Actinobacteria,8,260,58
Actinobacteria,9,424,233
Actinobacteria,10,548,21
Actinobacteria,11,201,83
Actinobacteria,12,42,75
Actinobacteria,13,109,59
Actinobacteria,14,51,183
Actinobacteria,15,310,204
Bacteroidetes,1,115,380
Bacteroidetes,2,67,0
Bacteroidetes,3,0,0
Bacteroidetes,4,85,5
Bacteroidetes,5,143,7
Bacteroidetes,6,678,2
Bacteroidetes,7,4829,209
Bacteroidetes,8,74,651
Bacteroidetes,9,169,254
Bacteroidetes,10,106,10
Bacteroidetes,11,73,381
Bacteroidetes,12,30,359
Bacteroidetes,13,51,51
Bacteroidetes,14,2473,2314
Bacteroidetes,15,102,33
Other,1,114,277
Other,2,195,18
Other,3,42,2
Other,4,316,43
Other,5,202,40
Other,6,116,0
Other,7,527,12
Other,8,357,11
Other,9,106,11
Other,10,67,14
Other,11,203,6
Other,12,392,6
Other,13,28,25
Other,14,12,22
Other,15,305,32

In [47]:
mb = pd.read_csv('data/microbiome.csv')
mb

         Taxon  Patient  Tissue  Stool
0   Firmicutes        1     632    305
1   Firmicutes        2     136   4182
2   Firmicutes        3    1174    703
3   Firmicutes        4     408   3946
4   Firmicutes        5     831   8605
5   Firmicutes        6     693     50
6   Firmicutes        7     718    717
7   Firmicutes        8     173     33
8   Firmicutes        9     228     80
9   Firmicutes       10     162   3196
..         ...      ...     ...    ...
65       Other        6     116      0
66       Other        7     527     12
67       Other        8     357     11
68       Other        9     106     11
69       Other       10      67     14
70       Other       11     203      6
71       Other       12     392      6
72       Other       13      28     25
73       Other       14      12     22
74       Other       15     305     32

[75 rows x 4 columns]

In [48]:
pd.read_csv('data/microbiome.csv', header=None).head()

            0        1       2      3
0       Taxon  Patient  Tissue  Stool
1  Firmicutes        1     632    305
2  Firmicutes        2     136   4182
3  Firmicutes        3    1174    703
4  Firmicutes        4     408   3946

In [49]:
mb = pd.read_table('data/microbiome.csv', sep=',')

In [50]:
mb = pd.read_csv("data/microbiome.csv", index_col=['Taxon','Patient'])
mb.head()

                    Tissue  Stool
Taxon      Patient
Firmicutes 1           632    305
           2           136   4182
           3          1174    703
           4           408   3946
           5           831   8605

If we have sections of data that we do not wish to import (for example, known bad data), we can populate the skiprows argument:

In [51]:
pd.read_csv('data/microbiome.csv', skiprows=[3,4,6]).head()

        Taxon  Patient  Tissue  Stool
0  Firmicutes        1     632    305
1  Firmicutes        2     136   4182
2  Firmicutes        5     831   8605
3  Firmicutes        7     718    717
4  Firmicutes        8     173     33

Conversely, if we only want to import a small number of rows from, say, a very large data file we can use nrows:

In [52]:
pd.read_csv('data/microbiome.csv', nrows=4)

        Taxon  Patient  Tissue  Stool
0  Firmicutes        1     632    305
1  Firmicutes        2     136   4182
2  Firmicutes        3    1174    703
3  Firmicutes        4     408   3946

Alternately, if we want to process our data in reasonable chunks, the chunksize argument will return an iterable object that can be employed in a data processing loop. For example, our microbiome data are organized by bacterial phylum, with 15 patients represented in each

In [53]:
data_chunks = pd.read_csv("data/microbiome.csv", chunksize=15)

#mean_tissue = {chunk.Taxon[0]:chunk.Tissue.mean() for chunk in data_chunks}
    
#mean_tissue

In [54]:
!cat data/microbiome_missing.csv

Taxon,Patient,Tissue,Stool
Firmicutes,1,632,305
Firmicutes,2,136,4182
Firmicutes,3,,703
Firmicutes,4,408,3946
Firmicutes,5,831,8605
Firmicutes,6,693,50
Firmicutes,7,718,717
Firmicutes,8,173,33
Firmicutes,9,228,NA
Firmicutes,10,162,3196
Firmicutes,11,372,-99999
Firmicutes,12,4255,4361
Firmicutes,13,107,1667
Firmicutes,14,?,223
Firmicutes,15,281,2377
Proteobacteria,1,1638,3886
Proteobacteria,2,2469,1821
Proteobacteria,3,839,661
Proteobacteria,4,4414,18
Proteobacteria,5,12044,83
Proteobacteria,6,2310,12
Proteobacteria,7,3053,547
Proteobacteria,8,395,2174
Proteobacteria,9,2651,767
Proteobacteria,10,1195,76
Proteobacteria,11,6857,795
Proteobacteria,12,483,666
Proteobacteria,13,2950,3994
Proteobacteria,14,1541,816
Proteobacteria,15,1307,53
Actinobacteria,1,569,648
Actinobacteria,2,1590,4
Actinobacteria,3,25,2
Actinobacteria,4,259,300
Actinobacteria,5,568,7
Actinobacteria,6,1102,9
Actinobacteria,7,678,377
Actinobacteria,8,260,58
Actinobacteria,9,424,233
Actinobacteria,10,548,21
Actinobacteria,11,201,83
Actinobacteria,12,42,75
Actinobacteria,13,109,59
Actinobacteria,14,51,183
Actinobacteria,15,310,204
Bacteroidetes,1,115,380
Bacteroidetes,2,67,0
Bacteroidetes,3,0,0
Bacteroidetes,4,85,5
Bacteroidetes,5,143,7
Bacteroidetes,6,678,2
Bacteroidetes,7,4829,209
Bacteroidetes,8,74,651
Bacteroidetes,9,169,254
Bacteroidetes,10,106,10
Bacteroidetes,11,73,381
Bacteroidetes,12,30,359
Bacteroidetes,13,51,51
Bacteroidetes,14,2473,2314
Bacteroidetes,15,102,33
Other,1,114,277
Other,2,195,18
Other,3,42,2
Other,4,316,43
Other,5,202,40
Other,6,116,0
Other,7,527,12
Other,8,357,11
Other,9,106,11
Other,10,67,14
Other,11,203,6
Other,12,392,6
Other,13,28,25
Other,14,12,22
Other,15,305,32

In [55]:
pd.read_csv('data/microbiome_missing.csv').head(20)

             Taxon  Patient Tissue    Stool
0       Firmicutes        1    632    305.0
1       Firmicutes        2    136   4182.0
2       Firmicutes        3    NaN    703.0
3       Firmicutes        4    408   3946.0
4       Firmicutes        5    831   8605.0
5       Firmicutes        6    693     50.0
6       Firmicutes        7    718    717.0
7       Firmicutes        8    173     33.0
8       Firmicutes        9    228      NaN
9       Firmicutes       10    162   3196.0
10      Firmicutes       11    372 -99999.0
11      Firmicutes       12   4255   4361.0
12      Firmicutes       13    107   1667.0
13      Firmicutes       14      ?    223.0
14      Firmicutes       15    281   2377.0
15  Proteobacteria        1   1638   3886.0
16  Proteobacteria        2   2469   1821.0
17  Proteobacteria        3    839    661.0
18  Proteobacteria        4   4414     18.0
19  Proteobacteria        5  12044     83.0

In [56]:
pd.isnull(pd.read_csv("data/microbiome_missing.csv")).head()

   Taxon  Patient  Tissue  Stool
0  False    False   False  False
1  False    False   False  False
2  False    False    True  False
3  False    False   False  False
4  False    False   False  False

Unfortunately, there will sometimes be inconsistency with the conventions for missing data. In this example, there is a question mark "?" and a large negative number where there should have been a positive integer. We can specify additional symbols with the na_values argument:

In [57]:
pd.read_csv("data/microbiome_missing.csv", na_values=['?',-99999]).head(20)

             Taxon  Patient   Tissue   Stool
0       Firmicutes        1    632.0   305.0
1       Firmicutes        2    136.0  4182.0
2       Firmicutes        3      NaN   703.0
3       Firmicutes        4    408.0  3946.0
4       Firmicutes        5    831.0  8605.0
5       Firmicutes        6    693.0    50.0
6       Firmicutes        7    718.0   717.0
7       Firmicutes        8    173.0    33.0
8       Firmicutes        9    228.0     NaN
9       Firmicutes       10    162.0  3196.0
10      Firmicutes       11    372.0     NaN
11      Firmicutes       12   4255.0  4361.0
12      Firmicutes       13    107.0  1667.0
13      Firmicutes       14      NaN   223.0
14      Firmicutes       15    281.0  2377.0
15  Proteobacteria        1   1638.0  3886.0
16  Proteobacteria        2   2469.0  1821.0
17  Proteobacteria        3    839.0   661.0
18  Proteobacteria        4   4414.0    18.0
19  Proteobacteria        5  12044.0    83.0

#### Microsoft Excel

In [58]:
mb_file = pd.ExcelFile('data/microbiome/MID1.xls')
mb_file

In [59]:
mb1 = mb_file.parse('Sheet 1', header=None)
mb1.columns = ['Taxon', 'Count']
mb1.head()

                                               Taxon  Count
0  Archaea "Crenarchaeota" Thermoprotei Desulfuro...      7
1  Archaea "Crenarchaeota" Thermoprotei Desulfuro...      2
2  Archaea "Crenarchaeota" Thermoprotei Sulfoloba...      3
3  Archaea "Crenarchaeota" Thermoprotei Thermopro...      3
4  Archaea "Euryarchaeota" "Methanomicrobia" Meth...      7

In [60]:
mb2 = pd.read_excel('data/microbiome/MID2.xls', sheetname='Sheet 1', header=None)
mb2

                                                     0   1
0    Archaea "Crenarchaeota" Thermoprotei Acidiloba...   2
1    Archaea "Crenarchaeota" Thermoprotei Acidiloba...  14
2    Archaea "Crenarchaeota" Thermoprotei Desulfuro...  23
3    Archaea "Crenarchaeota" Thermoprotei Desulfuro...   1
4    Archaea "Crenarchaeota" Thermoprotei Desulfuro...   2
5    Archaea "Crenarchaeota" Thermoprotei Desulfuro...   1
6    Archaea "Crenarchaeota" Thermoprotei Desulfuro...   2
7    Archaea "Crenarchaeota" Thermoprotei Sulfoloba...  10
8    Archaea "Crenarchaeota" Thermoprotei Sulfoloba...  11
9    Archaea "Crenarchaeota" Thermoprotei Thermopro...   9
..                                                 ...  ..
278  Bacteria "Synergistetes" Synergistia Synergist...   2
279  Bacteria "Synergistetes" Synergistia Synergist...   2
280  Bacteria "Tenericutes" Mollicutes Haloplasmata...  15
281  Bacteria "Thermodesulfobacteria" Thermodesulfo...   1
282  Bacteria "Thermodesulfobacteria" Thermodesulfo...   3
283  Bacteria "Thermotogae" Thermotogae Thermotogal...  15
284  Bacteria "Thermotogae" Thermotogae Thermotogal...  22
285  Bacteria Cyanobacteria Cyanobacteria  Chloropl...   1
286  Bacteria Cyanobacteria Cyanobacteria  Chloropl...   2
287          Bacteria TM7    TM7_genera_incertae_sedis   2

[288 rows x 2 columns]

### Pandas Fundamentals

In [61]:
baseball = pd.read_csv('data/baseball.csv', index_col='id')
baseball.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,0,1,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,0,0,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

In [62]:
player_id = baseball.player + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_id
baseball_newind.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
womacto012006,womacto01,2006,2,CHN,NL,19,50,6,14,1,0,1,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
schilcu012006,schilcu01,2006,1,BOS,AL,31,2,0,1,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
myersmi012006,myersmi01,2006,1,NYA,AL,62,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
helliri012006,helliri01,2006,1,MIL,NL,20,3,0,0,0,0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
johnsra052006,johnsra05,2006,1,NYA,AL,33,6,0,1,0,0,0,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

In [63]:
baseball_newind.index.is_unique

False

In [64]:
pd.Series(baseball_newind.index).value_counts()

wellsda012007    2
trachst012007    2
claytro012007    2
francju012007    2
wickmbo012007    2
cirilje012007    2
loftoke012007    2
coninje012007    2
benitar012007    2
sweenma012007    2
                ..
bondsba012007    1
moyerja012007    1
wakefti012007    1
piazzmi012007    1
loaizes012007    1
thomeji012007    1
whitero022007    1
johnsra052006    1
sosasa012007     1
ramirma022007    1
Length: 88, dtype: int64

In [65]:
baseball_newind.ix['wickmbo012007']

/Users/Kavi/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

,player,year,stint,team,lg,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
wickmbo012007,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
wickmbo012007,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
player_unique = baseball.player + baseball.team + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_unique
baseball_newind.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
womacto01CHN2006,womacto01,2006,2,CHN,NL,19,50,6,14,1,0,1,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
schilcu01BOS2006,schilcu01,2006,1,BOS,AL,31,2,0,1,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
myersmi01NYA2006,myersmi01,2006,1,NYA,AL,62,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
helliri01MIL2006,helliri01,2006,1,MIL,NL,20,3,0,0,0,0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
johnsra05NYA2006,johnsra05,2006,1,NYA,AL,33,6,0,1,0,0,0,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

In [67]:
baseball_newind.index.is_unique

True

#### Manipulating Indices

Reindexing allows users to manipulate the data labels in a DataFrame. It forces a DataFrame to conform to the new index, and optionally, fill in missing data if requested.

In [68]:
baseball.reindex(baseball.index[::-1]).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,,
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,0,0,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,1,13,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,3,3,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
id_range = range(baseball.index.values.min(), baseball.index.values.max())
baseball.reindex(id_range).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006.0,2.0,CHN,NL,19.0,50.0,6.0,14.0,1.0,0.0,1.0,2.0,1.0,1.0,4.0,4.0,0.0,0.0,3.0,0.0,0.0
88642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88643,schilcu01,2006.0,1.0,BOS,AL,31.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
88644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88645,myersmi01,2006.0,1.0,NYA,AL,62.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Missing values can be filled as desired, either with selected values, or by rule:

In [70]:
baseball.reindex(id_r`ange, method='ffill', columns=['player','year']).head()

SyntaxError: invalid syntax (<ipython-input-70-0a438608d25a>, line 1)

In [ ]:
baseball.reindex(id_range, fill_value='mr.nobody', columns=['player']).head()

In [ ]:
baseball.shape

In [ ]:
baseball.drop([89525, 89526])

In [ ]:
baseball.drop(['ibb','hbp'], axis=1)

#### Indexing and Selection

In [ ]:
# Sample Series object
hits = baseball_newind.h
hits

In [ ]:
# Numpy-style indexing
hits[:3]

In [ ]:
# Indexing by label
hits[['womacto01CHN2006','schilcu01BOS2006']]

In [ ]:
hits['womacto01CHN2006':'gonzalu01ARI2006']

In [ ]:
hits['womacto01CHN2006':'gonzalu01ARI2006'] = 5
hits

In [ ]:
baseball_newind[['h','ab']]

In [ ]:
baseball_newind[baseball_newind.ab>500]

In [ ]:
baseball_newind.ix['gonzalu01ARI2006', ['h','X2b', 'X3b', 'hr']]

In [ ]:
baseball_newind.ix[['gonzalu01ARI2006','finlest01SFN2006'], 5:8]

In [ ]:
baseball_newind.ix[:'myersmi01NYA2006', 'hr']

Similarly, the cross-section method xs (not a field) extracts a single column or row by label and returns it as a Series:

In [ ]:
baseball_newind.xs('myersmi01NYA2006')

### Operations

In [ ]:
hr2006 = baseball[baseball.year==2006].xs('hr', axis=1)
hr2006.index = baseball.player[baseball.year==2006]

hr2007 = baseball[baseball.year==2007].xs('hr', axis=1)
hr2007.index = baseball.player[baseball.year==2007]

In [ ]:
hr2006 = pd.Series(baseball.hr[baseball.year==2006].values, index=baseball.player[baseball.year==2006])
hr2007 = pd.Series(baseball.hr[baseball.year==2007].values, index=baseball.player[baseball.year==2007])

In [ ]:
hr_total = hr2006 + hr2007
hr_total

In [ ]:
hr_total[hr_total.notnull()]

In [ ]:
hr2007.add(hr2006, fill_value=0)

Operations can also be broadcast between rows or columns.

For example, if we subtract the maximum number of home runs hit from the hr column, we get how many fewer than the maximum were hit by each player:

In [ ]:
baseball.hr - baseball.hr.max()

In [ ]:
baseball.ix[89521]["player"]

In [ ]:
stats = baseball[['h','X2b', 'X3b', 'hr']]
diff = stats - stats.xs(89521)
diff[:10]

In [ ]:
stats.apply(np.median)

In [ ]:
stats

In [ ]:
stat_range = lambda x: x.max() - x.min()
stats.apply(stat_range)

In [ ]:
slg = lambda x: (x['h']-x['X2b']-x['X3b']-x['hr'] + 2*x['X2b'] + 3*x['X3b'] + 4*x['hr'])/(x['ab']+1e-6)
baseball.apply(slg, axis=1).apply(lambda x: '%.3f' % x)

#### Sorting and Ranking

In [ ]:
baseball_newind.sort_index().head()

In [ ]:
baseball_newind.sort_index(ascending=False).head()

In [ ]:
baseball_newind.sort_index(axis=1).head()

We can also use order to sort a Series by value, rather than by label.

In [ ]:
# order function has been replaced by sort values
baseball.hr.sort_values(ascending=False)

In [ ]:
baseball[['player','sb','cs']].sort_index(ascending=[False, True], 
                                          by=['sb','cs']).head(10)

**Ranking** does not re-arrange data, but instead returns an index that ranks each value relative to others in the Series.

In [ ]:
baseball.hr.rank()

Ties are assigned the mean value of the tied ranks, which may result in decimal values.

In [ ]:
pd.Series([100,100]).rank()

Alternatively, you can break ties via one of several methods, such as by the order in which they occur in the dataset:

In [ ]:
baseball.hr.rank(method='first')

In [ ]:
baseball.rank(ascending=False).head()

In [ ]:
baseball[['r','h','hr']].rank(ascending=False).head()

### Hierarchical Indexing

In [ ]:
baseball_h = baseball.set_index(['year','team','player'])
baseball_h.head(10)

In [ ]:
baseball_h.index

In [ ]:
baseball_h.ix[2007, 'ATL','francju01']

In [ ]:
mb = pd.read_csv("data/microbiome.csv", index_col=['Taxon','Patient'])
mb.head()

In [ ]:
mb.index

In [ ]:
mb.ix['Proteobacteria']

Hierarchical indices can be created on either or both axes. Here is a trivial example:

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape(( 4, 3)), 
                  index =[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
                  columns =[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])

frame

If you want to get fancy, both the row and column indices themselves can be given names

In [ ]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state','color']
frame

In [ ]:
frame.ix['a']['Ohio']

In [ ]:
frame.ix['a', 2]['Colorado']

Additionally, the order of the set of indices in a hierarchical MultiIndex can be changed by swapping them pairwise:

In [ ]:
mb.swaplevel('Patient','Taxon').head()

Data can also be sorted by any index level, using sortlevel:

In [ ]:
mb.sortlevel('Patient', ascending=False).head()

#### Missing Data

In [ ]:
foo = pd.Series([np.NaN, -3, None, 'foobar'])
foo

In [ ]:
foo.isnull()

In [ ]:
bacteria2

In [ ]:
bacteria2.dropna()

In [ ]:
bacteria2[bacteria2.notnull()]

In [ ]:
data

In [ ]:
data.dropna

In [ ]:
data.dropna(how='all')

In [ ]:
data.ix[7, 'year'] = np.NaN
data

In [ ]:
data.dropna(thresh=4)

In [ ]:
data.dropna(axis=1)

In [ ]:
bacteria2.fillna(0)

In [ ]:
data.fillna({'year': 2013, 'treatment': 2})

In [ ]:
data

In [ ]:
_ = data.year.fillna(2013, inplace=True)
data

In [ ]:
bacteria2.fillna(method='bfill')

In [ ]:
bacteria2.fillna(bacteria2.mean())

### Data summarization

In [ ]:
baseball.sum()

Clearly, sum is more meaningful for some columns than others. For methods like mean for which application to string variables is not just meaningless, but impossible, these columns are automatically exculded:

In [ ]:
baseball.mean()

In [ ]:
bacteria2.mean()

Sometimes we may not want to ignore missing values, and allow the nan to propagate

In [ ]:
bacteria2.mean(skipna=False)

Passing axis=1 will summarize over rows instead of columns, which only makes sense in certain situations.

In [ ]:
extra_bases = baseball[['X2b','X3b','hr']].sum(axis=1)
extra_bases.sort_values(ascending=False)

In [ ]:
baseball.describe()

In [ ]:
baseball.player.describe()

We can also calculate summary statistics across multiple columns, for example, correlation and covariance.

In [ ]:
baseball.hr.cov(baseball.X2b)

In [ ]:
baseball.hr.corr(baseball.X2b)

In [ ]:
baseball.corr()

In [ ]:
mb.head()

In [ ]:
mb.sum(level='Taxon')

#### Writing Data to Files

In [ ]:
mb.to_csv("data/mb.csv")

In [ ]:
baseball.to_pickle("data/baseball_pickle")

In [ ]:
pd.read_pickle("data/baseball_pickle")