# Train-Test Split

In [1]:
import pandas as pd

In [13]:
from sklearn.datasets import load_boston
boston = load_boston()
X, y = boston.data, boston.target
print (X.shape, y.shape)

(506, 13) (506,)

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=5)

### Visual Breakdown

In [15]:
print (X_train.shape, X_test.shape)

(354, 13) (152, 13)

In [16]:
print (y_train.shape, y_test.shape)

(354,) (152,)

In [18]:
pd.DataFrame(X_train).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.67180,0.0,18.10,0.0,0.740,6.459,94.8,1.9879,24.0,666.0,20.2,43.06,23.98
1,7.36711,0.0,18.10,0.0,0.679,6.193,78.1,1.9356,24.0,666.0,20.2,96.73,21.52
2,5.70818,0.0,18.10,0.0,0.532,6.750,74.9,3.3317,24.0,666.0,20.2,393.07,7.74
3,0.01311,90.0,1.22,0.0,0.403,7.249,21.9,8.6966,5.0,226.0,17.9,395.93,4.81
4,0.15086,0.0,27.74,0.0,0.609,5.454,92.7,1.8209,4.0,711.0,20.1,395.09,18.06

In [19]:
pd.DataFrame(y_train).head()

      0
0  11.8
1  11.0
2  23.7
3  35.4
4  15.2