# How to Anonymize Data
### Import Modules

In [96]:
import pandas as pd
import datetime as dt

### Create DataFrame

In [97]:
# Creating sample datframe of names, dates, and scores
scores = pd.DataFrame({'First Name':['Kavi','Josh','Coleman','Derek', 'Kavi','Coleman'],
              'Score' : [42,12,63,32,26,24]})
# View thet dataframe
scores

  First Name  Score
0       Kavi     42
1       Josh     12
2    Coleman     63
3      Derek     32
4       Kavi     26
5    Coleman     24

In [98]:
# Names Feature is recoginized as a string dtype, whe will need to 
scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
First Name    6 non-null object
Score         6 non-null int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

### Anonymizing First Names

In [99]:
# Change 'First Name' feature's dtype from object to category
scores['First Name'] = scores['First Name'].astype('category')

# Replace names with representing codes
scores['First Name'] = scores['First Name'].cat.codes

# View dataframe
scores

   First Name  Score
0           3     42
1           2     12
2           0     63
3           1     32
4           3     26
5           0     24

Author: Kavi Sekhon