# Label Encoding with Sklearn

In [75]:
import pandas as pd
X = pd.DataFrame(data = [['Matt','24','99'],
 ['Owen','22', '98'],
 ['Link', '16','100']])
X.columns = ['name','age','score']
X

   name age score
0  Matt  24    99
1  Owen  22    98
2  Link  16   100

In [76]:
train = X[0:2]; train

   name age score
0  Matt  24    99
1  Owen  22    98

In [77]:
 test = X[1:3]; test

   name age score
1  Owen  22    98
2  Link  16   100

In [78]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
X['name'] = le.fit_transform(X['name'])

In [79]:
X

   name age score
0     1  24    99
1     2  22    98
2     0  16   100

In [80]:
train

   name age score
0  Matt  24    99
1  Owen  22    98

In [84]:
train['name'] = le.transform(train['name'])

TypeError: '>' not supported between instances of 'str' and 'int'

In [85]:
X

   name age score
0     1  24    99
1     2  22    98
2     0  16   100

In [83]:
train

   name age score
0     1  24    99
1     2  22    98

In [87]:
test['name'] = le.transform(test['name'])

/Users/Kavi/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [88]:
test

   name age score
1     2  22    98
2     0  16   100