# Crosstab Table

In [11]:
import pandas as pd

df = pd.DataFrame(data=[['Red','Red','Red','Blue','Green'],
                        ['Honda','Acura','Honda','Nissan','Nissan']])
df = df.T
df.columns = ['Color','Model']
df

   Color   Model
0    Red   Honda
1    Red   Acura
2    Red   Honda
3   Blue  Nissan
4  Green  Nissan

In [18]:
pd.crosstab(df['Color'],df['Model'])

Model  Acura  Honda  Nissan
Color
Blue       0      0       1
Green      0      0       1
Red        1      2       0