# Label Encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df = pd.DataFrame(data = [['Matt','24','99'],
                         ['Owen','22', '98'],
                         ['Link', '16','100']], 
                  columns = ['name','age','score'])

df

   name age score
0  Matt  24    99
1  Owen  22    98
2  Link  16   100

### Label Encoding with SkLearn

In [2]:
skdf = df.copy()
le = LabelEncoder()
for col in skdf.select_dtypes(['object']):
    skdf[col] = le.fit_transform(df[col])

skdf

   name  age  score
0     1    2      2
1     2    1      1
2     0    0      0

### Label Encoding with Pandas

In [11]:
df = ogdf
df.name = df.name.astype('category')
df.name = df.name.cat.codes
df

   name age score
0     1  24    99
1     2  22    98
2     0  16   100