# Label Encoding with Sklearn

In [3]:
import pandas as pd
X = pd.DataFrame(data = [['Matt','24','99'],
 ['Owen','22', '98'],
 ['Link', '16','100']])
X.columns = ['name','age','score']
X

   name age score
0  Matt  24    99
1  Owen  22    98
2  Link  16   100

In [4]:
train = X[0:2]; train

   name age score
0  Matt  24    99
1  Owen  22    98

In [5]:
 test = X[1:3]; test

   name age score
1  Owen  22    98
2  Link  16   100

In [15]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
name     3 non-null int64
age      3 non-null object
score    3 non-null object
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes

In [7]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
X['name'] = le.fit_transform(X['name'])

In [8]:
X

   name age score
0     1  24    99
1     2  22    98
2     0  16   100

In [9]:
train

   name age score
0  Matt  24    99
1  Owen  22    98

In [10]:
train['name'] = le.transform(train['name'])

/Users/Kavi/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [11]:
X

   name age score
0     1  24    99
1     2  22    98
2     0  16   100

In [12]:
train

   name age score
0     1  24    99
1     2  22    98

In [13]:
test['name'] = le.transform(test['name'])

/Users/Kavi/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [14]:
test

   name age score
1     2  22    98
2     0  16   100