# SQL To Dataframe

In [2]:
import pandas as pd
import sqlite3

In [6]:
conn = sqlite3.connect('test.db')
df = pd.read_sql_query('select * from country', conn)
df

DatabaseError: Execution failed on sql 'select * from country': no such table: country