# Using the Category Dtype in Pandas
### Import Modules

In [3]:
import pandas as pd

### Create dataframe

In [7]:
# Create dataframe
scores = pd.DataFrame({'Name':['Kavi','Josh','Coleman','Derek', 'Kavi','Coleman'],
              'Score' : [42,12,63,32,26,24]})
# Change 'Name' feature to category dtype
scores.Name  = scores.Name.astype('category')

#View the dataframe
scores

      Name  Score
0     Kavi     42
1     Josh     12
2  Coleman     63
3    Derek     32
4     Kavi     26
5  Coleman     24

In [11]:
# View the categories in feature
scores.Name.cat.categories

Index(['Coleman', 'Derek', 'Josh', 'Kavi'], dtype='object')

In [19]:
# Replace previous categories with a list of new categories
scores.Name.cat.categories = ['Max','Chad','Bob','Sam']
scores

   Name  Score
0   Sam     42
1   Bob     12
2   Max     63
3  Chad     32
4   Sam     26
5   Max     24

In [22]:
score.Name.cat.rename_categories(['Coleman', 'Derek', 'Josh', 'Kavi']

SyntaxError: unexpected EOF while parsing (<ipython-input-22-252bd4a1f707>, line 1)

Author: Kavi Sekhon

Documentation: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.cat.html