# <center> Chapter 11: Storing Data Using Other Collection Types

##### Storing Data Using Sets

In [2]:
vowels = {'a','e','i','o','u'}
vowels

{'a', 'e', 'i', 'o', 'u'}

In [4]:
vowels = {'a','e','a','a','e','i','o','u'}
vowels

{'a', 'e', 'i', 'o', 'u'}

In [5]:
{'a','e','i','o','u'} == {'a','e','a','a','e','i','o','u'}

True

In [6]:
type(vowels)

set

In [7]:
type({1,2,3})

set

In [9]:
set([2,3,2,5])

{2, 3, 5}

In [11]:
#Error: set(2,3,5)

In [12]:
vowels = {'a','e','a','a','e','i','o','u'}
vowels

{'a', 'e', 'i', 'o', 'u'}

In [13]:
set(vowels)

{'a', 'e', 'i', 'o', 'u'}

In [14]:
set({5,3,1})

{1, 3, 5}

In [15]:
set(range(5))

{0, 1, 2, 3, 4}

##### Sep Operations

In [18]:
vowels = {'a','e','i','o','u'}
vowels

{'a', 'e', 'i', 'o', 'u'}

In [19]:
vowels.add('y')

In [20]:
vowels

{'a', 'e', 'i', 'o', 'u', 'y'}

In [21]:
ten = set(range(10))

In [22]:
lows = {0,1,2,3,4}
odds = {1,3,5,7,9}
lows.add(9)

In [23]:
lows

{0, 1, 2, 3, 4, 9}

In [25]:
lows.intersection(odds)

{1, 3, 9}

In [26]:
lows.issubset(ten)

True

In [29]:
lows.issuperset(odds)

False

In [30]:
lows.remove(0)

In [31]:
lows.symmetric_difference(odds)

{2, 4, 5, 7}

In [32]:
lows.clear()
lows

set()

##### Set Operators

In [36]:
lows = set([0,1,2,3,4])
odds = set([1,3,5,7,9])
lows - odds

{0, 2, 4}

In [37]:
lows & odds

{1, 3}

In [38]:
lows <= odds

False

In [39]:
lows >= odds

False

In [40]:
lows | odds

{0, 1, 2, 3, 4, 5, 7, 9}

##### Storing Data Using Tuples

In [42]:
rock = 'anthracite'
rock[9]

'e'

In [43]:
rock[0:3]

'ant'

In [44]:
rock[-5:]

'acite'

In [45]:
for character in rock [:5]:
    print(character)

a
n
t
h
r

In [47]:
bases = {'A','C','G','T'}
for base in bases:
    print(base)

A
C
T
G

In [48]:
(8)

8

In [49]:
type(8)

int

In [50]:
(8,)

(8,)

In [51]:
type((8,))

tuple

In [52]:
(5+3)

8

In [53]:
(5+3,)

(8,)

In [55]:
life = (['Canada',76.5],['United States',75.5], ['Mexico',72.0])
#Error: life[0] = life[1]

In [58]:
life = (['Canada',76.5],['United States',75.5], ['Mexico',72.0])
life[0][1] = 80.0
life

(['Canada', 80.0], ['United States', 75.5], ['Mexico', 72.0])

##### Assigning to Multiple Using Tuples

In [60]:
(x,y) = (10,20)
x

10

In [61]:
y

20

In [62]:
x, y = 10,20
x

10

In [63]:
y

20

In [64]:
[[w,x], [[y], z]] = [{10,20}, [(30,),40]]

In [65]:
w

10

In [66]:
x

20

In [67]:
y

30

In [68]:
z

40

In [69]:
s1 = 'first'
s2 ='second'
s1, s2 = s2, s1
s1

'second'

In [70]:
s2

'first'

In [71]:
bird_to_observations = {'canada goose':3, 'northern fulmar':1}
bird_to_observations

{'canada goose': 3, 'northern fulmar': 1}

In [76]:
bird_to_observations['northern fulmar']

1

In [77]:
bird_to_observations['canada goose']

3

In [79]:
#Error: bird_to_observations['long-tailed jaegar']

##### Updating and Checking Membership

In [82]:
bird_to_membership = {}
# Add a new key/value pair, 'snow goose': 33.
bird_to_observations['snow goose'] = 33
bird_to_observations

{'canada goose': 3, 'northern fulmar': 1, 'snow goose': 33}

In [83]:
bird_to_observations['eagle'] = 999
bird_to_observations

{'canada goose': 3, 'eagle': 999, 'northern fulmar': 1, 'snow goose': 33}

In [84]:
bird_to_observations['eagle'] = 9
bird_to_observations

{'canada goose': 3, 'eagle': 9, 'northern fulmar': 1, 'snow goose': 33}

In [86]:
del bird_to_observations['snow goose']
bird_to_observations

{'canada goose': 3, 'eagle': 9, 'northern fulmar': 1}

In [87]:
# Error: del bird_to_observations['gannet']
bird_to_observations

{'canada goose': 3, 'eagle': 9, 'northern fulmar': 1}

In [89]:
bird_to_observations = {'snow goose':33, 'eagle':9}
if 'eagle'in bird_to_observations:
    print('eagle has been seen')

eagle has been seen

In [91]:
del bird_to_observations['eagle']
if 'eagle'in bird_to_observations:
    print('eagle has been seen')

In [92]:
bird_to_observations = {'canada goose':3, 'northern fulmar':1,
                       'snow goose':33, 'eagle':9}
for bird in bird_to_observations:
    print(bird, bird_to_observations[bird])

canada goose 3
northern fulmar 1
snow goose 33
eagle 9

##### Dictionary Operations

In [95]:
scientist_to_birthdate = {'Newton': 1642, 'Darwin':1809, 'Turing':1912}
scientist_to_birthdate.keys()

dict_keys(['Newton', 'Darwin', 'Turing'])

In [97]:
scientist_to_birthdate = {'Newton': 1642, 'Darwin':1809, 'Turing':1912}
scientist_to_birthdate.values()

dict_values([1642, 1809, 1912])

In [98]:
scientist_to_birthdate.items()

dict_items([('Newton', 1642), ('Darwin', 1809), ('Turing', 1912)])

In [99]:
scientist_to_birthdate.get('Newton')

1642

In [100]:
scientist_to_birthdate.get('Curie',1867)

1867

In [101]:
scientist_to_birthdate

{'Darwin': 1809, 'Newton': 1642, 'Turing': 1912}

In [102]:
researcher_to_birthdate = {'Curie':1867, 'Hopper':1906, 
                           'Franklin':1920}

In [104]:
scientist_to_birthdate.update(researcher_to_birthdate)

In [105]:
scientist_to_birthdate

{'Curie': 1867,
 'Darwin': 1809,
 'Franklin': 1920,
 'Hopper': 1906,
 'Newton': 1642,
 'Turing': 1912}

In [106]:
researcher_to_birthdate

{'Curie': 1867, 'Franklin': 1920, 'Hopper': 1906}

In [107]:
researcher_to_birthdate.clear()

In [108]:
researcher_to_birthdate

{}

In [109]:
scientist_to_birthdate = {'Newton': 1642, 'Darwin':1809, 'Turing':1912}
for scientist, birthdate in scientist_to_birthdate.items():
    print(scientist, 'was born in', birthdate)

Newton was born in 1642
Darwin was born in 1809
Turing was born in 1912

In [110]:
sorted_birds = sorted(bird_to_observations.keys())
for bird in sorted_birds:
    print(bird, bird_to_observations[bird])

canada goose 3
eagle 9
northern fulmar 1
snow goose 33

### Inverting a Dictionary

In [111]:
bird_to_observations

{'canada goose': 3, 'eagle': 9, 'northern fulmar': 1, 'snow goose': 33}

In [118]:
observations_to_birds_list = {}
for bird, observations in bird_to_observations.items():
    if observations in observations_to_birds_list:
        observations_to_birds_listv[observations].append(bird)
    else:
        observations_to_birds_list[observations] = [bird]

In [119]:
observations_to_birds_list

{1: ['northern fulmar'], 3: ['canada goose'], 9: ['eagle'], 33: ['snow goose']}

In [120]:
observations_sorted = sorted(observations_to_birds_list.keys())
for observations in observations_sorted:
    print(observations,':',end='')
    for bird in observations_to_birds_list[observations]:
        print('', bird, end='')
    print()

1 : northern fulmar
3 : canada goose
9 : eagle
33 : snow goose

##### Using the Operator on Tuples, Sets, and Dictionaries

In [121]:
odds = set([1,3,5,7,9])
9 in odds

True

In [122]:
8 in odds

False

In [123]:
evens = (0,2,4,6,8)
4 in evens

True

In [124]:
11 in evens

False

In [127]:
bird_to_observations = {'canada goose':183, 'long-tailed jaeger':71,
                       'snow goose': 63, 'northern fulmar':1}
'snow goose' in bird_to_observations

True

In [126]:
183 in bird_to_observations

False