# <center> Chapter 9: Repeating Code Using Loops

In [1]:
velocities = [0.0, 9.81, 19.62, 29.43]
velocities

[0.0, 9.81, 19.62, 29.43]

In [6]:
print('Metric:', velocities[0], 'm/sec',
      'Imperial:', velocities[0]*3.28, 'ft/sec')

Metric: 0.0 m/sec Imperial: 0.0 ft/sec

In [11]:
print('Metric:', velocities[1], 'm/sec',
      'Imperial:', velocities[1]*3.28, 'ft/sec')

Metric: 9.81 m/sec Imperial: 32.1768 ft/sec

In [12]:
print('Metric:', velocities[2], 'm/sec',
      'Imperial:', velocities[2]*3.28, 'ft/sec')

Metric: 19.62 m/sec Imperial: 64.3536 ft/sec

In [13]:
print('Metric:', velocities[3], 'm/sec',
      'Imperial:', velocities[3]*3.28, 'ft/sec')

Metric: 29.43 m/sec Imperial: 96.5304 ft/sec

In [14]:
velocities = [0.0, 9.81, 19.62, 29.43]
for velocity in velocities:
    print('Metric:',velocity, 'm/sec',
      'Imperial:', velocity*3.28, 'ft/sec')

Metric: 0.0 m/sec Imperial: 0.0 ft/sec
Metric: 9.81 m/sec Imperial: 32.1768 ft/sec
Metric: 19.62 m/sec Imperial: 64.3536 ft/sec
Metric: 29.43 m/sec Imperial: 96.5304 ft/sec

In [18]:
speed = 2
velocities = [0.0, 9.81, 19.62, 29.43]
for speed in velocities:
    print('Metric:',speed, 'm/sec')
print('Final:',speed)

Metric: 0.0 m/sec
Metric: 9.81 m/sec
Metric: 19.62 m/sec
Metric: 29.43 m/sec
Final: 29.43

##### Processing Characters in String

In [19]:
country ='United States of America'
for ch in country:
    if ch.isupper():
        print(ch)

U
S
A

#####  Looping Over a Range of Numbers

In [20]:
range(10)

range(0, 10)

In [21]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(3))

[0, 1, 2]

In [24]:
list(range(2))

[0, 1]

In [25]:
list(range(1))

[0]

In [26]:
list(range(1,5))

[1, 2, 3, 4]

In [27]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [29]:
list(range(2000,2050,4))

[2000,
 2004,
 2008,
 2012,
 2016,
 2020,
 2024,
 2028,
 2032,
 2036,
 2040,
 2044,
 2048,
 2052,
 2056,
 2060,
 2064,
 2068,
 2072,
 2076,
 2080,
 2084,
 2088,
 2092,
 2096,
 2100,
 2104,
 2108,
 2112,
 2116,
 2120,
 2124,
 2128,
 2132,
 2136,
 2140,
 2144,
 2148,
 2152,
 2156,
 2160,
 2164,
 2168,
 2172,
 2176,
 2180,
 2184,
 2188,
 2192,
 2196,
 2200,
 2204,
 2208,
 2212,
 2216,
 2220,
 2224,
 2228,
 2232,
 2236,
 2240,
 2244,
 2248,
 2252,
 2256,
 2260,
 2264,
 2268,
 2272,
 2276,
 2280,
 2284,
 2288,
 2292,
 2296,
 2300,
 2304,
 2308,
 2312,
 2316,
 2320,
 2324,
 2328,
 2332,
 2336,
 2340,
 2344,
 2348,
 2352,
 2356,
 2360,
 2364,
 2368,
 2372,
 2376,
 2380,
 2384,
 2388,
 2392,
 2396,
 2400,
 2404,
 2408,
 2412,
 2416,
 2420,
 2424,
 2428,
 2432,
 2436,
 2440,
 2444,
 2448,
 2452,
 2456,
 2460,
 2464,
 2468,
 2472,
 2476,
 2480,
 2484,
 2488,
 2492,
 2496,
 2500,
 2504,
 2508,
 2512,
 2516,
 2520,
 2524,
 2528,
 2532,
 2536,
 2540,
 2544,
 2548,
 2552,
 2556,
 2560,
 2564,
 2568,
 2572,
 2576,
 2580,
 2584,
 2588,
 2592,
 2596,
 2600,
 2604,
 2608,
 2612,
 2616,
 2620,
 2624,
 2628,
 2632,
 2636,
 2640,
 2644,
 2648,
 2652,
 2656,
 2660,
 2664,
 2668,
 2672,
 2676,
 2680,
 2684,
 2688,
 2692,
 2696,
 2700,
 2704,
 2708,
 2712,
 2716,
 2720,
 2724,
 2728,
 2732,
 2736,
 2740,
 2744,
 2748,
 2752,
 2756,
 2760,
 2764,
 2768,
 2772,
 2776,
 2780,
 2784,
 2788,
 2792,
 2796,
 2800,
 2804,
 2808,
 2812,
 2816,
 2820,
 2824,
 2828,
 2832,
 2836,
 2840,
 2844,
 2848,
 2852,
 2856,
 2860,
 2864,
 2868,
 2872,
 2876,
 2880,
 2884,
 2888,
 2892,
 2896,
 2900,
 2904,
 2908,
 2912,
 2916,
 2920,
 2924,
 2928,
 2932,
 2936,
 2940,
 2944,
 2948,
 2952,
 2956,
 2960,
 2964,
 2968,
 2972,
 2976,
 2980,
 2984,
 2988,
 2992,
 2996,
 3000,
 3004,
 3008,
 3012,
 3016,
 3020,
 3024,
 3028,
 3032,
 3036,
 3040,
 3044,
 3048,
 3052,
 3056,
 3060,
 3064,
 3068,
 3072,
 3076,
 3080,
 3084,
 3088,
 3092,
 3096,
 3100,
 3104,
 3108,
 3112,
 3116,
 3120,
 3124,
 3128,
 3132,
 3136,
 3140,
 3144,
 3148,
 3152,
 3156,
 3160,
 3164,
 3168,
 3172,
 3176,
 3180,
 3184,
 3188,
 3192,
 3196,
 3200,
 3204,
 3208,
 3212,
 3216,
 3220,
 3224,
 3228,
 3232,
 3236,
 3240,
 3244,
 3248,
 3252,
 3256,
 3260,
 3264,
 3268,
 3272,
 3276,
 3280,
 3284,
 3288,
 3292,
 3296,
 3300,
 3304,
 3308,
 3312,
 3316,
 3320,
 3324,
 3328,
 3332,
 3336,
 3340,
 3344,
 3348,
 3352,
 3356,
 3360,
 3364,
 3368,
 3372,
 3376,
 3380,
 3384,
 3388,
 3392,
 3396,
 3400,
 3404,
 3408,
 3412,
 3416,
 3420,
 3424,
 3428,
 3432,
 3436,
 3440,
 3444,
 3448,
 3452,
 3456,
 3460,
 3464,
 3468,
 3472,
 3476,
 3480,
 3484,
 3488,
 3492,
 3496,
 3500,
 3504,
 3508,
 3512,
 3516,
 3520,
 3524,
 3528,
 3532,
 3536,
 3540,
 3544,
 3548,
 3552,
 3556,
 3560,
 3564,
 3568,
 3572,
 3576,
 3580,
 3584,
 3588,
 3592,
 3596,
 3600,
 3604,
 3608,
 3612,
 3616,
 3620,
 3624,
 3628,
 3632,
 3636,
 3640,
 3644,
 3648,
 3652,
 3656,
 3660,
 3664,
 3668,
 3672,
 3676,
 3680,
 3684,
 3688,
 3692,
 3696,
 3700,
 3704,
 3708,
 3712,
 3716,
 3720,
 3724,
 3728,
 3732,
 3736,
 3740,
 3744,
 3748,
 3752,
 3756,
 3760,
 3764,
 3768,
 3772,
 3776,
 3780,
 3784,
 3788,
 3792,
 3796,
 3800,
 3804,
 3808,
 3812,
 3816,
 3820,
 3824,
 3828,
 3832,
 3836,
 3840,
 3844,
 3848,
 3852,
 3856,
 3860,
 3864,
 3868,
 3872,
 3876,
 3880,
 3884,
 3888,
 3892,
 3896,
 3900,
 3904,
 3908,
 3912,
 3916,
 3920,
 3924,
 3928,
 3932,
 3936,
 3940,
 3944,
 3948,
 3952,
 3956,
 3960,
 3964,
 3968,
 3972,
 3976,
 3980,
 3984,
 3988,
 3992,
 3996,
 4000,
 4004,
 4008,
 4012,
 4016,
 4020,
 4024,
 4028,
 4032,
 4036,
 4040,
 4044,
 4048,
 4052,
 4056,
 4060,
 4064,
 4068,
 4072,
 4076,
 4080,
 4084,
 4088,
 4092,
 4096,
 4100,
 4104,
 4108,
 4112,
 4116,
 4120,
 4124,
 4128,
 4132,
 4136,
 4140,
 4144,
 4148,
 4152,
 4156,
 4160,
 4164,
 4168,
 4172,
 4176,
 4180,
 4184,
 4188,
 4192,
 4196,
 4200,
 4204,
 4208,
 4212,
 4216,
 4220,
 4224,
 4228,
 4232,
 4236,
 4240,
 4244,
 4248,
 4252,
 4256,
 4260,
 4264,
 4268,
 4272,
 4276,
 4280,
 4284,
 4288,
 4292,
 4296,
 4300,
 4304,
 4308,
 4312,
 4316,
 4320,
 4324,
 4328,
 4332,
 4336,
 4340,
 4344,
 4348,
 4352,
 4356,
 4360,
 4364,
 4368,
 4372,
 4376,
 4380,
 4384,
 4388,
 4392,
 4396,
 4400,
 4404,
 4408,
 4412,
 4416,
 4420,
 4424,
 4428,
 4432,
 4436,
 4440,
 4444,
 4448,
 4452,
 4456,
 4460,
 4464,
 4468,
 4472,
 4476,
 4480,
 4484,
 4488,
 4492,
 4496,
 4500,
 4504,
 4508,
 4512,
 4516,
 4520,
 4524,
 4528,
 4532,
 4536,
 4540,
 4544,
 4548,
 4552,
 4556,
 4560,
 4564,
 4568,
 4572,
 4576,
 4580,
 4584,
 4588,
 4592,
 4596,
 4600,
 4604,
 4608,
 4612,
 4616,
 4620,
 4624,
 4628,
 4632,
 4636,
 4640,
 4644,
 4648,
 4652,
 4656,
 4660,
 4664,
 4668,
 4672,
 4676,
 4680,
 4684,
 4688,
 4692,
 4696,
 4700,
 4704,
 4708,
 4712,
 4716,
 4720,
 4724,
 4728,
 4732,
 4736,
 4740,
 4744,
 4748,
 4752,
 4756,
 4760,
 4764,
 4768,
 4772,
 4776,
 4780,
 4784,
 4788,
 4792,
 4796,
 4800,
 4804,
 4808,
 4812,
 4816,
 4820,
 4824,
 4828,
 4832,
 4836,
 4840,
 4844,
 4848,
 4852,
 4856,
 4860,
 4864,
 4868,
 4872,
 4876,
 4880,
 4884,
 4888,
 4892,
 4896,
 4900,
 4904,
 4908,
 4912,
 4916,
 4920,
 4924,
 4928,
 4932,
 4936,
 4940,
 4944,
 4948,
 4952,
 4956,
 4960,
 4964,
 4968,
 4972,
 4976,
 4980,
 4984,
 4988,
 4992,
 4996]

In [31]:
list(range(2050,2000,-4))

[2050, 2046, 2042, 2038, 2034, 2030, 2026, 2022, 2018, 2014, 2010, 2006, 2002]

In [32]:
list(range(2050,2000,4))

[]

In [33]:
total = 0
for i in range(1,101):
    total = total+1
total

100

##### Processing List Using Index

In [36]:
values = [4,10,3,8,-6]
for num in values:
    num = num*2
values

[4, 10, 3, 8, -6]

In [37]:
values = [4,10,3,8,-6]
for num in values:
    num = num*2
    print(num)
values

8
20
6
16
-12

[4, 10, 3, 8, -6]

In [39]:
values = [4,10,3,8,-6]
len(values)

5

In [40]:
list(range(5))

[0, 1, 2, 3, 4]

In [41]:

list(range(len(values)))

[0, 1, 2, 3, 4]

In [42]:
values = [4,10,3,8,-6]
for i in range(len(values)):
    print(i)

0
1
2
3
4

In [43]:
values = [4,10,3,8,-6]
for i in range(len(values)):
    print(i, values[i])

0 4
1 10
2 3
3 8
4 -6

In [44]:
values = [4,10,3,8,-6]
for i in range(len(values)):
    values[i] = values[i]*2
values

[8, 20, 6, 16, -12]

### Processing Parallel Lists Using Indices

In [45]:
metals = ['Li','Na','K']
weights = [6.941, 22.98976928, 39.0983]

In [47]:
metals = ['Li','Na','K']
weights = [6.941, 22.98976928, 39.0983]
for i in range(len(metals)):
    print(metals[i], weights[i])

Li 6.941
Na 22.98976928
K 39.0983

##### Nesting Loops in Loops

In [50]:
outer = ['Li','Na','K']
inner = ['F','Cl','Br']
for metal in outer:
    for halogen in inner:
        print(metal + halogen)

LiF
LiCl
LiBr
NaF
NaCl
NaBr
KF
KCl
KBr

In [57]:
def print_table(n):
    '''(int) -> NoneType
    
    Print the multiplication table for number 1 through n inclusive
    
    '''
    
    numbers = list(range(1, n+1))
    
    for i in numbers:
        print('\t' + str(i),  end='')
    print()
    
    for i in numbers:
        print(i, end='')
        for j in numbers:
            print('\t' +str(i*j), end='')
        # End the current row
        print()

In [58]:
print_table(5)

	1	2	3	4	5
1	1	2	3	4	5
2	2	4	6	8	10
3	3	6	9	12	15
4	4	8	12	16	20
5	5	10	15	20	25

In [61]:
elements = [['Li','Na','K'], ['F','Cl','Br']]
for inner_list in elements:
    print(inner_list)

['Li', 'Na', 'K']
['F', 'Cl', 'Br']

In [62]:
elements = [['Li','Na','K'], ['F','Cl','Br']]
for inner_list in elements:
    for item in inner_list:
        print(item)

Li
Na
K
F
Cl
Br

##### Looping Over Ragged Lists

In [64]:
info=[['Isaac Newton', 1643, 1727],['Charles Darwin',1809, 1882],
     ['Alan Turing',1912, 1954, 'alan@bletchly.uk']]
for item in info:
    print(len(item))

3
3
4

In [69]:
drinking_time_by_day = [['9:02', '10:17','13:52','18:23','21:31'],
                       ['8:45','12;44','14:52','22:17'],
                       ['8:55','11:11','12:34','13:46',
                        '15:52', '17:08', '21:15'],
                       ['9:15','11:44','16:28'],
                       ['10:01', '13:33', '16:45','19:00'],
                       ['9:34', '11:16', '15:52','20:37'],
                       ['9:01','12:24','18:51', '23:13']]

for day in drinking_time_by_day:
    for drinking_time in day:
        print(drinking_time, end='')
    print()

9:0210:1713:5218:2321:31
8:4512;4414:5222:17
8:5511:1112:3413:4615:5217:0821:15
9:1511:4416:28
10:0113:3316:4519:00
9:3411:1615:5220:37
9:0112:2418:5123:13

##### Lopping Until a Condition is Reached

In [70]:
rabbits = 3
while rabbits > 0:
    print(rabbits)
    rabbits -= 1

3
2
1

In [72]:
time = 0
population = 1000
growth_rate = 0.21
while population < 2000:
    population = population + growth_rate * population
    print(round(population))
    time = time+1

1210
1464
1772
2144

In [73]:
print ('It took',time,'minutes for the bacteria to double')
print ('The final population was',round(population),'bacteria.')

It took 4 minutes for the bacteria to double
The final population was 2144 bacteria.

##### Infinite Loops

In [76]:
# # Use multivalued assignment to set up controls
# time, population, growth_rate = 0, 1000, 0.21

# while population != 2000:
#     population = population + growth_rate*population
#     print(round(population))
#     time = time+1
# print('It took',time, 'minutes for the bacetria to double.')

##### Repetition Based on User Input

In [78]:
# text = ''
# while text != 'quit':
#     text = input("Please enter a chemical formula (or 'quit to exit):")
#     if text == 'quit':
#         print('...exiting program')
#     elif text == 'H2O':
#         print('Water')
#     elif text  == 'NH3':
#         print('Ammonia')
#     elif text =='CH4':
#         print('Methane')
#     else:
#         print('Unknown compound')

##### Controlling Loops Using Break and Continue

In [ ]:
# text = ''
# while text != 'quit':
#     text = input("Please enter a chemical formula (or 'quit to exit):")
#     if text == 'quit':
#         print('...exiting program')
#         break
#     elif text == 'H2O':
#         print('Water')
#     elif text  == 'NH3':
#         print('Ammonia')
#     elif text =='CH4':
#         print('Methane')
#     else:
#         print('Unknown compound')

In [85]:
s = 'C3H7'
digit_index = -1 
for i in range(len(s)):
    if digit_index == -1 and s[i].isdigit():
        digit_index = i

In [86]:
digit_index

1

In [87]:
s = 'C3H7'
digit_index = -1 
for i in range(len(s)):
    if s[i].isdigit():
        digit_index = i
        break

In [88]:
digit_index

1

##### The Continue Statement

In [94]:
s = 'C3H7'
total = 0
count = 0
for i in range(len(s)):
    if s[i].isalpha():
        continue
    total = total + int(s[i])
    count = count + 1

In [95]:
total

10

In [96]:
count

2

In [98]:
s = 'C3H7'
total = 0
count = 0
for i in range(len(s)):
    if not s[i].isalpha():
        total = total + int(s[i])
        count = count + 1

In [99]:
total

10

In [100]:
count

2