# <center> Chapter 4: Working with Text

In [1]:
'Aristotle'

'Aristotle'

In [2]:
"Isacc Newton"

'Isacc Newton'

In [3]:
# Error: 'Charles Darwin"

##### Operations on Strings

In [4]:
len('Albert Einstein')

15

In [5]:
len('123!')

4

In [6]:
len(' ')

1

In [7]:
len('')

0

In [9]:
'Albert' + ' Einstien'

'Albert Einstien'

In [10]:
'Alan Turing ' + ''

'Alan Turing '

In [11]:
'' + 'Gracing Hopper'

'Gracing Hopper'

In [13]:
#Error: 'NH' + 3

In [16]:
#Errors: 9 + 'planets

In [18]:
'Four score and ' + str(7) + ' years ago'

'Four score and 7 years ago'

In [19]:
int('0')

0

In [20]:
int('11')

11

In [21]:
int('-324')

-324

In [22]:
float('-324')

-324.0

In [23]:
float('56.34')

56.34

In [24]:
#Error: float('a')
#Error: float('b')

In [27]:
'AT' * 5

'ATATATATAT'

In [28]:
'GC' * 0

''

In [30]:
'TATATA' * -3

''

In [31]:
'TATATA' * -2

''

In [32]:
'TATATA' * -1

''

In [33]:
sequence = 'ATTGTCCCC'
len(sequence)

9

In [34]:
new_sequence = sequence + 'GGCCTCCTGC'
new_sequence

'ATTGTCCCCGGCCTCCTGC'

In [36]:
new_sequence*2

'ATTGTCCCCGGCCTCCTGCATTGTCCCCGGCCTCCTGC'

##### Using special Character in Strings

In [37]:
#Error: 'that's not going to work'

In [38]:
"that's better"

"that's better"

In [39]:
'She said, "That is better."'

'She said, "That is better."'

In [40]:
'She said, "That' + "'" + 's hard to read."'

'She said, "That\'s hard to read."'

In [41]:
len('\'')

1

In [42]:
len('it\'s')

4

In [43]:
'''one
two
three'''

'one\ntwo\nthree'

In [44]:
print(1+1)

2

In [45]:
print("The Latin 'Oryctolagus cuniculus' means 'domestic rabbit'.")

The Latin 'Oryctolagus cuniculus' means 'domestic rabbit'.

In [46]:
numbers = '''one
two
three'''
numbers

'one\ntwo\nthree'

In [47]:
print(1,2,3)

1 2 3

In [48]:
print()

In [49]:
print(1, 'two', 3.0, 'four')

1 two 3.0 four

In [50]:
radius = 5
print('The diameter of the circle is', radius*2, 'cm')

The diameter of the circle is 10 cm

In [51]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [52]:
print('a','b','c') # the "," seperator is a space by defualt

a b c

In [53]:
print('a','b','c', sep=',')

a,b,c

In [54]:
print('a','b','c', sep=',', end='')

a,b,c

In [55]:
def convert_to_celsius(fahrenheit):
    ''' (number) -> float
    
    Return the number of Celsius degrees equivaluent to fahrenheit degrees.

    '''
    return (fahrenheit - 32.0) * 5.0 / 9.0

In [62]:
print('90, 78.8, and 10.4 degrees Fahrenheit are equal to ', end='')
print(convert_to_celsius(78.8), end=', \n')
print(convert_to_celsius(78.8), end=', and ')
print(convert_to_celsius(10.4), end=' Celsius. \n')

90, 78.8, and 10.4 degrees Fahrenheit are equal to 26.0,
26.0, and -12.0 Celsius.

In [63]:
# species   = input()

In [65]:
#species

In [66]:
#population = input()

In [67]:
#population

In [68]:
#type(population)

In [ ]:
# population = input()
# population = int(population)
# population += 1
# population

In [73]:
# population = int(input())
# population += 1

In [74]:
# species = input('Please enter a spieces: ')
# species