# <center> Chapter 17: Databases

In [1]:
import sqlite3

In [5]:
con = sqlite3.connect('Data/population.db')

In [6]:
cur = con.cursor()

In [7]:
cur.execute('CREATE TABLE PopByRegion(Region Text, Population INTEGER)')

In [8]:
cur.execute("INSERT INTO PopByRegion VALUES('Central Africa', 330993)")

In [11]:
cur.execute("INSERT INTO PopByRegion VALUES('Southeastern Africa', 743112)")

In [12]:
cur.execute("INSERT INTO PopByRegion VALUES('Japan', 100562)")

In [13]:
cur.execute("INSERT INTO PopByRegion VALUES(?,?)",('Japan', 100562))

In [14]:
con.commit()

##### Retrieving Data

In [15]:
cur.execute('SELECT Region, Population FROM PopByRegion')

In [16]:
#show all first record
cur.fetchone()

('Central Africa', 330993)

In [17]:
# show remiaining records
cur.fetchall()

[('Southeastern Africa', 743112), ('Japan', 100562), ('Japan', 100562)]

In [18]:
# After running once, running again shows nothing
cur.fetchone()

In [19]:
cur.fetchall()

[]

In [20]:
cur.execute('SELECT Region, Population FROM PopByRegion ORDER BY Region')
cur.fetchall()

[('Central Africa', 330993),
 ('Japan', 100562),
 ('Japan', 100562),
 ('Southeastern Africa', 743112)]

In [21]:
cur.execute('''SELECT Region, Population FROM PopByRegion 
ORDER BY Population DESC''')
cur.fetchall()

[('Southeastern Africa', 743112),
 ('Central Africa', 330993),
 ('Japan', 100562),
 ('Japan', 100562)]

In [22]:
cur.execute('''SELECT Region FROM PopByRegion ''')
cur.fetchall()

[('Central Africa',), ('Southeastern Africa',), ('Japan',), ('Japan',)]

In [23]:
cur.execute('''SELECT * FROM PopByRegion ''')
cur.fetchall()

[('Central Africa', 330993),
 ('Southeastern Africa', 743112),
 ('Japan', 100562),
 ('Japan', 100562)]

##### Query Conditionss

In [28]:
cur.execute('SELECT Region FROM PopByRegion WHERE Population > 100000')
cur.fetchall()

[('Central Africa',), ('Southeastern Africa',), ('Japan',), ('Japan',)]

In [32]:
cur.execute('''SELECT Region FROM PopByRegion 
                WHERE Population > 100000
                AND Region == "Japan" ''')
cur.fetchall()

[('Japan',), ('Japan',)]

##### Updating and Deleting

In [34]:
cur.execute('''SELECT * FROM PopByRegion WHERE Region = "Japan"''')
cur.fetchone()

('Japan', 100562)

In [36]:
cur.execute('''UPDATE PopByRegion SET Population = 100600 WHERE Region = "Japan"''')
cur.fetchone()

In [37]:
cur.execute('''SELECT * FROM PopByRegion WHERE Region = "Japan"''')
cur.fetchone()

('Japan', 100600)

In [38]:
cur.execute('''DELETE FROM PopByRegion WHERE Region < "L"''')
cur.fetchone()

In [41]:
cur.execute('''SELECT * FROM PopByRegion''')
cur.fetchone()

('Southeastern Africa', 100600)

In [43]:
cur.execute('''INSERT INTO PopByRegion VALUES ("Japan", 100562)''')

##### Using NULL for Missing Data

In [44]:
cur.execute('''INSERT INTO PopByRegion VALUES ("Mars", NULL)''')

In [47]:
cur.execute('CREATE TABLE test (Region TEXT NOT NULL, Population INTEGER)')

In [50]:
# Error (inserting non-null value): cur.execute('INSERT INTO Test VALUES (NULL, 456789)')

##### Deleting a Table

In [ ]:
cur.execute('''Drop TABLE PopByRegion''')