# Python Quick Reference by Data School

Tutorial Source: http://nbviewer.jupyter.org/github/justmarkham/python-reference/blob/master/reference.ipynb

## 1. Imports

In [108]:
# 'generic import' of math module
import math
math.sqrt(25)

5.0

In [109]:
# import a function
from math import sqrt
sqrt(25)

5.0

In [110]:
# import multiple functions at once
from math import cos, floor

In [111]:
# import all functions in a module (generally discouraged)
from csv import *

In [112]:
# define an alias
import datetime as dt

In [113]:
# show all functions in math module
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

## 2. Data Type

In [114]:
type(2)

int

In [115]:
type(2.0)

float

In [116]:
type('two')

str

In [117]:
type(True)

bool

In [118]:
type(None)

NoneType

**check if an objectis off a given type**

In [119]:
isinstance(2.0, int)

False

In [120]:
isinstance(2.0, (int, float))

True

**Convest an object to a given type**

In [121]:
float(2)

2.0

In [122]:
int(2.9)

2

In [123]:
str(2.9)

'2.9'

**Zero, None, and empty containers are converted to False:**

In [124]:
bool(0)

False

In [125]:
bool(None)

False

In [126]:
bool('') #empty string

False

In [127]:
bool([]) #empty list

False

In [128]:
bool({}) #empty dictionary

False

**Non-empty containers and non-zeros  are converted to True:**

In [129]:
bool(2)

True

In [130]:
bool('two')

True

In [131]:
bool([2])

True

## 3. Math

In [132]:
10+4

14

In [133]:
10-4

6

In [134]:
10 *4

40

In [135]:
10 ** 4 # exponent

10000

In [136]:
5 % 4 # modulo - computes the remainder

1

In [137]:
# Python 2: returns 2 (because both types are 'int')
# Python 3: returns 2.5

10 /4

2.5

In [138]:
# force '/' in Python 2 to perform 'true division' (unnecessary in Python 3)
from __future__ import division

In [139]:
10 / 4   # true division

2.5

In [140]:
10 // 4 #floor division

2

## 4. Comparision and Boolean Operations

**Assignment statment:**

In [141]:
x = 5

**Comparisons:**

In [142]:
x > 3

True

In [143]:
x >= 3

True

In [144]:
x != 3

True

In [145]:
x == 5

True

**Boolean operations:**

In [146]:
5 > 3 and 6 > 3

True

In [147]:
5 > 3 or 5 < 3

True

In [148]:
not False

True

In [149]:
False or not False and True  # evaluation order: not, and, or

True

## 5.Conditional Statements

In [150]:
# if statement
if x > 0:
    print('positive')

positive

In [151]:
# if/else statement
if x > 0:
    print ('positive')
else:
    print ('zero or negative')

positive

In [152]:
# if/elif/else statement
if x > 0:
    print ('positive')
elif x == 0:
    pirnt ('zero')
else:
    print ('negative')

positive

In [153]:
# single-line if statement (sometimes discouraged)
if x > 0: print('positive')

positive

In [154]:
# single-line if/else statement (sometimes discouraged), known as a 'ternary operator'
'positive' if x > 0 else 'zero or negative'

'positive'

## 6. List

In [155]:
# create an empty list (two ways)
empty_list = []
empty_list = list()

In [156]:
# create a list
simpsons = ['homer', 'marge', 'bart']

**Examine a list:**

In [157]:
simpsons[0]

'homer'

In [158]:
len(simpsons)

3

**Modify a list (does not return the list):**

In [159]:
# append element to end
simpsons.append('lisa')
simpsons

['homer', 'marge', 'bart', 'lisa']

In [160]:
# append multiple elements to end
simpsons.extend(['itchy', 'scratchy'])
simpsons

['homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']

In [161]:
# insert element at index 0 (shifts everything right)
simpsons.insert(0, 'maggie')
simpsons

['maggie', 'homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']

In [162]:
# search for first instance and remove it
simpsons.remove('bart')
simpsons

['maggie', 'homer', 'marge', 'lisa', 'itchy', 'scratchy']

In [163]:
# remove element 0 and return it
simpsons.pop(0)

'maggie'

In [164]:
# remove element 0 (does not return it)
del simpsons[0]
simpsons

['marge', 'lisa', 'itchy', 'scratchy']

In [165]:
# replace element 0
simpsons[0] = 'krusty'
simpsons

['krusty', 'lisa', 'itchy', 'scratchy']

In [166]:
# concatenate lists (slower than 'extend' method)
neighbors = simpsons + ['ned', 'rod', 'todd']
neighbors

['krusty', 'lisa', 'itchy', 'scratchy', 'ned', 'rod', 'todd']

**Find elements in a list:**

In [167]:
# count the number os instances
simpsons.count('lisa')

1

In [168]:
#return index of first instance
simpsons.index('itchy')

2

**List slicing:**

In [169]:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

In [170]:
# element 0
weekdays[0]

'mon'

In [171]:
# elements 0 (inclusive) to 3 (exclusive)
weekdays[0:3]

['mon', 'tues', 'wed']

In [172]:
# starting point is implied to be 0
weekdays[:3]

['mon', 'tues', 'wed']

In [173]:
# elements 3 (inclusive) through the end
weekdays[3:]

['thurs', 'fri']

In [174]:
# last element
weekdays[-1]

'fri'

In [175]:
# every 2nd element (step by 2)
weekdays[::2]

['mon', 'wed', 'fri']

In [176]:
# backwards (step by -1)
weekdays[::-1]

['fri', 'thurs', 'wed', 'tues', 'mon']

In [177]:
# alternative method for returning the list backwards
list(reversed(weekdays))

['fri', 'thurs', 'wed', 'tues', 'mon']

**Sort a list in place (modifies but does not return the list):**

In [178]:
simpsons.sort()
simpsons

['itchy', 'krusty', 'lisa', 'scratchy']

In [179]:
# sort in reverse
simpsons.sort(reverse=True)
simpsons

['scratchy', 'lisa', 'krusty', 'itchy']

In [180]:
# sort by a key
simpsons.sort(key=len)
simpsons

['lisa', 'itchy', 'krusty', 'scratchy']

**Return a sorted list (does not modify the original list):**

In [181]:
sorted(simpsons)

['itchy', 'krusty', 'lisa', 'scratchy']

In [182]:
sorted(simpsons, reverse =True)

['scratchy', 'lisa', 'krusty', 'itchy']

In [183]:
sorted(simpsons, key=len)

['lisa', 'itchy', 'krusty', 'scratchy']

**Insert into an already sorted list, and keep it sorted**

In [186]:
num = [10, 20, 40, 50]
from bisect import insort
insort( num, 30)
num

[10, 20, 30, 40, 50]

**Object references and copies:**

In [187]:
# create a second reference to the same list
same_num = num

In [192]:
# modifies both 'num' and 'same_num'
same_num[0] = 0
print(num)
print(same_num)

[0, 20, 30, 40, 50]
[0, 20, 30, 40, 50]

In [193]:
# copy a list (two ways)
new_num = num[:]
new_num = list(num)

**Examine objects:**

In [194]:
num is same_num

True

In [195]:
num is new_num

False

In [196]:
num == same_num

True

In [197]:
num == new_num

True

## 7. Tuples

- **Tuple properties:** ordered, iterable, immutable, can contain multiple data types
- Like lists, but they don't change size

In [198]:
# create a tuple directly
digits = (0, 1, 'two')

In [199]:
# create a tuple from a list
digits = tuple([0, 1, 'two'])

In [200]:
# trailing comma is required to indicate it's a tuple
zero = (0,)

**Examine a tuple:**

In [201]:
digits[2]

'two'

In [202]:
len(digits)

3

In [204]:
# counts the number of instances of that value
digits.count(0)

1

In [205]:
# returns the index of the first instance of that value
digits.index(1)

1

**Modify a tuple:**

In [206]:
# elements of a tuple cannot be modified (this would throw an error)
# digits[2] = 2

In [208]:
# concatenate tuples
digits = digits + (3, 4)
digits

(0, 1, 'two', 3, 4)

**Other tuple operations:**

In [209]:
# create a single tuple with elements repeated (also works with lists)
(3, 4) * 2

(3, 4, 3, 4)

In [ ]:
# sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
sorted(tens)    # sorts by first element in tuple, then second element

In [213]:
# tuple unpacking
bart = ('male', 10, 'simpson')
(sex, age, surname) = bart
print(sex)
print(age)
print(surname)

male
10
simpson

## 8. Strings

In [214]:
# convert another data type into a string
s = str(42)
s

'42'

In [215]:
# create a string directly
s = 'I like you'

**Examine a string:**

In [218]:
s[0]

'I'

In [219]:
len(s)

10

**String slicing is like list slicing:**

In [220]:
s[:6]

'I like'

In [221]:
s[7:]

'you'

In [223]:
s[-1]

'u'

**Basic string methods (does not modify the original string):**

In [224]:
s.lower()

'i like you'

In [225]:
s.upper()

'I LIKE YOU'

In [229]:
s.startswith('I')

True

In [230]:
s.endswith('you')

True

In [231]:
# checks whether every character in the string is a digit
s.isdigit()

False

In [232]:
# returns index of first occurrence, but doesn't support regex
s.find('like')

2

In [233]:
# returns -1 since not found
s.find('hate')

-1

In [235]:
# split a string into a list of substrings separated by a delimiter
s.split(' ')

['I', 'like', 'you']

In [236]:
# equivalent (since space is the default delimiter)
s.split()

['I', 'like', 'you']

In [237]:
s2 = 'a, an, the'
s2.split(',')

['a', ' an', ' the']

**Join or concatenate strings:**

In [239]:
# join a list of strings into one string using a delimiter
stooges = ['larry', 'curly', 'moe']
' '.join(stooges)

'larry curly moe'

In [240]:
# concatenate strings
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4

'The meaning of life is 42'

**Remove whitespace from the start and end of a string:**

In [243]:
s5 = ' ham and cheese '
s5.strip()

'ham and cheese'

**String substitutions:**

In [245]:
# old way
'raining %s and %s' % ('cats', 'dogs')

'raining cats and dogs'

In [246]:
# new way
'raining {} and {}'.format('cats','dogs')

'raining cats and dogs'

In [247]:
# new way (using named arguments)
'raining {arg1} and {arg2}'.format(arg1='cats', arg2='dogs')

'raining cats and dogs'

**String formatting **

More Examples: https://mkaz.tech/code/python-string-format-cookbook/

In [249]:
# use 2 decimals places
'pi is {:.2f}'.format(3.14159)

'pi is 3.14'

**Normal strings versus raw strings:**

In [250]:
# normal strings allow for escaped characters
print('first line\nsecond line')

first line
second line

In [251]:
# raw strings treat backslashes as literal characters
print(r'first line\nfirst line')

first line\nfirst line

## 9. Dictionaries

- **Dictionary properties:** unordered, iterable, mutable, can contain multiple data types
- Made of key-value pairs
- Keys must be unique, and can be strings, numbers, or tuples
- Values can be any type

In [252]:
empty_dict = {}
empty_dict= dict()

In [254]:
# create a dictionary (two ways)
family = {'dad':'homer', 'mom':'marge', 'size':6}
family = dict(dad='homer', mom='marge', size=6)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [256]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad', 'homer'), ('mom', 'marge'), ('size', 6)]
family = dict(list_of_tuples)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

**Examine a dictionary:**

In [258]:
# pass a key to return its value
family['dad']

'homer'

In [259]:
# return the number of key-value pairs
len(family)

3

In [260]:
# check if key exists in dictionary
'mom' in family

True

In [261]:
# dictionary values are not checked
'marge' in family

False

In [262]:
# returns a list of keys (Python 2) or an iterable view (Python 3)
family.keys()

dict_keys(['dad', 'mom', 'size'])

In [263]:
# returns a list of values (Python 2) or an iterable view (Python 3)
family.values()

dict_values(['homer', 'marge', 6])

In [265]:
# returns a list of key-value pairs (Python 2) or an iterable view (Python 3)
family.items()

dict_items([('dad', 'homer'), ('mom', 'marge'), ('size', 6)])

**Modify a dictionary (does not return the dictionary):**

In [267]:
# add a new entry
family['cat'] = 'snowball'
family

{'cat': 'snowball', 'dad': 'homer', 'mom': 'marge', 'size': 6}

In [268]:
# edit an existing entry
family['cat'] = 'snowball ii'
family

{'cat': 'snowball ii', 'dad': 'homer', 'mom': 'marge', 'size': 6}

In [269]:
# delete an entry
del family['cat']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [270]:
# dictionary value can be a list
family['kids'] = ['bart', 'lisa']
family

{'dad': 'homer', 'kids': ['bart', 'lisa'], 'mom': 'marge', 'size': 6}

In [271]:
family.pop('dad')

'homer'

In [273]:
# add multiple entries
family.update({'baby':'maggie', 'grandpa':'abe'})
family

{'baby': 'maggie',
 'grandpa': 'abe',
 'kids': ['bart', 'lisa'],
 'mom': 'marge',
 'size': 6}

**Access values more safely with get:**

In [274]:
family['mom']

'marge'

In [275]:
# equivalent to a dictionary lookup
family.get('mom')

'marge'

In [276]:
# this would throw an error since the key does not exist
# family['grandma']

In [281]:
# return None if not found
family.get('grandma')

In [282]:
# provide a default return value if not found
family.get('grandma', 'not found')

'not found'

**Access a list element within a dictionary:**

In [283]:
family['kids'][0]

'bart'

In [284]:
family['kids'].remove('lisa')
family

{'baby': 'maggie',
 'grandpa': 'abe',
 'kids': ['bart'],
 'mom': 'marge',
 'size': 6}

**String substitution using a dictionary:**

In [286]:
'youngest child is %(baby)s' % family

'youngest child is maggie'

## 10. Sets