# Group Concat Statement

In [3]:
# Ignore
%load_ext sql
%sql sqlite://

    %config SqlMagic.feedback = False

IndentationError: unexpected indent (<ipython-input-3-9e6741e7c0d8>, line 5)

In [6]:
%%sql

CREATE TABLE `group_c` (
`parent_id` int(11) DEFAULT NULL,
`child_id` int(11) DEFAULT NULL
);
INSERT INTO group_c(parent_id, child_id)
VALUES (1,1),(1,2),(1,3),(2,1),(2,4),(1,4),(2,6),(3,1),(3,2),(4,1),(4,1)

[]

In [11]:
%%sql 

SELECT DISTINCT parent_id, child_id
FROM group_c
ORDER BY parent_id;

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 1),
 (2, 4),
 (2, 6),
 (3, 1),
 (3, 2),
 (4, 1)]

In [33]:
%%sql

SELECT DISTINCT
parent_id
FROM group_c
GROUP BY parent_id
ORDER BY parent_id;

[(1,), (2,), (3,), (4,)]

In [38]:
%%sql

SELECT DISTINCT child_id 
FROM group_c
ORDER BY child_id

[(1,), (2,), (3,), (4,), (6,)]

In [44]:
%%sql

SELECT DISTINCT
parent_id, , GROUP_CONCAT(DISTINCT child_id ORDER BY child_id) AS child_id_list
ORDER BY parent_id;

(sqlite3.OperationalError) near ",": syntax error [SQL: 'SELECT DISTINCT\nparent_id, , GROUP_CONCAT(DISTINCT child_id ORDER BY child_id) AS child_id_list\nORDER BY parent_id;']

In [ ]:
%%sql
SELECT DISTINCT parent_id, 

FROM group_c
GROUP BY parent_id