# Converting CSV Data into Feather Data
### Import Preliminaries 
Source: https://www.kaggle.com/kunalkotian/easily-load-train-csv-w-o-crash-save-feather-file

In [1]:
import pandas as pd

In [26]:
city = pd.DataFrame(pd.read_csv('Data/GlobalLandTemperaturesByCity.csv'))

In [29]:
city.memory_usage(index=True).sum()

481555952

                 dt  AverageTemperature  AverageTemperatureUncertainty  \
0        1743-11-01               6.068                          1.737
1        1743-12-01                 NaN                            NaN
2        1744-01-01                 NaN                            NaN
3        1744-02-01                 NaN                            NaN
4        1744-03-01                 NaN                            NaN
5        1744-04-01               5.788                          3.624
6        1744-05-01              10.644                          1.283
7        1744-06-01              14.051                          1.347
8        1744-07-01              16.082                          1.396
9        1744-08-01                 NaN                            NaN
10       1744-09-01              12.781                          1.454
11       1744-10-01               7.950                          1.630
12       1744-11-01               4.639                          1.302
13       1744-12-01               0.122                          1.756
14       1745-01-01              -1.333                          1.642
15       1745-02-01              -2.732                          1.358
16       1745-03-01               0.129                          1.088
17       1745-04-01               4.042                          1.138
18       1745-05-01                 NaN                            NaN
19       1745-06-01                 NaN                            NaN
20       1745-07-01                 NaN                            NaN
21       1745-08-01                 NaN                            NaN
22       1745-09-01                 NaN                            NaN
23       1745-10-01                 NaN                            NaN
24       1745-11-01                 NaN                            NaN
25       1745-12-01                 NaN                            NaN
26       1746-01-01                 NaN                            NaN
27       1746-02-01                 NaN                            NaN
28       1746-03-01                 NaN                            NaN
29       1746-04-01                 NaN                            NaN
...             ...                 ...                            ...
8599182  2011-04-01              12.554                          0.153
8599183  2011-05-01              14.066                          0.149
8599184  2011-06-01              16.273                          0.267
8599185  2011-07-01              16.020                          0.179
8599186  2011-08-01              16.975                          0.139
8599187  2011-09-01              15.788                          0.109
8599188  2011-10-01              11.337                          0.221
8599189  2011-11-01               6.990                          0.097
8599190  2011-12-01               5.722                          0.261
8599191  2012-01-01               4.348                          0.293
8599192  2012-02-01               0.376                          0.290
8599193  2012-03-01               7.863                          0.135
8599194  2012-04-01               8.101                          0.168
8599195  2012-05-01              14.169                          0.191
8599196  2012-06-01              14.702                          0.342
8599197  2012-07-01              17.329                          0.287
8599198  2012-08-01              18.588                          0.224
8599199  2012-09-01              14.333                          0.207
8599200  2012-10-01              10.358                          0.208
8599201  2012-11-01               6.469                          0.189
8599202  2012-12-01               4.303                          0.341
8599203  2013-01-01               1.479                          0.217
8599204  2013-02-01               1.559                          0.304
8599205  2013-03-01               2.253                          0.267
8599206  2013-04-01               7.710                          0.182
8599207  2013-05-01              11.464                          0.236
8599208  2013-06-01              15.043                          0.261
8599209  2013-07-01              18.775                          0.193
8599210  2013-08-01              18.025                          0.298
8599211  2013-09-01                 NaN                            NaN

           City      Country Latitude Longitude
0         Århus      Denmark   57.05N    10.33E
1         Århus      Denmark   57.05N    10.33E
2         Århus      Denmark   57.05N    10.33E
3         Århus      Denmark   57.05N    10.33E
4         Århus      Denmark   57.05N    10.33E
5         Århus      Denmark   57.05N    10.33E
6         Århus      Denmark   57.05N    10.33E
7         Århus      Denmark   57.05N    10.33E
8         Århus      Denmark   57.05N    10.33E
9         Århus      Denmark   57.05N    10.33E
10        Århus      Denmark   57.05N    10.33E
11        Århus      Denmark   57.05N    10.33E
12        Århus      Denmark   57.05N    10.33E
13        Århus      Denmark   57.05N    10.33E
14        Århus      Denmark   57.05N    10.33E
15        Århus      Denmark   57.05N    10.33E
16        Århus      Denmark   57.05N    10.33E
17        Århus      Denmark   57.05N    10.33E
18        Århus      Denmark   57.05N    10.33E
19        Århus      Denmark   57.05N    10.33E
20        Århus      Denmark   57.05N    10.33E
21        Århus      Denmark   57.05N    10.33E
22        Århus      Denmark   57.05N    10.33E
23        Århus      Denmark   57.05N    10.33E
24        Århus      Denmark   57.05N    10.33E
25        Århus      Denmark   57.05N    10.33E
26        Århus      Denmark   57.05N    10.33E
27        Århus      Denmark   57.05N    10.33E
28        Århus      Denmark   57.05N    10.33E
29        Århus      Denmark   57.05N    10.33E
...         ...          ...      ...       ...
8599182  Zwolle  Netherlands   52.24N     5.26E
8599183  Zwolle  Netherlands   52.24N     5.26E
8599184  Zwolle  Netherlands   52.24N     5.26E
8599185  Zwolle  Netherlands   52.24N     5.26E
8599186  Zwolle  Netherlands   52.24N     5.26E
8599187  Zwolle  Netherlands   52.24N     5.26E
8599188  Zwolle  Netherlands   52.24N     5.26E
8599189  Zwolle  Netherlands   52.24N     5.26E
8599190  Zwolle  Netherlands   52.24N     5.26E
8599191  Zwolle  Netherlands   52.24N     5.26E
8599192  Zwolle  Netherlands   52.24N     5.26E
8599193  Zwolle  Netherlands   52.24N     5.26E
8599194  Zwolle  Netherlands   52.24N     5.26E
8599195  Zwolle  Netherlands   52.24N     5.26E
8599196  Zwolle  Netherlands   52.24N     5.26E
8599197  Zwolle  Netherlands   52.24N     5.26E
8599198  Zwolle  Netherlands   52.24N     5.26E
8599199  Zwolle  Netherlands   52.24N     5.26E
8599200  Zwolle  Netherlands   52.24N     5.26E
8599201  Zwolle  Netherlands   52.24N     5.26E
8599202  Zwolle  Netherlands   52.24N     5.26E
8599203  Zwolle  Netherlands   52.24N     5.26E
8599204  Zwolle  Netherlands   52.24N     5.26E
8599205  Zwolle  Netherlands   52.24N     5.26E
8599206  Zwolle  Netherlands   52.24N     5.26E
8599207  Zwolle  Netherlands   52.24N     5.26E
8599208  Zwolle  Netherlands   52.24N     5.26E
8599209  Zwolle  Netherlands   52.24N     5.26E
8599210  Zwolle  Netherlands   52.24N     5.26E
8599211  Zwolle  Netherlands   52.24N     5.26E

[8599212 rows x 7 columns]

In [15]:
# Convert dataframe data types into a dictionary, for referencing
types_dict = city.dtypes.to_dict()
types_dict

{'AverageTemperature': dtype('float64'),
 'AverageTemperatureUncertainty': dtype('float64'),
 'City': dtype('O'),
 'Country': dtype('O'),
 'Latitude': dtype('O'),
 'Longitude': dtype('O'),
 'dt': dtype('O')}

In [16]:
city = pd.read_csv('Data/GlobalLandTemperaturesByCity.csv', low_memory=True, dtype=types_dict)

### Exporting Data using the Feather Format

In [24]:
city.to_feather('Data/city')

### Reading Feather Documents

In [25]:
city_feather = pd.read_feather('Data/city')

### Comparing Reading Times

In [21]:
%%timeit
city_feather = pd.read_feather('Data/city')

1 loop, best of 3: 3.74 s per loop

In [23]:
%%timeit
city = pd.read_csv('Data/GlobalLandTemperaturesByCity.csv')

1 loop, best of 3: 7.26 s per loop

In [30]:
city_feather.memory_usage(index=True).sum()

481555952